@charset "utf-8";
*{margin:0;padding:0}

body{
    font-size:15px;
    line-height:1.5;
    letter-spacing:0.5px;
    font-family: 'Montserrat', sans-serif;
     
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
a,figure,h1,h2,h3,h4,h5,h6,p,ul{
    margin:0;
    padding:0;
    list-style:none;
    outline:0!important;
    text-decoration:none!important;
}

img{max-width: 100%;}

.demo{margin:150px auto;width:980px;}
.demo h1{margin:0 0 25px;}
.demo h3{margin:10px 0;}
pre{background-color:#FFF;}

@media only screen and (max-width:780px){
.demo{margin:5%;width:90%;}
.how-use{display:none;float:left;width:300px;}
}

#tabInfo{display:none;}



.profile{width: 100%; padding: 20px 0;}

.resp-tabs-list li span{margin-right: 8px;}


.btn_sub{
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0065b2;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn_edit {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ec1738;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.top-profile{padding: 15px 5px 20px;
border-bottom: 1px solid #96c4e8;
display: flex;
margin-bottom: 30px;}

.pp{}
.profile_pic{overflow: hidden;margin-right: 15px; }
.profile_pic img{ width: 72px;
height:62px;
border-radius: 90px;
overflow: hidden;}
.profile_text{  }
.profile_text h2{ font-size: 18px; font-weight: 600; color: #fff; }
.profile_text p{ font-size: 15px; color: #fff; }

.address3 {
    padding: 15px !important;
    margin: 0 10px 15px 0 !important;
    border: 1px solid #8ad0fa !important;
    float: left !important;
    width: 48.6% !important;
    min-height: 300px !important;
    background: #eff6fa !important;
}

.btn2 {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #23970c;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 13px;
}

.tickets{width: 50%; margin: 0 auto;}

.edit_adrs{ margin: 0; background: #e1e1e1;
padding: 5px;
border-radius: 2px;}
.edit_adrs li{ list-style:none; display:inline-block; padding:0 3px;}
.ed_text{margin: 0;
font-size: 15px;
font-weight: 600;
color: #0065b2;}
.chk{margin: 3px 0 0 0;}

.not-edit{ background-color: #e8e8e8 !important;
color: #807f7f; padding: 10px !important; margin-bottom: 0px;}

.resp-tabs-container h2{
background: #e30b2c;
color: #ffffff;
font-size: 18px;
padding: 7px 12px;
font-weight: 600;
margin-bottom: 25px;
}
.form-group a {
    background: #0065b2;
    padding: 6px 13px;
    color: #ffffff;
    border-radius: 3px;
}


/*portal login css*/


.verify_phone_otp_main{
max-width: 477px;
background: #007dc6;
border: 3px solid #fff;
box-shadow: 0 5px 10px #ccc;
margin: 50px auto 50px auto;
moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
padding:0px 20px 40px;
text-align: center;

}

.phone_send_otp{margin-bottom: 0px;
padding: 40px 0 0;
overflow: hidden;}
.phone_send_otp span{ margin-right: 1px !important;font-size: 15px; 
    font-weight: 600;color: #000 !important;background: #fff;border-radius: 3px 0px 0px 3px;
    padding: 9px 14px;float: left; }


.phone_send_otp input{
width: 62.7%;
border-radius: 0px 0 0 0px;
border: none;
padding: 9px;
height: 40px;
float: left;

 }

 .phone_send_otp button{
width: 105px;
height: 40px;
float: left;
font-size: 15px;
color: #fff;
border: none;
margin: 0;
cursor: pointer;
border-radius: 0px 5px 5px 0px;

 }


.verify_otp {
    padding: 40px 0 0;
    overflow: hidden;
}

 .verify_otp input{
width: 74%;
border-radius: 5px 0 0 5px;
border: 1px solid #fde321;
padding: 8px;
    float: left;

 }

 #vrf_otp_btn{
width: 110px;
height: 40px;
float: right;
font-size: 16px;
color: #000;
border: none;
margin: 0;
cursor: pointer;
border-radius: 0px 5px 5px 0px;
float: left;

 }

.p-text{ margin-top: 30px; }
 .p-text h3{
    border-bottom: 3px double #f1f1f1;
    position: relative;
    z-index: 0;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.btn_sub {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0065b2;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 107px;
    height: 38px;
}

.btn_edit {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ec1738;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 90px;
    height: 38px;
}

.btn-default:hover {
color: #fff;
background-color: #ed2443;
border-color: #2f3235;
}

#invoice{padding: 7px 10px;}


.address-field{
    padding: 10px 10px !important;
    font-size: 14px;
    color: #969ca7;
    border: 2px solid #e6ebed;
    background: #f5f9fa;
    background-color: rgb(245, 249, 250);
    height: 42px !important;
    border-radius: 3px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 10px;
}

.form-control {
padding: 0 10px;
font-size: 14px;
color: #444;
border: 1px solid #c1c1c1;
background: #fff;
height: 42px !important;
border-radius: 2px;
box-shadow: none;
width: 100%;
margin-bottom: 15px;
}

.resp-vtabs .resp-tabs-list li a {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.fg2{border-bottom: 1px dashed #0065b2;
padding: 5px;}



.form-group #phone_number{background: #000;}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e8e8e8;
    opacity: 0.6;
}
.control-label{color: #000; font-weight: 600;}

.modal-header {
    min-height: 16.43px;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #0065b2;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #fff;
}

.modal-header .close {
    margin-top: -9px;
}
.close {
    float: right;
    font-size: 40px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
.ypn_d{background: #eae7e7;
padding: 10px;
border-radius: 3px;}

.modal-dialog {
    width: 501px;
    margin: 15px auto !important;
}

@media screen and (max-width: 480px) {

.phone_send_otp input {
    width: 59%;
}
.verify_otp input {
    width: 72%;
}


}

@media screen and (max-width: 414px) {

.phone_send_otp input {
    width: 51%;
}
.verify_otp input {
    width: 67%;
}


}