/*123*/
@charset "utf-8";
/* CSS Document */
.inner_inp_search option {opacity:0 !important;}
.inner_inp_search.ng-pristine.ng-valid.select2-hidden-accessible option {opacity:1 !important;}
html, body {
	width:100%;
	margin:0px;
	padding:0px;
	/*font-family:'Roboto', sans-serif;*/
	font-family: 'Lato', sans-serif !important;
}
p {margin:0px;}
img {max-width:100%;}
a {text-decoration:none;outline:none !important;}
a:hover, a:focus, a:active {
/*	color:#ccc !important;
	text-decoration:none;*/
}
ul {list-style-type:none;}
* {
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
	text-decoration:none;
}
.no-padding {padding:0 !important;}
.section1, .section2, .section3, .section4, .section5, .section6 {width:100%;margin:0px;}
/*atanu new html start tag */
.container2 {overflow:hidden;width:1170px;}
.s1_bg {background:#4d4d4d;padding:18px 0px;}
.top_right_contact {padding:0;margin:0;text-align:right;}
.top_right_contact li {list-style:none;display:inline-block;padding:0 10px;border-right:2px solid #F3D7AE;line-height:13px;}
.top_right_contact li a {color:#ffe6c0;font-family: 'Montserrat', sans-serif;font-size:17px;text-decoration:none;}
.top_right_contact li a span {font-weight:600;}
.top_right_contact li a:hover {color:#fff;}
.top_right_contact li:last-child {border-right:none;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {color: #ec1839;}
.dropdown-menu>li>a {
display: block;
padding: 8px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
border-bottom: 1px solid #f1f1f1;
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 260px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #f9dfb7;
-webkit-background-clip: padding-box;
background-clip: padding-box;
/* border: 1px solid #ccc; */
/* border: 1px solid rgba(0,0,0,.15); */
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
top: 65px;
}
.dropdown-menu>li>a {
display: block;
padding: 8px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
border-bottom: 1px solid #c1ab89;}
.s2_bg {background:#ffe6c0;padding:10px 0px;}
.section2 {background:#ffe6c0;padding:10px 0px;}
#navbar {padding:0;}
.navbar-inverse {
background:none;
border:none;
border-color:none;
text-align: right;
float: right;
margin-bottom: 0px;
padding: 6px 0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
color: #347eb7;
background:none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
color: #347eb7;
background:none;
}
.navbar-inverse .navbar-nav>li>a {
color: #4d4d4d;
font-size:17px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
}
.banner_section {width:100%;padding:0;}
.banner_pic {position:relative;}
.banner_text {
position: absolute;
right: 50px;
z-index: 9999999999;
width: 38%;
top: 0;
padding: 86px 100px 0 0;
text-align: right;
}
.banner_text h2 {
color: #0065b2 !important;
font-size:42px !important;
font-family: 'Montserrat', sans-serif;
font-weight:800 !important;
text-transform:uppercase;
}
.banner_text p {
color: #4d4d4d;
font-size:19px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height:24px;
}
.banner_text a {
display: block;
background: #0065b2;
padding: 7px 0;
font-size: 16px;
color: #ffe6c0;
width: 151px;
/* float: left; */
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
float: right;
text-decoration: none;
}
.banner_text a span {margin-right:10px;}
.banner_text a:hover {background:#ec1839;}
.section3 {padding:90px 0;}
.s3_bg {background:#ffffff;display: -webkit-flex; /* Safari */display: flex;}

.gimg_box {background: #4d4d4d;}
.gimg_box:hover{}



.gimg_box img {width:100%;}
.gimg_box:last-child {background:none;}
.gbox_main {background: #4d4d4d;
padding: 87px 60px !important;
min-height: 299px !important;
}
.g_text_box {}
.g_text_box h2 {
font-size: 19px !important;
font-weight: 600 !important;
color: #0065b2;
margin-top: 10px;
text-align: center;
}

.g_text_box h2:hover{color: #ed2443;}
.gimg_box a:hover{color: #ed2443;}

.g_enquire_now {}
.g_enquire_now a {
display: block;
background: #ffe6c0;
padding: 7px 0;
font-size: 16px;
color: #4d4d4d;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now a span {margin-right:8px;}
.g_enquire_nowc {}
.g_enquire_nowc a {
display: block;
background: #0065b2;
padding: 7px 0;
font-size: 16px;
color: #fff;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;
}
.g_enquire_nowc a span {margin-right:8px;}
.g_enquire_nowmo {}
.g_enquire_nowmo a {display: block;background: #0065b2;padding: 7px 0;font-size: 16px;color: #fff;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmo a span {margin-right:8px;}
.g_enquire_nowmc{}
.g_enquire_nowmc a {display: block;background: #0065b2;padding: 7px 0;font-size: 16px;color: #fff;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmc a span {margin-right:8px;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.section4 {padding:24px 0 0px 0;}
.s4_bg {background:#ffffff;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg4 {position:relative;}
.banner4_text {position: absolute;z-index: 99;left: 80px;top: 0px;width: 36%;padding: 25px 0;}
.banner4_text h2 {font-size:40px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:18px 0 15px 0;}
.banner4_text p {color: #4d4d4d;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.section5 {padding:0px 0 0px 0;}
.s5_bg {background:#ffe6c0;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg5 {position:relative;}
.banner5_text {position: absolute;z-index: 99;right: 130px;top: 0px;width: 31%;padding: 10px 0;text-align: left;}
.banner5_text h2 {font-size:40px !important;font-weight:800 !important;color:#fff;text-transform:uppercase;margin:0px 0 5px 0; padding: 0 !important;}
.banner5_text p {color: #fff;font-size: 15.5px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:20px;}
.g_enquire_now5 {text-align:left;float:left;}
.g_enquire_now5 a {
display: block;
background: #ffffff;
padding: 7px 0;
font-size: 16px;
color: #0065b2;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now5 a span {margin-right:5px;}
.section6 {padding:0;}
.s6_bg { background: #dbd9da;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg6 {position:relative;}
.banner6_text {position: absolute;z-index: 99;left: 90px;top: 0px;width: 36%;padding: 66px 0;}
.banner6_text h2 {font-size:33px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:15px 0 10px 0;}
.banner6_text p {color: #4d4d4d;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.banner6_text.padd_other_ad {
    padding: 17px 0 !important;
}
.about_text_box.about_text_box_b {
    background: #0065b2;
    padding: 62px 56px 98px !important;
    border-radius: 5px;
}
.section7 {padding:0px 0 0px 0;}
.s7_bg {background: #337ab7;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg7 {position:relative;}
.banner7_text {position: absolute;z-index: 99;right: 130px;top: 0px;width: 33%;padding: 66px 0;text-align: right;}
.banner7_text h2 {font-size:40px !important;font-weight:800 !important;color:#ffffff;text-transform:uppercase;margin:18px 0 15px 0;}
.banner7_text p {color: #ffffff;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.g_enquire_now7 {text-align:right;float:right;}
.g_enquire_now7 a {
display: block;
background: #ffffff;
padding: 7px 0;
font-size: 16px;
color: #0065b2;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now7 a span {margin-right:5px;}
.section8 {padding:0;}
.s8_bg {background:#ffe6c0;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg8 {position:relative;}
.banner8_text {position: absolute;z-index: 99;left: 80px;top: 0px;width: 36%;padding: 25px 0;}
.banner8_text h2 {font-size:40px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:18px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.section9 {padding:0px 0 0px 0;}
.s9_bg {background:#2e6aa2;}
.best_product {text-align:center;}
.best_product h2 {font-size:50px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg9 {position:relative;}
.banner9_text {position: absolute;z-index: 99;right: 130px;top: 0px;width: 35%;padding: 10px 0;text-align: left;}
.banner9_text h2 {font-size:40px !important;font-weight:800 !important;color:#ffffff;text-transform:uppercase;margin:5px 0 5px 0;}
.banner9_text p {color: #ffffff;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.g_enquire_now9 {text-align:left;float:left;}
.g_enquire_now9 a {
display: block;
background: #ffffff;
padding: 7px 0;
font-size: 16px;
color: #0065b2;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now9 a span {margin-right:5px;}
.section10 {padding:80px 0;}
.s10_bg {background:#ffffff;}
.about_text_box {background:#0065b2;padding: 88px 80px 111px;}
.about_text_box h2 {font-size: 40px !important;font-weight: 800 !important;color: #ffffff;text-transform: uppercase;margin: 18px 0 15px 0;}
.about_text_box p {color: #ffffff;font-size: 16px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 22px;}
.about_enquire_now a {display: block;background: #ffffff;padding: 7px 0;font-size: 16px;color: #4d4d4d;width: 151px;margin: 10px 0 0 0;
text-align: center;border-radius: 4px;text-decoration: none;}
.about_enquire_now a span{margin-right:8px;}
.footer_section1 {width:100%;background:#0065b2;padding:30px 0;}
.get_touch {text-align:center;}
.get_touch h2 {font-size: 54px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 18px 0 15px 0;}
.quick_enquiry h2 {font-size: 24px;font-weight: 700;color: #ffe6c0;margin: 18px 0 15px 0;}
.form-control {
display: block;
width: 100%;
height: 45px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #ffffff14;
background-image: none;
border: 1px solid #444444;
border-radius: 2px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control.message {display: block;width: 100%;height: 125px;}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
color: #000;
background-color: #ffe6c0;
border-color: #ffe6c0;}
.products h2 {font-size: 24px;font-weight: 700;color: #ffe6c0;margin: 18px 0 15px 0;}
.products_list {padding:0;margin: 0 0 30px;}
.products_list li {list-style:none;display:block;padding:10px 5px;border-bottom:1px solid #ffe6c0;}
.products_list li a {font-size: 18px;font-weight: normal;color: #ffe6c0;margin: 18px 0 15px 0;text-decoration:none;}
.products_list li a span {margin-right:10px;}
.fbox {padding: 20px 30px;}
.footer_section2 {background:#ffe6c0;padding:30px 0;}
.link_fp {padding:0;margin:0;}
.link_fp li {list-style:none;display:block;padding:10px 0;margin:0;border-bottom: 1px solid #f9e6c0;line-height:13px;color:#f9e6c0;font-size:15px;font-weight:600;text-decoration:none;}
.link_fp li a {color:#ffe6c0;font-size:16px;font-weight:600;}
.link_fp li:last-child {border:none;}
.link_fp li:first-child {padding-left:0;}
.logo-footer {margin:40px 0 25px 0;}
.social_link {padding:0;margin:20px 0 0 0;text-align:center;}
.social_link li {list-style:none;display:inline-block;margin:3px;}
.social_link li a{text-decoration: none;
border: 1px solid #ffe6c0;
padding: 8px 15px;
border-radius: 0;
color: #ffe6c0;}
.mail_footer{ margin:91px 0 22px 0;}
.mail_footer a{font-size: 16px;color: #ffe6c0;}
.support_and_services{ border:2px solid #4d4d4d; margin:55px 0 0 0;}
.gimg_box2{ border-bottom:2px solid #4d4d4d;}
.g_text_box2{padding:30px; min-height: 373px;}
.g_text_box2 h2{font-size: 24px !important;font-weight: 800 !important;color: #4d4d4d;margin:0 0 27px 0;}
.g_text_box2 h3{font-size: 18px;font-weight: 800;color: #4d4d4d;margin:0 0 30px 0;}
.gimg_box3{ border-bottom:2px solid #4d4d4d;}
.g_text_box3{padding:30px;}
.g_text_box3 h2{font-size: 24px !important;font-weight: 800 !important;color: #4d4d4d;margin:0 0 27px 0;}
.g_text_box2 h3{font-size: 18px;font-weight: 800;color: #4d4d4d;margin:0 0 30px 0;}
.new_features{ margin:0px 0 30px 0;}
.new_features li{ list-style:none; display:inline-block; padding: 0 10px;}
.new_features li a{ text-decoration:none; color: #4d4d4d; font-weight:600;}
.new_features li span{ margin:0 10px 0 0 ;}
.new_features li a i{font-weight:600;}
.support_btn{}
.support_btn a {display: block;background: #0065b2;padding: 7px 12px;font-size: 16px;color: #ffe6c0;width: 200px;margin: 10px 0 0 0;text-align: left;border-radius: 4px;text-decoration: none;}
.support_btn a span{ margin-right:8px;}
.new_features_btn a {display: block;background: #0065b2;padding: 7px 12px;font-size: 16px;color: #ffe6c0;width:136px;margin: 10px 0 0 0;text-align: left;border-radius: 4px;text-decoration: none;}
.new_features_btn a span{ margin-right:8px;}
.mk_desktop{ display:block;}
.mk_mobile{ display:none;}
.banner_desktop{ display:block;}
.banner_mobile{ display:none;}

/*Inner page css product*/

.section33 {
    padding: 70px 0;
	background: #ffe6c0;
}

.inner_banner_section{ width:100%; padding:0;position:relative;}
.product_banner{ }
.product_banner_text{position: absolute;
top: 95px;
left: 98px;
width: 34%;}
.product_banner_text h2{font-size:45px;font-weight:800;color:#4d4d4d; margin:0 0 5px 0;}
.product_banner_text h3{font-size:35px;font-weight:800;color:#4d4d4d;  margin:0 0 5px 0;}
.product_banner_text p{font-size:14px;font-weight:600;color:#4d4d4d; margin:0 0 5px 0;}

.left-panel{ background:#4d4d4d; padding:40px 30px;}
.product_categ_list{ padding:0; margin:0;}
.product_categ_list li{ list-style:none; display:block; padding:5px 0;}
.product_categ_list li a{ font-size:18px; color:#ffe6c0; font-weight:300; font-family: 'Montserrat', sans-serif; text-decoration:none;}
.product_categ_list li a{ font-weight:300;}
.acc_head h2{font-size:20px; color:#ffe6c0; font-weight:300; font-family: 'Montserrat', sans-serif;}
.acc_head h3{font-size:20px; color:#ffe6c0; font-weight:300; font-family: 'Montserrat', sans-serif; margin: 8px 0 12px; font-weight:700;}

.right_panel_text{ margin-bottom:30px;}
.right_panel_text h2{font-size:45px;font-weight:800;color:#4d4d4d; text-transform:uppercase; margin:0 0 15px 0;}
.right_panel_text p{font-size:16px;font-weight:normal;color:#867d70; line-height:22px;}




.pc_text_box{}
.pc_text_box h2 {font-size:20px !important;font-weight:800 !important;color:#ffe6c0 !important;}
.g_enquire_now {}
.g_enquire_now a {
display: block;
background: #ffe6c0;
padding: 7px 0;
font-size: 16px;
color: #4d4d4d;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}

.pc_box_main {
    background: #4d4d4d;
    padding: 34px 22px !important;
	min-height:195px !important;
}
.gimg_box_p2 a img{ width:100% !important; min-height:195px !important;}

.product_categ_list_box{ margin-bottom:30px;}
.product_text_box{ background:#666; padding:57px 40px; text-align:center;}
.product_text_box h2{font-size: 24px;font-weight: 700;color: #ffe6c0;margin: 0px 0 5px 0;}
.product_text_box p{font-size: 14px;font-weight:normal;color: #ffe6c0;margin: 8px 0 15px 0;}

.product_text_box a{background: #ffe6c0;
    display: block;
    width: 45%;
    padding: 8px 10px;
    margin: 0 auto;
    border-radius: 4px; text-decoration:none; font-size:14px; color:#4d4d4d;}
	
.pag{ text-align:center; margin: 10px 0 30px 0;}	
.pagination{ padding:0; margin:0}	
.pagination li{ list-style:none; display:inline-block; padding:0 1px;}
.pagination li a{position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #000;
text-decoration: none;
background-color: #fff;
border: 1px solid #4d4d4d;}
	
.g_enquire_now_pc{}
.g_enquire_now_pc a{
	background: #ffe6c0;
display: block;
width: 100%;
text-align:center;

padding: 8px 10px;
margin: 0 auto;
border-radius: 4px;
text-decoration: none;
font-size: 14px;
color: #4d4d4d;
	
	}
.g_enquire_now_pc span{ margin-right:8px;}
	
/*atanu new html end tag */


.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 6px;
}

.owl-theme > .owl-controls .owl-page span::before {

    border-radius: 0;
    display: inline-block;
    font-family: FontAwesome;
    color: #ed2443;
    content: "\f192";
    font-size: 18px;
    opacity: 1 !important;
    overflow: visible;
    padding-left: 1px;

}

.vgwc-text-block{background:#666 !important; padding:15px !important;}
/*.ma-box-content{ padding:0 !important;}*/
.main-container .shop-products .item-col .ma-box-content {padding: 0 0px !important;}
.main-container .shop-products .item-col .ma-box-content {
    border: 2px solid rgb(255, 217, 159)!important;
}
.vgwc-item .ma-box-content {
    border-radius: 3px !important;
}
.vgwc-item .ma-box-content:hover {
    border-color: #ed2443 !important;
}
.vgwc-item .ma-box-content:hover {
    border-radius: 3px !important;
}

.vgwc-item .ma-box-content .vgwc-add-to-cart a {

    display: block;
    position: relative;
    height: auto;
    text-align: center;
    line-height: 14px;
    font-size: 12px !important;
    color: #636363;
    background-color: #ffe6c0 !important;
    border: 2px solid #ffe6c0 !important;
    padding: 6px 15px !important;
    margin-bottom: 5px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

/*.pc_box_main:nth-child(odd) {
  background: red;
}

.pc_box_main:nth-child(even) {
  background: blue;
}
*/
.vgwc-item .ma-box-content .vgwc-text-block .vgwc-product-title a {
    display: block;
    text-transform: uppercase;
	font-size: 20px !important;
font-weight: 700 !important;
color: #ffe6c0 !important;
margin: 0px 0 5px 0 !important;
/*text-align: center !important;*/
}

.vgwc-item .ma-box-content .vgwc-button-group .vgwc-quick a {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
    text-indent: -9999px;
    background: #ffe6c0 !important;
    border: none;
    color: #006cfe !important;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}

/*.main-container .toolbar {
    overflow: hidden;
    margin: 0px -1px 10px;
    position: relative;
    padding: 10px;
    border: 1px solid #ffe6c0 !important;
    background: #4d4d4d !important;
}*/

.mineee_imagee_cstmmee{
width: 100%;
}
.pc_box_main {
    background: #4d4d4d;
    padding: 34px 22px !important;
    min-height: 195px !important;
    border-top: 1px solid #ed2443;
    border-right: 1px solid #ed2443;
    border-left: 1px solid #ed2443;
}
.widget.widget_product_categories ul li.current-cat > a, .widget.widget_product_categories ul li:hover > a, .widget.widget_categories ul li.current-cat > a, .widget.widget_categories ul li:hover > a {
font-size: 18px !important;
color: #ffe6c0 !important;
font-weight: 300 !important;
font-family: 'Montserrat', sans-serif !important;
text-decoration: none !important;
}
.widget.widget_product_categories ul li, .widget.widget_categories ul li {
    border-bottom: 1px solid #464646 !important;
    line-height: 33px !important;
}

.widget.widget_product_categories ul li > a, .widget.widget_categories ul li > a {
font-size: 18px !important;
color: #ffe6c0 !important;
font-weight: 300 !important;
    text-transform: capitalize;
    padding-left: 20px !important;
    position: relative;
}

.cstmmm_designnn_prodiii{width:100%; float:left; clear:both;}
.canging_tabbiii{ background:#666; display: none;}

.main-container .toolbar .woocommerce-result-count {
    color: #fff !important;
}

.main-container .toolbar .view-mode a {
    color: #ffe6c0 !important;
}
.main-container .toolbar .view-mode a.active {
    border: 1px solid #ffe6c0 !important;
}
.main-container .toolbar .view-mode a.active i {
    color: #ffe6c0 !important;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a, .main-container .toolbar .woocommerce-pagination ul.page-numbers li span {
    display: block;
    color: #666 !important;
    float: left ;
    font-size: 17px !important;
    min-width: 30px !important;
    height: 30px !important;
    line-height: 28px !important;
    padding: 0 10px !important;
    font-weight: normal !important;
    background: #eee;
    border: 1px solid #666 !important;
    border-radius: 3px !important;
}

.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.current, .main-container .toolbar .woocommerce-pagination ul.page-numbers li a:hover, .main-container .toolbar .woocommerce-pagination ul.page-numbers li span.current, .main-container .toolbar .woocommerce-pagination ul.page-numbers li span:hover {
    background: #ed2443 !important;
    color: #fff !important;
}

#wpcf7-f6563-o1 .your-email .wpcf7-validates-as-email {
    background: #f5f9fa !important;
    border: 1px solid #f5f9fa !important;
    padding: 3px 15px !important;
    min-height: 28px;
    width: 100%;
}

.wpcf7-form textarea {
    height: 85px !important;
    background: #fff !important;
    border: 1px solid #fff !important;
    padding: 10px 15px !important;
    min-height: 28px;
    width: 100%;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child a span span {
    color: #000 !important;
}


.top-bar-list{ padding: 0; margin: 0; text-align: right;}
.top-bar-list li{  list-style:none; display:inline-block;padding: 0 10px; margin: 0; border-right: 2px solid #ffe6c0;
line-height: 14px;
vertical-align: middle;}
.top-bar-list li a{ font-size: 14px; color: #fff;}

/*.top-bar-list li a .whatsapp{
font-size: 28px;
color: #fff;
background: #25d366;
padding: 2px 7px;
margin: 0px;
border-radius: 2px;
}*/

ul.top-bar-list {
display: flex;
align-items: center;
justify-content: flex-end;
}

.top-bar-list li a span{margin-right: 10px;}

.top-bar-list li:first-child{ border-right: none;} 
.top-bar-list li:last-child{ border-right: none;} 


.top-bar {
    padding: 6px 0 !important;
}
.top-bar.home1 {
padding: 12px 0 !important;
background:#0065b2 !important;
}


#sp-logo .logo a:nth-child(1) {
display: block !important;
}

a.bfamazone {
display: block;
font-size: 13px !important;
background: #ff8d00;
padding: 10px 12px;
border-radius: 2px;
letter-spacing: 0.5px;
color: #fff !important;
}
.top-bar-list li a span {
margin-right: 10px;
width: 25px;
height: 25px;
display: inline-flex;
vertical-align: middle;
padding: 5px 6px;
border-radius: 50%;
align-items: center;
justify-content: center;
}
span.whatsapp {
background: #09c509;
}
span.call {
background: #0065b2;
}
.top-bar-list li a {
display: flex;
align-items: center;
}
div#sp-logo {
display: block !important;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child {
    background: none !important;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child:hover a {
    background: #0065b2 !important;
    }


    span.cart-contents-count {
background: #fff;
color: #2879bd;
position: absolute;
right: -36px;
top: -10px;
font-size: 11px;
font-weight: 600;
margin: 0;
}
a.cart-contents {
position: relative;
}

.owl-theme .owl-controls .owl-page.active span:before {
    color: #ed2443 !important;
}

.postid-15134 #menu-item-15235 a{display:none !important;}

#_hj-f5b2a1eb-9b07_feedback ._hj-f5b2a1eb-9b07_feedback_minimized_label {
    background: #0463b3 !important;
}

.product_list_home{ padding: 0 0 0 20px;margin: 7px 0;}
.product_list_home li{ list-style: disc; margin-bottom:5px;
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height: 22px;
}
.product_list_home li:first-child{  color: #ec1738;} 
.product_list_home li span{ color: #ec1738;font-weight:600; }
.product_list_home li.fec{color: #4d4d4d !important;}

.product_list_home2{ padding: 0 0 0 20px;margin: 7px 0;}
.product_list_home2 li{ list-style: disc; margin-bottom:5px;
color: #fff;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height: 22px;
}
.product_list_home2 li.mk{  color: #ec1738;} 
.product_list_home2 li span{ color: #ec1738; font-weight:600;}
.product_list_home2 li.at{color: #ec1738;}

.product_list_home3{ padding: 0 0 0 0px;margin: 7px 0;}
.product_list_home3 li{ list-style: none; margin-bottom:5px;
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height: 22px;

}


.banner5_text h3{
color: #ffffff;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}
.banner6_text h3{
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}
.banner8_text h3{
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}
.banner9_text h3{
color: #fff;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}

.journey_list{padding-left: 15px !important; margin-bottom: 15px !important;}
.journey_list li{ list-style: disc !important;}



.form-control-bc {
    padding: 0 15px;
    font-size: 14px;
    color: #969ca7;
    border: 1px solid #d4d1d1 !important;
    background: #ffffff;
    border-radius: 3px !important;
    box-shadow: none;
    width: 100%;
    height: 40px !important;
}

.form-control-bc-textarea {
     padding: 0 15px;
    font-size: 14px;
    color: #969ca7;
    border: 1px solid #0065b2 !important;
    background: #ffffff;
    border-radius: 3px !important;
    box-shadow: none;
    width: 100%;
    height: 30px;
}

.main-container .page-content label textarea {
    color: #000;
    background: transparent !important;
    border: 1px solid #0065b2 !important;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 6px !important;
    
}

.form-control-bc-textarea{height: 70px !important;}
.form-control-bc-textarea2{height: 70px !important;}


.main-container.default-page .page-content .entry-content .kf_heading a{color: #0065b2 !important;}

p.service_sup_text{color: #ec1738 ;}


.main-container .page-content label {
    display: inline-block;
    font-weight: normal;
    margin: 0 0px !important;
    width: 100% !important;
}


/*Mobile responsive start hare */

@media only screen and (max-width:1280px) {
.banner4_text {padding: 15px 0;}
.banner6_text {padding: 55px 0;}
.banner7_text {padding: 46px 0;}
.banner8_text {padding: 57px 0;}

.banner5_text h2 {
    font-size: 28px !important;
}
.banner4_text h2 {    font-size: 28px !important;}

.g_enquire_nowmo.btn_2_desn a {
    padding: 8px 8px;
}
.banner6_text h2 {
    font-size: 28px !important;
}

.banner7_text h2 {
    font-size: 28px !important;
    margin: 0px 0 0px 0;
}
.banner8_text h2 {
    font-size: 28px !important;
    margin: 0px 0 0px 0;
}
.banner9_text h2 {
    font-size: 28px !important;
    margin: 0px 0 0px 0;
}
.banner9_text p {
    font-size: 15px;
}
.g_text_box3 h2 {
    font-size: 20px !important;
    margin: 0 0 10px 0;
}
.best_product h2 {
    font-size: 35px !important;
    margin: 18px 0 50px 0;
}
.g_enquire_nowmo.btn_2_desn a {
    padding: 8px 8px !important;
}

.support_and_services {
    margin: 15px 0 0 0;
}

}




@media only screen and (max-width:1024px) {

.top_right_contact li a {font-size: 14px;}
.navbar-inverse .navbar-nav > li > a {font-size: 14px;}
.banner_text {padding: 24px 6px 0 0;text-align: right;}
.section3 {padding: 45px 0;}
.gbox_main {padding: 62px 39px;}
.best_product h2 {font-size: 44px;margin: 18px 0 35px 0;}
.banner4_text {padding: 0px 0;}
.banner5_text {padding: 22px 0;}
.banner6_text h2 {font-size: 33px;margin: 18px 0 15px 0;}
.banner7_text {position: absolute;z-index: 99;right: 90px;top: 0px;width: 33%;padding: 10px 0;text-align: right;}
.banner7_text h2 {font-size: 30px;margin: 0px 0 5px 0;}
.banner8_text {padding: 16px 0;}
.banner8_text h2 {font-size: 30px;margin: 0px 0 0px 0;}
.banner9_text h2 {font-size: 30px;margin: 18px 0 15px 0;}
.banner9_text {padding: 10px 0;right: 80px;width: 45%;}
.section10 {padding: 40px 0;}
.about_text_box {padding: 31px 35px;}
.banner6_text {padding: 5px 0;}
.banner4_text h2 {font-size: 24px !important;margin: 10px 0 0px 0;}
.banner4_text p {font-size: 14px;line-height: 20px;}
.product_list_home li {margin-bottom: 3px;font-size: 14px;line-height: 20px;}
.product_list_home {margin: 5px 0;}
.banner5_text h2 {font-size: 22px !important;margin: 0px 0 3px 0;}
.banner5_text p {font-size: 14px;line-height: 20px;}
.banner5_text h3 { font-size: 14px;line-height: 18px;}
.product_list_home2 li {margin-bottom: 3px;font-size: 14px;line-height: 17px;}
.s5_bg {background: #0064b0;min-height: 355px;}
.about_text_box.about_text_box_b {padding: 19px 24px 28px !important;}
.banner6_text h2 {font-size: 22px !important;}
.g_enquire_nowmo.btn_2_desn a {padding: 5px 8px !important;font-size: 13px;}
.banner7_text.bnr_7_txt {padding: 10px 0 !important;}
.banner7_text h2 {font-size: 22px !important;}
.banner7_text {width: 44%;}
.banner8_text h2 {font-size: 22px !important;margin: 0px 0px 5px 0;}
.banner8_text {width: 41%;}
.banner9_text h2 {font-size: 22px !important;margin: 6px 0px 0px 0 !important;padding-bottom: 5px !important;}
.banner9_text p {font-size: 14px;line-height: 20px;}
.social_link li a {padding: 5px 8px;}

.banner6_text {
    left: 56px;
    width: 38%;
}
.section9 {
    padding: 0px 0 30px 0;
}
.support_and_services {
    margin: 10px 0 0 0;
}
/*inner page product*/
.product_banner_text {position: absolute;top: 50px;left: 41px;width: 50%;}
.pc_text_box h2 {font-size: 20px;}
.g_enquire_now a {padding: 7px 0;font-size: 13px;width: 118px;margin: 10px 0 0 0;}
.pc_box_main {padding: 25px 22px;min-height: 162px;}
.product_text_box a {width: 60%;}
.product_text_box {min-height: 266px;}
.product_text_box h2 {min-height: 54px;}
.product_text_box {padding: 34px 36px;min-height: 208px;}
.acc_head h3 {font-size: 18px;margin: 8px 0 8px;}

}

@media only screen and (max-width: 900px) {
	
.navbar-inverse .navbar-nav > li > a {font-size: 14px;padding: 7px;}
.top_right_contact li a {font-size: 15px;}
.banner_text {width: 38%;top: 0;padding: 5px 0px 0 0;text-align: right;}
.banner_text h2 {font-size: 22px;}
.section3 {padding: 0 0 30px 0;}
.gbox_main {background: #4d4d4d;padding: 39px 20px;min-height: 188px;}
.g_text_box h2 {font-size: 20px;}
.best_product h2 {font-size: 24px;margin: 18px 0 18px 0;}
.banner4_text {padding: 5px 0;}
.banner4_text h2 {font-size: 24px;margin: 5px 0 5px 0;}
.banner4_text p {font-size: 14px;line-height: 18px;}
.g_enquire_now a {padding: 7px 0;font-size: 14px;width: 136px;margin: 0px 0 0 0;}
.banner5_text h2 {font-size: 24px;margin: 0px 0 5px 0;}
.banner5_text p {font-size: 14px;line-height: 18px;}
.banner5_text {width: 31%;padding: 10px 0;}
.banner6_text {padding: 10px 0;}
.banner6_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner6_text p {font-size: 14px;line-height: 18px;}
.banner7_text {padding:11px 0;}
.banner7_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner7_text p {font-size: 14px;line-height: 18px;}
.banner8_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner8_text {padding: 10px 0;}
.banner8_text p {font-size: 14px;line-height: 18px;}
.banner9_text {padding: 12px 0;}
.banner9_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner9_text p {font-size: 14px;line-height: 18px;}
.about_text_box {padding: 15px 20px;}
.about_text_box h2 {font-size: 20px;margin: 5px 0 5px 0;}
.about_text_box p {font-size: 14px;line-height: 19px;}
.get_touch h2 {font-size: 20px;margin: 10px 0 10px 0;}
.quick_enquiry h2 {font-size: 17px;margin: 12px 0 12px 0;}
.products h2 {font-size: 17px;margin: 12px 0 12px 0;}
.products_list li a {font-size: 15px;margin: 15px 0 15px 0;}
.link_fp li {font-size: 14px;}
.link_fp li a{font-size: 14px;}
.footer_section2 {padding: 20px 0;}
.g_text_box3 h2 {font-size: 20px;margin: 0 0 20px 0;}
.g_text_box2 h2 {font-size: 20px;margin: 0 0 20px 0;}
.new_features li a {font-size: 14px;}
.new_features {margin: 0px 0 15px 0;}
.g_text_box2 h3 {margin: 0 0 15px 0;}
.g_text_box2 {padding: 30px;min-height: 303px;}
.support_and_services {min-height: 303px;}

/*inner page product*/

.product_banner_text h3 {font-size: 28px;}
.product_banner_text h2 {font-size: 41px;margin: 0 0 5px 0;}
.right_panel_text h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
}
.left-panel {
    padding: 30px 15px;
}
.acc_head h3 {
    font-size: 15px;
    margin: 8px 0 8px;
}
.product_categ_list li a {
    font-size: 14px;
}
.right_panel_text p {
    font-size: 14px;
    line-height: 20px;
}
.pc_text_box h2 {
    font-size: 15px;
}
.pc_box_main {
    padding: 20px 10px;
	min-height: 125px;
}
.product_text_box a {
    width: 89%;
}

.product_text_box h2 {
    font-size: 20px;
    margin: 0px 0 5px 0;
}

.product_text_box {
    padding: 20px 20px;
    min-height: 208px;
}






}

@media only screen and (max-width: 640px) {

.top_right_contact {text-align: center;}
.top_right_contact li a {font-size: 14px;}
.top_right_contact li {padding: 1px 15px;border-right: none;line-height: 13px;text-align: center;border-right: 3px solid #ffe6c0;}
.logo {text-align:center;}
.navbar-inverse {background-color: #ddbe8f;border: none;border-color: none;text-align: left;float: none;margin-bottom: 0px;padding: 0px 0px;margin: 10px 0 0 0;}
.navbar-toggle {position: relative;float: right;padding: 6px 6px;margin-top: 3px;margin-right: 5px;margin-bottom: 3px;background-color: transparent;background-image: none;border: 1px solid transparent;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 0;border:none;}
.navbar-nav {margin: 0;}
.navbar {position: relative;min-height: auto;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background:none;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #0065b2;}
.navbar-toggle .icon-bar {width: 22px;height: 3px;border-radius: 1px;}
.nav > li {position: relative;display: block;border-bottom: 1px solid #ccac7c;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #000;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 28px;}
.banner_text p {color: #4d4d4d;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 17px;}
.banner_text {position: absolute;right: 12px;z-index: 9999999999;width: 42%;top: 0;padding: 0px 5px 0 0;text-align: right;}
.banner_text h2 {color: #282828;font-size: 15px;font-family: 'Montserrat', sans-serif;font-weight: 800;text-transform: uppercase;}
.banner_text a {display: block;background: #000;padding: 5px 0;font-size: 14px;color: #ffe6c0;width: 131px;float: left;margin: 3px 0 0 0;text-align: center;border-radius: 4px;float: right;text-decoration: none;}
.gbox_main {background: #4d4d4d;padding: 51px 51px;}
.section3 {padding: 0px 0 0 0;}
.best_product h2 {font-size: 18px;margin: 15px 0 15px 0;}
.banner4_text {position: unset;right: 0;top: 0px;width: 100%;padding: 20px;}
.banner4_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.container2 {overflow: hidden;width: auto;}
.banner4_text p {color: #4d4d5b;font-size: 14px;line-height: 18px;}
.section5 {padding: 20px 0 20px 0;}
.banner5_text {position: unset;width: auto;padding: 20px;text-align: left;}
.banner5_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner6_text h2 {font-size: 20px;color: #4d4d5b;margin: 0px 0 15px 0;}
.banner6_text {position: unset;z-index: 99;right: 80px;top: 0px;width: auto;padding:20px 20px;}
.banner6_text p {color: #4d4d5b;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 18px;}
.banner7_text {position: unset;z-index: 99;left: 0;top: 0px;width: auto;padding: 20px;text-align: right;}
.banner7_text h2 {font-size: 20px;margin: 15px 0 15px 0;text-align: left;}
.banner7_text p {font-size: 14px;line-height: 18px;text-align: left;}
.g_enquire_now7 {text-align: center;float:none;}
.g_enquire_now7 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.banner8_text {position: unset;width: auto;padding: 20px 20px;text-align:left;}
.g_enquire_nowmc a {background: #4d4d4d;color: #ffe6c0;}
.banner8_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size: 14px;font-weight: normal;line-height: 18px;}
.g_enquire_now a {width: 63%;padding: 7px 0;font-size: 16px;text-align: center;display: block;border-radius: 4px;text-decoration: none;margin: 17px auto auto auto; }
.banner9_text {position: unset;width: auto;padding: 20px 20px;text-align: left;}
.about_text_box {background: #333;padding: 15px 15px;}
.about_text_box h2 {font-size: 20px;margin: 0px 0 15px 0;}
.about_text_box p {font-size: 14px;line-height: 18px;}
.banner9_text h2 {font-size: 20px;margin: 10px 0 10px 0; text-align:left;}
.g_enquire_now9 {text-align: center;float: none;}
.g_enquire_now9 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.section10 {padding: 20px 0;}
.get_touch h2 {font-size: 20px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 15px 0 15px 0;}
.quick_enquiry h2 {font-size: 17px;color: #ffe6c0;margin: 15px 0 15px 0;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.link_fp {text-align: center;}
.logo-footer {margin: 20px 0 0 0;text-align: center;}
.get_touch h2 {font-size: 20px;margin: 18px 0 15px 0;}
.social_link {padding: 0;margin: 32px 0 0 0;text-align: center;display: block;}
.g_text_box {text-align: center;}
.mk_desktop{ display:none;}
.mk_mobile{ display:block;}
.g_enquire_nowc a {background: #0363b2;padding: 7px 0;font-size: 16px;color: #ffffff;width: 151px;margin: 10px 0 0 0;}
.g_enquire_nowmo a {background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;}
.banner_desktop{ display:none;}
.banner_mobile{ display:block;}
.banner5_text p {text-align: left;}
.g_enquire_now5 {text-align: left;float: none;}
.banner9_text p {text-align: left;}

/*inner page product*/

.product_banner_text {
    position: absolute;
    top: 13px;
    left: 40px;
    width: 50%;
}
.product_banner_text h3 {
    font-size: 21px;
}
.product_banner_text h2 {
    font-size: 34px;
    margin: 0 0 5px 0;
}

.section33 {
    padding: 40px 0;
}
.right_panel_text {
margin-bottom: 30px;
margin-top: 22px;
}
.product_categ_list_box img{ width:100%;}
.gimg_box_p2 img{width:100%;}
.no-padding {
    padding: 0 15px;
}
.pc_box_main{ padding: 0 15px !important;}

.gimg_box_p2{ margin:0 0 20px 0;}

.wpb_single_image .vc_figure {
    width: 100%;
}
.vc_empty_space{display: none !important;}
.vc_empty_space_inner{display: none !important;}
.wpb_text_column {
    width: auto !important;
}
.banner7_text.bnr_7_txt {
    padding: 20px !important;
}

}

@media only screen and (max-width: 480px) {

.top_right_contact {text-align: center;}
.top_right_contact li a {font-size: 14px;}
.top_right_contact li {padding: 10px 0px;border-right: none;line-height: 13px;text-align: center;border-bottom: 1px solid #ffe6c040;}
.logo {text-align:center;}
.navbar-inverse {background-color: #ddbe8f;border: none;border-color: none;text-align: left;float: none;margin-bottom: 0px;padding: 0px 0px;margin: 10px 0 0 0;}
.navbar-toggle {position: relative;float: right;padding: 6px 6px;margin-top: 3px;margin-right: 5px;margin-bottom: 3px;background-color: transparent;background-image: none;border: 1px solid transparent;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 0;border:none;}
.navbar-nav {margin: 0;}
.navbar {position: relative;min-height: auto;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background:none;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #0065b2;}
.navbar-toggle .icon-bar {width: 22px;height: 3px;border-radius: 1px;}
.nav > li {position: relative;display: block;border-bottom: 1px solid #ccac7c;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #000;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 28px;}
.banner_text p {color: #4d4d4d;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 17px;}
.banner_text {position: absolute;right: 12px;z-index: 9999999999;width: 88%;top: 0;padding: 0px 5px 0 0;text-align: right;}
.banner_text h2 {color: #282828;font-size: 15px;font-family: 'Montserrat', sans-serif;font-weight: 800;text-transform: uppercase;}
.banner_text a {display: block;background: #000;padding: 5px 0;font-size: 14px;color: #ffe6c0;width: 131px;float: left;margin: 3px 0 0 0;text-align: center;border-radius: 4px;float: right;text-decoration: none;}
.gbox_main {background: #4d4d4d;padding: 51px 51px;}
.section3 {padding: 0px 0 0 0;}
.best_product h2 {font-size: 18px;margin: 15px 0 15px 0;}
.banner4_text {position: unset;right: 0;top: 0px;width: 100%;padding: 20px;}
.banner4_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.container2 {overflow: hidden;width: auto;}
.banner4_text p {color: #4d4d5b;font-size: 14px;line-height: 18px;}
.section5 {padding: 20px 0 20px 0;}
.banner5_text {position: unset;width: auto;padding: 20px;text-align: left;}
.banner5_text h2 {font-size: 20px;color: #ffffff;margin: 15px 0 15px 0;text-align:left;}
.banner6_text h2 {font-size: 20px;color: #4d4d5b;margin: 0px 0 15px 0;}
.banner6_text {position: unset;z-index: 99;right: 80px;top: 0px;width: auto;padding:20px 20px;}
.banner6_text p {color: #4d4d5b;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 18px;}
.banner7_text {position: unset;z-index: 99;left: 0;top: 0px;width: auto;padding: 20px;text-align: center;}
.banner7_text h2 {font-size: 20px;margin: 15px 0 15px 0;text-align: left;}
.banner7_text p {font-size: 14px;line-height: 18px;}
.g_enquire_now7 {text-align: center;}
.g_enquire_now7 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;/* width: 100%;*/margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.banner8_text {position: unset;width: auto;padding: 20px 20px;text-align:left;}
.banner8_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size: 14px;font-weight: normal;line-height: 18px;}
.g_enquire_now a {width: 63%;padding: 7px 0;font-size: 16px;text-align: center;display: block;border-radius: 4px;text-decoration: none;margin: 17px auto auto auto; }
.banner9_text {position: unset;width: auto;padding: 20px 20px;text-align: left;}
.about_text_box {background: #333;padding: 15px 15px;}
.about_text_box h2 {font-size: 20px;margin: 0px 0 15px 0;}
.about_text_box p {font-size: 14px;line-height: 18px;}
.banner9_text h2 {font-size: 20px;margin: 10px 0 10px 0;text-align:left;}
.g_enquire_now9 {text-align: center;float: none;width: 100%;}
.g_enquire_now9 a {display: block;background: #ffffff;padding: 7px 0;font-size: 16px;color: #0d69b5;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.section10 {padding: 20px 0;}
.get_touch h2 {font-size: 20px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 15px 0 15px 0;}
.quick_enquiry h2 {font-size: 17px;color: #ffe6c0;margin: 15px 0 15px 0;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.link_fp {text-align: center;}
.logo-footer {margin: 20px 0 0 0;text-align: center;}
.get_touch h2 {font-size: 20px;margin: 18px 0 15px 0;}
.support_and_services {margin: 0px 0 0 0;}
.g_text_box2 h2 {font-size: 24px;margin: 0 0 15px 0;}
.g_text_box2 h3 {font-size: 18px;margin: 0 0 10px 0;}
.g_text_box2 {padding: 20px; min-height: auto;}
.g_text_box3 {padding: 20px;}
.g_text_box3 h2 {font-size: 20px;margin: 0 0 15px 0;}
.new_features {margin: 0px 0 16px 0;}
.get_touch h2 {font-size: 20px;margin: 4px 0 4px 0;}
.products_list {padding: 0;margin: 0 0 0px;}
.products h2 {margin: 5px 0 5px 0;}
.link_fp li {width:100%;margin: 0;padding:12px 0;border-right: none;border-bottom: 1px solid #4d4d4d;}
.g_enquire_nowmc a {background: #4d4d4d;padding: 7px 0;font-size: 16px;width: 151px;margin: 10px 0 0 0;color: #ffe6c0;}


.product_banner_text h2 {
    font-size: 25px;
}
.product_banner_text h3 {
    font-size: 16px;
}
.product_banner_text {
    left: 30px;
}
.pc_box_main{ padding: 0 15px !important;}
.pagination li a {
    padding: 6px 10px;
}
.fbox {
    padding: 6px 30px;
}
.row.icon_fst_sec {
    margin-bottom: 0px !important;
}
.d_desk img{width: 100% !important;}

.address3 li {
    font-size: 13px;
}
.banner6_text.padd_other_ad {
    padding: 20px !important;
}
.rd_blog{margin-top: 10px;}
.gimg_box:last-child {
    background: none;
    margin-bottom: 10px;
}

}

@media only screen and (max-width: 360px) {
.top_right_contact {text-align: center;}
.top_right_contact li a {font-size: 14px;}
.top_right_contact li {padding: 10px 0px;border-right: none;line-height: 13px;text-align: center;border-bottom: 1px solid #ffe6c040;}
.logo {text-align:center;}
.navbar-inverse {background-color: #ddbe8f;border: none;border-color: none;text-align: left;float: none;margin-bottom: 0px;padding: 0px 0px;margin: 10px 0 0 0;}
.navbar-toggle {position: relative;float: right;padding: 6px 6px;margin-top: 3px;margin-right: 5px;margin-bottom: 3px;background-color: transparent;background-image: none;border: 1px solid transparent;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 0;border:none;}
.navbar-nav {margin: 0;}
.navbar {position: relative;min-height: auto;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background:none;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #0065b2;}
.navbar-toggle .icon-bar {width: 22px;height: 3px;border-radius: 1px;}
.nav > li {position: relative;display: block;border-bottom: 1px solid #ccac7c;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #000;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 28px;}
.banner_text p {color: #4d4d4d;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 17px;}
.banner_text {position: absolute;right: 12px;z-index: 9999999999;width: 88%;top: 0;padding: 0px 5px 0 0;text-align: right;}
.banner_text h2 {color: #282828;font-size: 15px;font-family: 'Montserrat', sans-serif;font-weight: 800;text-transform: uppercase;}
.banner_text a {display: block;background: #000;padding: 5px 0;font-size: 14px;color: #ffe6c0;width: 131px;float: left;margin: 3px 0 0 0;text-align: center;border-radius: 4px;float: right;text-decoration: none;}
.gbox_main {background: #4d4d4d;padding: 51px 51px;}
.section3 {padding: 0px 0 0 0;}
.best_product h2 {font-size: 18px;margin: 15px 0 15px 0;}
.banner4_text {position: unset;right: 0;top: 0px;width: 100%;padding: 20px;}
.banner4_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.container2 {overflow: hidden;width: auto;}
.banner4_text p {color: #4d4d5b;font-size: 14px;line-height: 18px;}
.section5 {padding: 20px 0 20px 0;}
.banner5_text {position: unset;width: auto;padding: 20px;text-align: right;}
.banner5_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0; text-align:left;}
.banner6_text h2 {font-size: 20px;color: #4d4d5b;margin: 0px 0 15px 0;}
.banner6_text {position: unset;z-index: 99;right: 80px;top: 0px;width: auto;padding:20px 20px;}
.banner6_text p {color: #4d4d5b;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 18px;}
.banner7_text {position: unset;z-index: 99;left: 0;top: 0px;width: auto;padding: 20px;text-align: right;}
.banner7_text h2 {font-size: 20px;margin: 15px 0 15px 0; text-align:left;}
.banner7_text p {font-size: 14px;line-height: 18px;}
.g_enquire_now7 {text-align: right;}
.g_enquire_now7 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.banner8_text {position: unset;width: auto;padding: 20px 20px;text-align:left;}
.banner8_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size: 14px;font-weight: normal;line-height: 18px;}
.g_enquire_now a {width: 63%;padding: 7px 0;font-size: 16px;text-align: center;display: block;border-radius: 4px;text-decoration: none;margin: 17px auto auto auto; }
.banner9_text {position: unset;width: auto;padding: 20px 20px;text-align: right;}
.about_text_box {background: #333;padding: 15px 15px;}
.about_text_box h2 {font-size: 20px;margin: 0px 0 15px 0;}
.about_text_box p {font-size: 14px;line-height: 18px;}
.banner9_text h2 {font-size: 20px;margin: 10px 0 10px 0; text-align:left;}
.g_enquire_now9 {text-align: right;width: 100%;}
.g_enquire_now9 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmc a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmc a span {margin-right: 8px;}
.section10 {padding: 20px 0;}
.get_touch h2 {font-size: 20px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 15px 0 15px 0;}
.quick_enquiry h2 {font-size: 17px;color: #ffe6c0;margin: 15px 0 15px 0;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.link_fp {text-align: center;}
.logo-footer {margin: 20px 0 0 0;text-align: center;}
.products h2 {
    margin: 3px 0 3px 0;
}
.fbox {
    padding: 6px 30px;
}
.main-container .page-content {
    padding: 0px 0 0px;
}

}
/*Media CSS Start Here*/