/*body {background:#fff;font-family:Arial, sans-serif;}
p {margin-bottom:20px;}*/
.clearout {height:20px;clear:both;}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {display:none;}
.nbs-flexisel-container {position:relative;max-width:100%;margin:20px 0 0 0;overflow:hidden;}
.nbs-flexisel-ul {position:relative;width:99999px;margin:0px 0 15px 0;padding: 0 0 32px 0;list-style-type:none;text-align:center;  
overflow: auto;}
.nbs-flexisel-inner {position: relative;overflow: hidden;float:left;width:100%;}
.nbs-flexisel-item {float:left;margin:0px;padding:0px;cursor:pointer;position:relative;line-height:0px;}
.nbs-flexisel-item img {max-width: 100%;cursor: pointer;position: relative;margin-top: 0px;margin-bottom: 0px;border: 2px solid #7c7c7a;}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {padding:5px 10px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;      position: absolute;cursor: pointer;z-index: 4;top: 88%;transform: translateY(-50%);   background: rgb(242, 215, 175);color: #fff;     }
.nbs-flexisel-nav-left {right: 40px;}
.nbs-flexisel-nav-left:before {content: "<"}
.nbs-flexisel-nav-left.disabled {opacity: 0.4;}
.nbs-flexisel-nav-right {right: 5px;}
.nbs-flexisel-nav-right:before {content: ">"}
.nbs-flexisel-nav-right.disabled {opacity: 0.4;}