body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;overflow-x: hidden;
}
a{ color:#FFF!important; text-decoration:none!important;}
a:hover{ color:#FFF!important; text-decoration:none!important;}
.tnkfot a{ color:#0063b1!important; text-decoration:none!important;}
.wrapper {
	width:1200px;
	margin:0 auto;
}
.sec01 {
	background:url(../images/topsec.png) no-repeat;
	min-height:680px;
	float:left;
	width:100%;
}
.toll{ font-size:33px; color:#fff;float: left;

width: 100%;margin: 35px 0 0 0;

font-weight: bold;}
.modal-dialog {

    margin: 6% auto 0 auto !important;

}

.modal_cta{
	float:left;
	width:100%;
}

.modal_cta .btt {
    margin: 20px 0 0 0;
    float: left;
}

.tnkfot{ display:none; color:#000;}
.sec02 {
    background-size: cover!important ;}
@media (max-with:768px){
	
.modal-dialog {
    margin: 25% 10% 0 10%!important;}
}
.leftsec {
	width:50%;
	float:left
}
.than h2, .than p{ color:#fff!important;}
.thankk{min-height: 550px; background-size: contain; background: url(../images/topsec1.png) bottom center no-repeat; background-size: 100%;}
.logo {
	margin:30px 0 50px 0;
	float:left;
}
.btt {
	margin:-80px 0 0 0;
	float:left;
}
.mainwhy {
	width:100%;
	float:none;
	text-align:center;
	margin:50px auto 0 auto;
	text-align:center;
	display:block;
	float:left;
}
.header-tit {
	width:100%;
	height:auto;
	float:left;
	text-align:center;
}
.header-tit h2 {
	font-size:45px;
	color:#555555;
	font-weight:normal;
}
.header-tit h2 span {
	font-weight:bold;
}
.arrin {
	clear:both;
	margin:0 auto;
	text-align:center; display:none;
}
.iconin {
	margin:30px auto -50px auto;
	text-align:center;
	position:relative;
	z-index:1;
}
.tnk{ font-size:20px; text-align:right; margin:60px 0 0 0;}
img {
	max-width:100%;
}
.header-tit p {
	font-size:20px;
	text-align:center;
	color:#666;
	margin:15px 0 0 0;
}
.footersec {
	background:#036ab7;
	padding:40px 0;
	float:left;
	width:100%;
}
.fott {
	float:right;
	text-align:right;
	margin:4.5% 0 0 0;
}
.leftsec ul {
	padding:0;
	margin:20px 0 40px 0; width:240px; float:left;
}
.leftsec ul li {
	list-style:none;
	float:left;
	margin:0 0 0 10px;
}
.flow {
	font-size:16px;
	color:#666;
	margin:30px 20px 0 0 !important; width:90px; float:left;
}
.footerin p {
	font-size:16px;
	color:#666;
	margin:30px 0 0 0
}
.footerin {
	padding:0 0 0 0;
	float:left;
	width:100%;
}
.footn{ float:right; width:360px;}

.iconin {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.iconin:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.socl {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.socl:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.mainsd img{
      filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(0); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;
    }

   .mainsd img:hover {
      filter: none;
      -webkit-filter: grayscale(1);
      -webkit-transform: scale(1);
    }

.mainsd img{
	width:100%;
}

 @media (max-width:1199px) {
.wrapper {
width:100%;
padding:0 20px;
box-sizing: border-box; 
}
.sec01 {
min-height:auto;
background-size: cover;
height:540px;
}
.logo {
margin: 21px 0 17px 0;
}
.btt {
margin: 20px 0 0 0;
}
.header-tit h2 {
font-size:28px;margin: 0 0 0 0;
}
.iconin {
 margin: 19px auto -49px auto;
width:50px;
}
 .mainwhy {
margin:40px auto 0 auto
}
}
 @media (max-width:767px) {
	 .toll {

    font-size: 19px;
    color: #fff;
    float: left;
    width: 300px;}
	 .tnkfot{ display:block; font-size:16px; margin:0 0 0 0; color:#0063b1;}
	 .tnk{ text-align:center; margin:10px 0 0 0; display:none;}
	 .tta{ width:100%; text-align:center;}
	 .logo {

    margin: 21px 0 17px 0;
    float: none;}
	 .btt { margin:0 auto; width:100%; text-align:center; padding:30px 0 0 0}
 .sec01 {
min-height:auto;
background-size: auto; padding:0 0 50px 0;
height: auto;
}
.footersec .leftsec {
width:90%;
}
.footersec .fott {
float:left
}
.footerin .leftsec {
width:100%;
text-align:center;
}
.leftsec ul li {
float: none;
display: initial;
}
.flow {
margin:0px 0 -10px 0!important; width:100%; text-align:center;
}
.footerin {
padding:0 0 10px 0;
}
.header-tit p {
padding:0 15px;
box-sizing: border-box;
width:100%;
}

.footerin p {
    margin: 110px 0 -117px 0;}
	.arrin{ display:none; min-height:50px;}
	.leftsec ul {

    padding: 0;
    margin: 46px auto 0 auto;
    width: 240px;
    float: none;

}
.modal-dialog {

    position: relative;
    width: 80%!important;}
	.modal-title{ font-size:18px; font-weight:bold;}
}

@media (max-width:640px) {
	.toll {
		margin: 25px 0 0 0;
	}
	
	.modal_cta .btt {
		margin: 20px 0 0 0;
		padding:0px;
	}
}