.inner_banner_section {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
}

*{
	font-family: 'Lato', sans-serif;
}

.section33 {
    padding: 70px 0 30px 0px;
    background: #fff;
}

.right_panel_text {
    margin-bottom: 0px;
    text-align: center;
}

.right_panel_text h2 {
    font-size: 45px;
    font-weight: 800;
    color: #4d4d4d;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.s3_bg {
    background: #fff;
}

#exTab1 ul.nav.nav-pills{
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

#exTab1 ul.nav.nav-pills li a{
	display: inline-block;
	padding: 13px 20px;
	color: #fff;
	background: #0466b3b8;
	text-transform: uppercase;
	border-radius: 0;
}

#exTab1 ul.nav.nav-pills li.active a, #exTab1 ul.nav.nav-pills li:hover a{
	background: #0466b3;
}

.thumb_image_recip{
	width:100%;
	margin-bottom:15px;
}

.recip_name{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 7px;
}

.recip_by_name{
	font-style: italic;
	font-weight: normal;
	color: #666;
}

.modal-title{
	text-transform:uppercase;
}

.image_name_maker{
	background: #f1f1f1b8;
	margin-bottom: 15px;
}

.image_name_maker .name_and_respname{
	padding:0px 10px 10px 10px;
	text-align:center;
}

.image_name_maker:hover .thumb_image_recip{
	cursor:pointer;
	opacity:0.8;
}

.modal-dialog{
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
    box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
	background:#ffffffc7;
	padding:0px;
	border:none;
}

.modal.fade.in{
	background: #ffffff40;
}

.modal-title {
    text-transform: uppercase;
    font-size: 23px;
    color: #0065b2;
    text-align: center;
	font-weight: bold;
}

.modal-content {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
    box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
	border:1px solid #0065b2;
}

.popup_recip_name {
    font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
	color: #0065b2;
}

.popup_resp_by_name {
    font-style: italic;
    font-weight: normal;
    color: #666;
}

.popup_resp_desc{
	font-size: 15px;
	font-weight: normal;
	color: #6d675d;
	line-height: 20px;
	margin-bottom: 8px;
}

.popup_table{
	width: 100%;
    border: 1px solid #0065b2;
    border-top: none;
    margin-bottom: 15px;
}

.popup_table tr th{
	font-size:16px;
	padding:8px 0px;
	text-align:center;
	background:#0065b2;
	color:#fff;
	width:50%;
}

.method_ul_resp {
	/*list-style-type: decimal;
	margin-left: 20px;*/
}

.popup_table tr td{
	font-size: 14px;
	padding: 4px 0px;
	text-align: center;
	background: #fff;
	color: #232424;
	border-bottom: 1px solid #0065b2;
	border-right: 1px solid #0065b2;
}

.popup_resp_desc strong{
	color: #0065b2;
    font-size: 20px;
}

.method_ul_resp li.popup_resp_desc{
	background: url(https://www.kutchina.com/wp-content/themes/vg-betashop/images/bullet_point.png) no-repeat;
	background-position: 2px 5px;
	padding-left: 20px;
	background-size: 9px;
	margin-bottom: 10px;
}

.popup_table tr td:nth-child(2){
	border-right:none;
}

.popup_table tr:last-child td{
	border-bottom: none;
}

.modal-header .close {
    width: 20px;
    height: 20px;
    background: #0065b2;
    border-radius: 50%;
    opacity: 1;
    color: #fff;
    line-height: 16px;
    font-size: 16px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.modal.fade.in {
    background: #ffffffbf !important;
    z-index: 9999 !important;
}