*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Montserrat', sans-serif;
}
section.prd_bnr{
	background-size: cover !important; 
	background-position: center !important;
	padding: 6% 0;
}
section.prd_bnr h2 {
    color: #0065b2;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
section.prd_bnr p {
    font-size: 17px;
    letter-spacing: 0.5px;
}
span.heading_icon {
    display: block;
    margin: 0 auto;
    width: 70px;
}
span.heading_icon img {
    width: 100%;
}
h2.same_heading {
    text-align: center;
    font-size: 35px !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
    margin: 10px 0px 25px 0;
    color: #0065b2;
    text-transform: uppercase;
}
.feature_box {
    text-align: center;
    margin-top: 0px;
}

.feature_box figure{
	height: 105px;
	width: 105px;
	margin: 0 auto;
}
.feature_box figure img{
width: 100%;
}
.feature_box figcaption p {
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
}
section.key_feature {
    padding: 0 0 65px 0px;
}
section.ask_sec {
    background-position: center !important;
    padding: 60px 0;
    background-size: cover !important;
}
.ask_sec h3 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-top: 0px;
}
.ask_sec p {
    margin: 0;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
.ask_sec .form-group .form-control {
    height: 43px !important;
    border-radius: 10px !important;
    border: none !important;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #000;
    font-weight: 500;
    padding: 0 12px !important;
}
input.gt_call_back {
    background: #fffab0;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.5;
    padding: 14px 0 11px 0;
    outline: none !important;
    color: #ec193a;
    letter-spacing: 0.5px;
}
.sme_p p {
    color: #867d70;
    text-align: justify;
    line-height: 1.5;
    margin: 10px 0;
    font-size: 16px;
}
.term-description ol {
    list-style: decimal;
    list-style-position: inside;
}
.term-description ol li {
    font-size: 15px;
    margin: 12px 0;
}
.enqu_a{
	position: relative;
    margin: 30px 0 30px 0;
}
.enqu_a figure img {
    width: 100%;
}
.enqu_a figcaption {
    position: absolute;
    top: 0;
    padding: 15px;
   /* background: #00000061;*/
   background: #0000001a;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enqu_a figcaption h4 {
    font-size: 27px;
    font-weight: 600;
    color: #fdfdfd;
    letter-spacing: 0.5px;
    margin: 0 0 18px 0;
    text-align: center;
}
.enqu_a figcaption a {
    display: flex;
    text-align: center;
    padding: 12px 0;
    background: #0065b2;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
    width: 155px;
    border-radius: 5px;
    /*margin: 0 auto;*/
    margin: 250px auto auto auto;
    text-decoration: none;
}
.enqu_a figcaption a img {
    width: 20px;
    margin-right: 5px;
}
section.gtl_frm_call {
    padding: 60px 0;
    margin: 60px 0 0 0;
    background: #0065b2;
}
.frm_cal_back {
    display: flex;
    align-items: center;
    justify-content: center;
}
.frm_cal_back h5 {
    margin: 0;
    font-size: 22px;
    color: #fff;
    margin-right: 30px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.frm_cal_back button {
    background: #fff;
    color: #0065b2 !important;
    padding: 12px 23px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
}
.enqu_a span i{margin-right: 8px;}