/*123*/
@charset "utf-8";
/* CSS Document */
.inner_inp_search option {opacity:0 !important;}
.inner_inp_search.ng-pristine.ng-valid.select2-hidden-accessible option {opacity:1 !important;}
html, body {
	width:100%;
	margin:0px;
	padding:0px;
	/*font-family:'Roboto', sans-serif;*/
	font-family: 'Lato', sans-serif !important;
}
p {margin:0px;}
img {max-width:100%;}
a {text-decoration:none;outline:none !important;}
a:hover, a:focus, a:active {
/*	color:#ccc !important;
	text-decoration:none;*/
}
ul {list-style-type:none;}
* {
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
	text-decoration:none;
}
.no-padding {padding:0 !important;}
.section1, .section2, .section3, .section4, .section5, .section6 {width:100%;margin:0px;}
/*atanu new html start tag */
.container2 {overflow:hidden;width:1170px;}
.s1_bg {background:#4d4d4d;padding:18px 0px;}
.top_right_contact {padding:0;margin:0;text-align:right;}
.top_right_contact li {list-style:none;display:inline-block;padding:0 10px;border-right:2px solid #F3D7AE;line-height:13px;}
.top_right_contact li a {color:#ffe6c0;font-family: 'Montserrat', sans-serif;font-size:17px;text-decoration:none;}
.top_right_contact li a span {font-weight:600;}
.top_right_contact li a:hover {color:#fff;}
.top_right_contact li:last-child {border-right:none;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {color: #ec1839;}
.dropdown-menu>li>a {
display: block;
padding: 8px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
border-bottom: 1px solid #f1f1f1;
}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 260px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #f9dfb7;
-webkit-background-clip: padding-box;
background-clip: padding-box;
/* border: 1px solid #ccc; */
/* border: 1px solid rgba(0,0,0,.15); */
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
top: 65px;
}
.dropdown-menu>li>a {
display: block;
padding: 8px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
border-bottom: 1px solid #c1ab89;}
.s2_bg {background:#ffe6c0;padding:10px 0px;}
.section2 {background:#ffe6c0;padding:10px 0px;}
#navbar {padding:0;}
.navbar-inverse {
background:none;
border:none;
border-color:none;
text-align: right;
float: right;
margin-bottom: 0px;
padding: 6px 0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
color: #347eb7;
background:none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
color: #347eb7;
background:none;
}
.navbar-inverse .navbar-nav>li>a {
color: #4d4d4d;
font-size:17px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
}


.my-account-btn span {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    vertical-align: middle;
    padding: 5px 6px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #d20424;
}

.banner_section {width:100%;padding:0;}
.banner_pic {position:relative;}
.banner_text {
position: absolute;
right: 50px;
z-index: 9999999999;
width: 38%;
top: 0;
padding: 86px 100px 0 0;
text-align: right;
}
.banner_text h2 {
color: #0065b2 !important;
font-size:42px !important;
font-family: 'Montserrat', sans-serif;
font-weight:800 !important;
text-transform:uppercase;
}
.banner_text p {
color: #4d4d4d;
font-size:19px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height:24px;
}
.banner_text a {
display: block;
background: #0065b2;
padding: 7px 0;
font-size: 16px;
color: #ffe6c0;
width: 151px;
/* float: left; */
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
float: right;
text-decoration: none;
}
.banner_text a span {margin-right:10px;}
.banner_text a:hover {background:#ec1839;}
.section3 {padding:90px 0;}
.s3_bg {background:#ffffff;display: -webkit-flex; /* Safari */display: flex;}

.gimg_box {background: #4d4d4d;}
.gimg_box:hover{}



.gimg_box img {width:100%;}
.gimg_box:last-child {background:none;}
.gbox_main {background: #4d4d4d;
padding: 87px 60px !important;
min-height: 299px !important;
}
.g_text_box {}
.g_text_box h2 {
font-size: 19px !important;
font-weight: 600 !important;
color: #0065b2;
margin-top: 10px;
text-align: center;
}

.g_text_box h2:hover{color: #ed2443;}
.gimg_box a:hover{color: #ed2443;}

.g_enquire_now {}
.g_enquire_now a {
display: block;
background: #ffe6c0;
padding: 7px 0;
font-size: 16px;
color: #4d4d4d;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now a span {margin-right:8px;}
.g_enquire_nowc {}
.g_enquire_nowc a {
display: block;
background: #0065b2;
padding: 7px 0;
font-size: 16px;
color: #fff;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;
}
.g_enquire_nowc a span {margin-right:8px;}
.g_enquire_nowmo {}
.g_enquire_nowmo a {display: block;background: #0065b2;padding: 7px 0;font-size: 16px;color: #fff;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmo a span {margin-right:8px;}
.g_enquire_nowmc{}
.g_enquire_nowmc a {display: block;background: #0065b2;padding: 7px 0;font-size: 16px;color: #fff;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmc a span {margin-right:8px;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.section4 {padding:24px 0 0px 0;}
.s4_bg {background:#ffffff;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg4 {position:relative;}
.banner4_text {position: absolute;z-index: 99;left: 80px;top: 0px;width: 36%;padding: 25px 0;}
.banner4_text h2 {font-size:40px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:18px 0 15px 0;}
.banner4_text p {color: #4d4d4d;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.section5 {padding:0px 0 0px 0;}
.s5_bg {background:#ffe6c0;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg5 {position:relative;}
.banner5_text {position: absolute;z-index: 99;right: 130px;top: 0px;width: 31%;padding: 10px 0;text-align: left;}
.banner5_text h2 {font-size:40px !important;font-weight:800 !important;color:#fff;text-transform:uppercase;margin:0px 0 5px 0; padding: 0 !important;}
.banner5_text p {color: #fff;font-size: 15.5px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:20px;}
.g_enquire_now5 {text-align:left;float:left;}
.g_enquire_now5 a {
display: block;
background: #ffffff;
padding: 7px 0;
font-size: 16px;
color: #0065b2;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now5 a span {margin-right:5px;}
.section6 {padding:0;}
.s6_bg { background: #dbd9da;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg6 {position:relative;}
.banner6_text {position: absolute;z-index: 99;left: 90px;top: 0px;width: 36%;padding: 66px 0;}
.banner6_text h2 {font-size:33px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:15px 0 10px 0;}
.banner6_text p {color: #4d4d4d;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.banner6_text.padd_other_ad {
    padding: 17px 0 !important;
}
.about_text_box.about_text_box_b {
    background: #0065b2;
    padding: 62px 56px 98px !important;
    border-radius: 5px;
}
.section7 {padding:0px 0 0px 0;}
.s7_bg {background: #337ab7;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg7 {position:relative;}
.banner7_text {position: absolute;z-index: 99;right: 130px;top: 0px;width: 33%;padding: 66px 0;text-align: right;}
.banner7_text h2 {font-size:40px !important;font-weight:800 !important;color:#ffffff;text-transform:uppercase;margin:18px 0 15px 0;}
.banner7_text p {color: #ffffff;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.g_enquire_now7 {text-align:right;float:right;}
.g_enquire_now7 a {
display: block;
background: #ffffff;
padding: 7px 0;
font-size: 16px;
color: #0065b2;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now7 a span {margin-right:5px;}
.section8 {padding:0;}
.s8_bg {background:#ffffff;}
.best_product {text-align:center;}
.best_product h2 {font-size:54px;font-weight:800;color:#4d4d4d;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg8 {position:relative;}
.banner8_text {position: absolute;z-index: 99;left: 80px;top: 0px;width: 36%;padding: 25px 0;}
.banner8_text h2 {font-size:40px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:18px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.section9 {padding:0px 0 0px 0;}
.s9_bg {background:#2e6aa2;}
.best_product {text-align:center;}
.best_product h2 {font-size:50px !important;font-weight:800 !important;color:#0065b2;text-transform:uppercase;margin:18px 0 65px 0;}
.banner_bg9 {position:relative;}
.banner9_text {position: absolute;z-index: 99;right: 130px;top: 0px;width: 35%;padding: 10px 0;text-align: left;}
.banner9_text h2 {font-size:40px !important;font-weight:800 !important;color:#ffffff;text-transform:uppercase;margin:5px 0 5px 0;}
.banner9_text p {color: #ffffff;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:normal;line-height:22px;}
.g_enquire_now9 {text-align:left;float:left;}
.g_enquire_now9 a {
display: block;
background: #ffffff;
padding: 7px 0;
font-size: 16px;
color: #0065b2;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}
.g_enquire_now9 a span {margin-right:5px;}
.section10 {padding:80px 0;}
.s10_bg {background:#ffffff;}
.about_text_box {background:#0065b2;padding: 88px 80px 111px;}
.about_text_box h2 {font-size: 40px !important;font-weight: 800 !important;color: #ffffff;text-transform: uppercase;margin: 18px 0 15px 0;}
.about_text_box p {color: #ffffff;font-size: 16px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 22px;}
.about_enquire_now a {display: block;background: #ffffff;padding: 7px 0;font-size: 16px;color: #4d4d4d;width: 151px;margin: 10px 0 0 0;
text-align: center;border-radius: 4px;text-decoration: none;}
.about_enquire_now a span{margin-right:8px;}
.footer_section1 {width:100%;background:#0065b2;padding:30px 0;}
.get_touch {text-align:center;}
.get_touch h2 {font-size: 54px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 18px 0 15px 0;}
.quick_enquiry h2 {font-size: 24px;font-weight: 700;color: #ffe6c0;margin: 18px 0 15px 0;}
.form-control {
display: block;
width: 100%;
height: 45px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #ffffff14;
background-image: none;
border: 1px solid #444444;
border-radius: 2px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control.message {display: block;width: 100%;height: 125px;}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
color: #000;
background-color: #ffe6c0;
border-color: #ffe6c0;}
.products h2 {font-size: 24px;font-weight: 700;color: #ffe6c0;margin: 18px 0 15px 0;}
.products_list {padding:0;margin: 0 0 30px;}
.products_list li {list-style:none;display:block;padding:10px 5px;border-bottom:1px solid #ffe6c0;}
.products_list li a {font-size: 18px;font-weight: normal;color: #ffe6c0;margin: 18px 0 15px 0;text-decoration:none;}
.products_list li a span {margin-right:10px;}
.fbox {padding: 20px 30px;}
.footer_section2 {background:#ffe6c0;padding:30px 0;}
.link_fp {padding:0;margin:0;}
.link_fp li {list-style:none;display:block;padding:10px 0;margin:0;border-bottom: 1px solid #f9e6c0;line-height:13px;color:#f9e6c0;font-size:15px;font-weight:600;text-decoration:none;}
.link_fp li a {color:#ffe6c0;font-size:16px;font-weight:600;}
.link_fp li:last-child {border:none;}
.link_fp li:first-child {padding-left:0;}
.logo-footer {margin:40px 0 25px 0;}
.social_link {padding:0;margin:20px 0 0 0;text-align:center;}
.social_link li {list-style:none;display:inline-block;margin:3px;}
.social_link li a{text-decoration: none;
border: 1px solid #ffe6c0;
padding: 8px 15px;
border-radius: 0;
color: #ffe6c0;}
.mail_footer{ margin:91px 0 22px 0;}
.mail_footer a{font-size: 16px;color: #ffe6c0;}
.support_and_services{ border:2px solid #4d4d4d; margin:55px 0 0 0;}
.gimg_box2{ border-bottom:2px solid #4d4d4d;}
.g_text_box2{padding:30px; min-height: 373px;}
.g_text_box2 h2{font-size: 24px !important;font-weight: 800 !important;color: #4d4d4d;margin:0 0 27px 0;}
.g_text_box2 h3{font-size: 18px;font-weight: 800;color: #4d4d4d;margin:0 0 30px 0;}
.gimg_box3{ border-bottom:2px solid #4d4d4d;}
.g_text_box3{padding:30px;}
.g_text_box3 h2{font-size: 24px !important;font-weight: 800 !important;color: #4d4d4d;margin:0 0 27px 0;}
.g_text_box2 h3{font-size: 18px;font-weight: 800;color: #4d4d4d;margin:0 0 30px 0;}
.new_features{ margin:0px 0 30px 0;}
.new_features li{ list-style:none; display:inline-block; padding: 0 10px;}
.new_features li a{ text-decoration:none; color: #4d4d4d; font-weight:600;}
.new_features li span{ margin:0 10px 0 0 ;}
.new_features li a i{font-weight:600;}
.support_btn{}
.support_btn a {display: block;background: #0065b2;padding: 7px 12px;font-size: 16px;color: #ffe6c0;width: 200px;margin: 10px 0 0 0;text-align: left;border-radius: 4px;text-decoration: none;}
.support_btn a span{ margin-right:8px;}
.new_features_btn a {display: block;background: #0065b2;padding: 7px 12px;font-size: 16px;color: #ffe6c0;width:136px;margin: 10px 0 0 0;text-align: left;border-radius: 4px;text-decoration: none;}
.new_features_btn a span{ margin-right:8px;}
.mk_desktop{ display:block;}
.mk_mobile{ display:none;}
.banner_desktop{ display:block;}
.banner_mobile{ display:none;}

.link_fp_mobile{ display:none;}

.technical-specifi-box{padding:0; margin:0;}
.technical-specifi-box li{list-style:none; display:block; margin:4px 0;}
.technical-specifi-box li strong{ margin-right:2px;}

.discount{ padding: 6px 0 !important; margin-right: 25px !important;}
.discount a{font-size: 16px !important;
font-weight: 500;}
.discount a span{ font-weight: 600;}

/*Inner page css product*/

.section33 {
    padding: 70px 0;
	background: #ffe6c0;
}

.inner_banner_section{ width:100%; padding:0;position:relative;}
.product_banner{ }
.product_banner_text{position: absolute;
top: 95px;
left: 98px;
width: 34%;}
.product_banner_text h2{font-size:45px;font-weight:800;color:#4d4d4d; margin:0 0 5px 0;}
.product_banner_text h3{font-size:35px;font-weight:800;color:#4d4d4d;  margin:0 0 5px 0;}
.product_banner_text p{font-size:14px;font-weight:600;color:#4d4d4d; margin:0 0 5px 0;}

.left-panel{ background:#4d4d4d; padding:40px 30px;}
.product_categ_list{ padding:0; margin:0;}
.product_categ_list li{ list-style:none; display:block; padding:5px 0;}
.product_categ_list li a{ font-size:18px; color:#ffe6c0; font-weight:300; font-family: 'Montserrat', sans-serif; text-decoration:none;}
.product_categ_list li a{ font-weight:300;}
.acc_head h2{font-size:20px; color:#ffe6c0; font-weight:300; font-family: 'Montserrat', sans-serif;}
.acc_head h3{font-size:20px; color:#ffe6c0; font-weight:300; font-family: 'Montserrat', sans-serif; margin: 8px 0 12px; font-weight:700;}

.right_panel_text{ margin-bottom:30px;}
.right_panel_text h2{font-size:45px;font-weight:800;color:#4d4d4d; text-transform:uppercase; margin:0 0 15px 0;}
.right_panel_text p{font-size:16px;font-weight:normal;color:#867d70; line-height:22px;}




.pc_text_box{}
.pc_text_box h2 {font-size:20px !important;font-weight:800 !important;color:#ffe6c0 !important;}
.g_enquire_now {}
.g_enquire_now a {
display: block;
background: #ffe6c0;
padding: 7px 0;
font-size: 16px;
color: #4d4d4d;
width: 151px;
margin: 10px 0 0 0;
text-align: center;
border-radius: 4px;
text-decoration: none;}

.pc_box_main {
    background: #4d4d4d;
    padding: 34px 22px !important;
	min-height:195px !important;
}
.gimg_box_p2 a img{ width:100% !important; min-height:195px !important;}

.product_categ_list_box{ margin-bottom:30px;}
.product_text_box{ background:#666; padding:57px 40px; text-align:center;}
.product_text_box h2{font-size: 24px;font-weight: 700;color: #ffe6c0;margin: 0px 0 5px 0;}
.product_text_box p{font-size: 14px;font-weight:normal;color: #ffe6c0;margin: 8px 0 15px 0;}

.product_text_box a{background: #ffe6c0;
    display: block;
    width: 45%;
    padding: 8px 10px;
    margin: 0 auto;
    border-radius: 4px; text-decoration:none; font-size:14px; color:#4d4d4d;}
	
.pag{ text-align:center; margin: 10px 0 30px 0;}	
.pagination{ padding:0; margin:0}	
.pagination li{ list-style:none; display:inline-block; padding:0 1px;}
.pagination li a{position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #000;
text-decoration: none;
background-color: #fff;
border: 1px solid #4d4d4d;}
	
.g_enquire_now_pc{}
.g_enquire_now_pc a{
	background: #ffe6c0;
display: block;
width: 100%;
text-align:center;

padding: 8px 10px;
margin: 0 auto;
border-radius: 4px;
text-decoration: none;
font-size: 14px;
color: #4d4d4d;
	
	}
.g_enquire_now_pc span{ margin-right:8px;}
	
/*atanu new html end tag */


.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 6px;
}

.owl-theme > .owl-controls .owl-page span::before {

    border-radius: 0;
    display: inline-block;
    font-family: FontAwesome;
    color: #ed2443;
    content: "\f192";
    font-size: 18px;
    opacity: 1 !important;
    overflow: visible;
    padding-left: 1px;

}

.vgwc-text-block{background:#666 !important; padding:10px !important;}
/*.ma-box-content{ padding:0 !important;}*/
.main-container .shop-products .item-col .ma-box-content {padding: 0 0px !important;}
.main-container .shop-products .item-col .ma-box-content {
    border: 2px solid rgb(255, 217, 159)!important;
}
.vgwc-item .ma-box-content {
    border-radius: 3px !important;
}
.vgwc-item .ma-box-content:hover {
    border-color: #ed2443 !important;
}
.vgwc-item .ma-box-content:hover {
    border-radius: 3px !important;
}

.vgwc-item .ma-box-content .vgwc-add-to-cart a {

    display: block;
    position: relative;
    height: auto;
    text-align: center;
    line-height: 14px;
    font-size: 12px !important;
    color: #636363;
    background-color: #ffe6c0 !important;
    border: 2px solid #ffe6c0 !important;
    padding: 6px 6px !important;
    margin-bottom: 5px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.main-container .page-content .button, .main-container .page-content .button.alt, .main-container .page-content #submit {
    padding: 0 9px !important;
}


/*.pc_box_main:nth-child(odd) {
  background: red;
}

.pc_box_main:nth-child(even) {
  background: blue;
}
*/
.vgwc-item .ma-box-content .vgwc-text-block .vgwc-product-title a {
    display: block;
    text-transform: uppercase;
	font-size: 20px !important;
font-weight: 700 !important;
color: #ffe6c0 !important;
margin: 0px 0 5px 0 !important;
/*text-align: center !important;*/
}

.vgwc-item .ma-box-content .vgwc-button-group .vgwc-quick a {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
    text-indent: -9999px;
    background: #ffe6c0 !important;
    border: none;
    color: #006cfe !important;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
}

/*.main-container .toolbar {
    overflow: hidden;
    margin: 0px -1px 10px;
    position: relative;
    padding: 10px;
    border: 1px solid #ffe6c0 !important;
    background: #4d4d4d !important;
}*/

.mineee_imagee_cstmmee{
width: 100%;
}
.pc_box_main {
    background: #4d4d4d;
    padding: 34px 22px !important;
    min-height: 195px !important;
    border-top: 1px solid #ed2443;
    border-right: 1px solid #ed2443;
    border-left: 1px solid #ed2443;
}
.widget.widget_product_categories ul li.current-cat > a, .widget.widget_product_categories ul li:hover > a, .widget.widget_categories ul li.current-cat > a, .widget.widget_categories ul li:hover > a {
font-size: 18px !important;
color: #ffe6c0 !important;
font-weight: 300 !important;
font-family: 'Montserrat', sans-serif !important;
text-decoration: none !important;
}
.widget.widget_product_categories ul li, .widget.widget_categories ul li {
    border-bottom: 1px solid #464646 !important;
    line-height: 33px !important;
}

.widget.widget_product_categories ul li > a, .widget.widget_categories ul li > a {
font-size: 18px !important;
color: #ffe6c0 !important;
font-weight: 300 !important;
    text-transform: capitalize;
    padding-left: 20px !important;
    position: relative;
}

.cstmmm_designnn_prodiii{width:100%; float:left; clear:both;}
.canging_tabbiii{ background:#666; display: none;}

.main-container .toolbar .woocommerce-result-count {
    color: #fff !important;
}

.main-container .toolbar .view-mode a {
    color: #ffe6c0 !important;
}
.main-container .toolbar .view-mode a.active {
    border: 1px solid #ffe6c0 !important;
}
.main-container .toolbar .view-mode a.active i {
    color: #ffe6c0 !important;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a, .main-container .toolbar .woocommerce-pagination ul.page-numbers li span {
    display: block;
    color: #666 !important;
    float: left ;
    font-size: 17px !important;
    min-width: 30px !important;
    height: 30px !important;
    line-height: 28px !important;
    padding: 0 10px !important;
    font-weight: normal !important;
    background: #eee;
    border: 1px solid #666 !important;
    border-radius: 3px !important;
}

.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.current, .main-container .toolbar .woocommerce-pagination ul.page-numbers li a:hover, .main-container .toolbar .woocommerce-pagination ul.page-numbers li span.current, .main-container .toolbar .woocommerce-pagination ul.page-numbers li span:hover {
    background: #ed2443 !important;
    color: #fff !important;
}

#wpcf7-f6563-o1 .your-email .wpcf7-validates-as-email {
    background: #f5f9fa !important;
    border: 1px solid #f5f9fa !important;
    padding: 3px 15px !important;
    min-height: 28px;
    width: 100%;
}

.wpcf7-form textarea {
    height: 85px !important;
    background: #fff !important;
    border: 1px solid #fff !important;
    padding: 10px 15px !important;
    min-height: 28px;
    width: 100%;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child a span span {
    color: #000 !important;
}


.top-bar-list{ padding: 0; margin: 0; text-align: right;}
.top-bar-list li{  list-style:none; display:inline-block;padding: 0 10px; margin: 0; border-right: 2px solid #ffe6c0;
line-height: 14px;
vertical-align: middle;min-height: 34px;}
.top-bar-list li a{ font-size: 14px; color: #fff;}

/*.top-bar-list li a .whatsapp{
font-size: 28px;
color: #fff;
background: #25d366;
padding: 2px 7px;
margin: 0px;
border-radius: 2px;
}*/

ul.top-bar-list {
display: flex;
align-items: center;
justify-content: flex-end;
}

.top-bar-list li a span{margin-right: 10px;}

.top-bar-list li:first-child{ border-right: none;} 
.top-bar-list li:last-child{ border-right: none;} 


.top-bar {
    padding: 6px 0 !important;
}
.top-bar.home1 {
padding: 12px 0 !important;
background:#0065b2 !important;
}

h1.same_heading {
    text-align: center;
    font-size: 35px !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
    margin: 10px 0px 25px 0;
    color: #0065b2;
    text-transform: uppercase;
}




#sp-logo .logo a:nth-child(1) {
display: block !important;
}

a.bfamazone {
display: block;
font-size: 13px !important;
background: #ff8d00;
padding: 10px 12px !important;
border-radius: 2px;
letter-spacing: 0.5px;
color: #fff !important;
}
.top-bar-list li a span {
margin-right: 10px;
width: 25px;
height: 25px;
display: inline-flex;
vertical-align: middle;
padding: 5px 6px;
border-radius: 50%;
align-items: center;
justify-content: center;
}
span.whatsapp {
background: #09c509;
}
span.call {
background: #0065b2;
}
.top-bar-list li a {
display: flex;
align-items: center;
padding: 4px 0px;
}
div#sp-logo {
display: block !important;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child {
    background: none !important;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child:hover a {
    background: #0065b2 !important;
    }


span.cart-contents-count {
background: #fff;
color: #2879bd;
position: absolute;
right: -36px;
top: -10px;
font-size: 11px;
font-weight: 600;
margin: 0;
}
a.cart-contents {
position: relative;
}

li.m_a_b{border-right: none;}


.owl-theme .owl-controls .owl-page.active span:before {
    color: #ed2443 !important;
}

.postid-15134 #menu-item-15235 a{display:none !important;}

#_hj-f5b2a1eb-9b07_feedback ._hj-f5b2a1eb-9b07_feedback_minimized_label {
    background: #0463b3 !important;
}

.product_list_home{ padding: 0 0 0 20px;margin: 7px 0;}
.product_list_home li{ list-style: disc; margin-bottom:5px;
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height: 22px;
}
.product_list_home li:first-child{  color: #ec1738;} 
.product_list_home li span{ color: #ec1738;font-weight:600; }
.product_list_home li.fec{color: #4d4d4d !important;}

.product_list_home2{ padding: 0 0 0 20px;margin: 7px 0;}
.product_list_home2 li{ list-style: disc; margin-bottom:5px;
color: #fff;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height: 22px;
}
.product_list_home2 li.mk{  color: #ec1738;} 
.product_list_home2 li span{ color: #ec1738; font-weight:600;}
.product_list_home2 li.at{color: #ec1738;}

.product_list_home3{ padding: 0 0 0 0px;margin: 7px 0;}
.product_list_home3 li{ list-style: none; margin-bottom:5px;
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
line-height: 22px;

}


.banner5_text h3{
color: #ffffff;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}
.banner6_text h3{
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}
.banner8_text h3{
color: #4d4d4d;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}
.banner9_text h3{
color: #fff;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight:600;
line-height: 22px;
}

.journey_list{padding-left: 15px !important; margin-bottom: 15px !important;}
.journey_list li{ list-style: disc !important;}



.form-control-bc {
    padding: 0 15px;
    font-size: 14px;
    color: #969ca7;
    border: 1px solid #d4d1d1 !important;
    background: #ffffff;
    border-radius: 3px !important;
    box-shadow: none;
    max-width: 100% !important;
    width: 100% !important;
    height: 40px !important;
}

.form-control-bc-textarea {
     padding: 0 15px;
    font-size: 14px;
    color: #969ca7;
    border: 1px solid #0065b2 !important;
    background: #ffffff;
    border-radius: 3px !important;
    box-shadow: none;
    width: 100%;
    height: 30px;
}

.main-container .page-content label textarea {
    color: #000;
    background: transparent !important;
    border: 1px solid #0065b2 !important;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 6px !important;
    
}

.form-control-bc-textarea{height: 70px !important;}
.form-control-bc-textarea2{height: 70px !important;}


.main-container.default-page .page-content .entry-content .kf_heading a{color: #0065b2 !important;}

p.service_sup_text{color: #ec1738 ;}


.main-container .page-content label {
    display: inline-block;
    font-weight: normal;
    margin: 0 0px !important;
    width: 100% !important;
}

#user_pincode::-webkit-input-placeholder { /* Edge */
  color: #ffffff;
}

#user_pincode:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

#user_pincode::placeholder {
  color: #ffffff;
}


#product_serial_no::-webkit-input-placeholder { /* Edge */
  color: #ffffff;
}

#product_serial_no:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

#product_serial_no::placeholder {
  color: #ffffff;
}

/*11-09-2020*/

.prodd {
    width: 30%;
    float: left;
}
.priceg span{ width:100%; text-align:center; float:left; margin:30px 0 0 0;}
.add_to_cart_button{ opacity:1;}
.main-container .page-content .button:hover {

    outline: 0;
    opacity: 1;

}
.titll {
    font-size: 23px;
    margin: 0 0 20px 0;
    border-right: 0;
    text-align: center;
    padding: 0 0 0 20px;
    transition: all 0.5s ease; height:130px;
}
.cartbut {
    border: none;
    margin-bottom: 0;
    background: #fff;
    margin: 0 8px 6px 0;
    width:32%;
    float:left;
}
table td {
    padding:0;
}
.vgwc-product-price {
    margin: 0;
}
.nomar {
    margin: 0;
}
.bbhu {
    padding: 8px 16px;
    margin: 25px 0 0 0;
    float: left;
}
.formyu {
    max-width:660px;
    float: none;
    margin: 20px auto 40px auto;
    text-align:center;
    background: #ddd;
    padding:30px!important;
}
.ttl {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 0 0 20px 0;
}
.sev {
    width:100%!important;
}
.sev input {
    width: 100%!important;
}
.formyu label {
    float: left;
    padding: 0 0 0 0!important;
    margin: 0!important;
    font-size:16px;
    color: #000;
    font-weight: bold!important;
}
.clear {
    clear: both;
}
.till {
    background:#f2f2f2;
    color:#666;
    font-weight:bold;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    padding:15px 0;
    transition: all 0.5s ease;
}
.cartbut:hover .titll{  color:#333;
    background:#fff;}
.cartbut:hover td {
    color:#fff;
    background:#ed2443;
}
.cartbut:hover {
     cursor:pointer; box-shadow:0 3px 3px #999;
}
.cartbut:hover .till {
    background:#ccc; color:#000;
}
.cartbut:hover .cho_pri {
    background:#8d0218;
}
.cho_pri {
    transition: all 0.5s ease;
}
.disccountt{
    color: #fff;
}
.mdsec{
    cursor: pointer;
}



.pttl {
    width: 100% !important;
    float: none !important;
    background: none !important;
    font-size: 18px;
    color: #fff;
    padding: 10px 10px 10px 20px;
    border-left: 0px !important;
    border-bottom: 0px !important;
    box-sizing: border-box;
    moz-border-radius: 10px 0px 10px 0;
    -webkit-border-radius: 10px 0px 10px 0;
    border-radius: 10px 0px 10px 0;
    margin: 5px 0 3px 0px !important;
    text-align: center;
    min-height: 70px;
}

.pbox {
    width: 235px;
    background: #00629b;
    border: 1px solid #00a1ff;
    box-shadow: none !important;
    float: left;
    min-height: 240px;
    moz-border-radius: 10px 0px 10px 0;
    -webkit-border-radius: 10px 0px 10px 0;
    border-radius: 10px 0px 10px 0;
    margin: 0 1.6% 30px;
}

.amt {
    font-size: 18px !important;
    color: #ffcc00;
    text-align: center;
    margin: 0 0 0 0;
    line-height: 50px;
}

.priceg {
    font-size: 30px !important;
    text-align: center;
    color: #fff;
    font-weight: normal;
    text-shadow: 0 2px 3px #333;
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px 0 0 0;
}


 @media (max-width: 480px) {
 .titll {
font-size: 18px;
}
 .cartbut tr td {
width: 100%;
float: left;
margin: 0 0 0 0;
}
}
@media (max-width: 767px) {
.titll {
 padding: 9px 0 4px 20px;
 border: none;
}
.cartbut { width:100%; margin:0 0 20px 0;}
}


#wpcf7-f6541-p6542-o1 .form-control-career{max-width:100% !important;width: 100% !important;padding: 0 10px !important;}
.form-group{ margin-bottom: 15px !important; }

.wpcf7-form .form-control-career{width: 100% !important;
max-width: 100% !important;  border: 1px solid #abadb3 !important; border-radius: 5px;
padding: 8px 13px !important;
min-height: 38px !important;
}
.fcc .form-control-career{width: 100 !important; background: #ffffff !important;
 border: 1px solid #abadb3 !important; border-radius: 5px;
}

.subf .form-group .wpcf7-submit {
    clear: both;
    float: left;
    width: 26%;
    background: #0065b2 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #ed2443;
    margin: 0 0 0 11px;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px !important;
    font-weight: 6oo !important;
    font-size: 22px !important;
}


#wpcf7-f6541-p6542-o1 .wpcf7-submit {
    background: #ed2443 !important;
    margin: 0 0 0 0px !important;
    padding: 0px !important;
    border: none;
}

.career-page .header h1{padding-top: 20px !important;}


.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    height: 32px;
    max-width: 100% !important;
    padding: 0 0 0 10px;
    width: 100% !important;
}

.quantity {
    display: flex !important;
}

.quantity .qty{float: left;}

button.quantity .minus, .quantity .plus {
    background: none;
    border: none;
    box-shadow: none;
    color: #898989;
    float: left;
    height: 40px;
    position: static;
    text-shadow: none;
    width: 40px;
    font-size: 14px;
    font-weight: normal;
    line-height: auto !important;
    cursor: pointer;
    border: 1px solid #f5f5f5;
}

.our-culture p{ }

#wpcf7-f6541-p6542-o1 input {
    height: 37px !important;
}

.pccf{margin:0 !important;}
.pccf input{margin-bottom: 12px !important; border-radius: 5px !important;}
.pccf select{margin-bottom: 12px !important;}

.ask_sec .form-group .form-control {
    height: 43px !important;
    border-radius: 5px !important;
    border: none !important;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #000;
    font-weight: 500;
    padding: 0 12px !important;
}

/*architect-interior-designer*/
.arc_inte_design_banner{margin-bottom: 25px;}
.arc_inte_design_banner a img{width: 100%;}
.architect_textpera_1{ background: #ffffff; padding: 10px 0; clear: both; }
.architect_textpera_1 h4{color: #0065b2;}
.architect_textpera_1 p{}

.architect_textpera_2{ background: #ffffff; padding: 10px 0; }
.architect_textpera_2 h4{color: #0065b2;}
.architect_textpera_2 p{}

.architect_textpera_3{ background: #ffffff; padding: 10px 0; margin-bottom: 10px; }
.architect_textpera_3 h4{color: #0065b2;}
.architect_textpera_3 p{}

.benefits_section{ margin-bottom: 20px; clear: both;}
.architect_textpera_4{ padding: 10px;
margin-bottom: 20px;
border: 1px solid #0065b2;
background: #0065b2;
border-radius: 8px;text-align: center;min-height: 76px; }
.architect_textpera_4 h4{ color: #ffffff;
font-weight: normal;
line-height: 24px; }
.architect_textpera_4 p{}


.architect_textpera_5{  padding: 30px 30px;
margin-bottom: 20px;
border: 1px solid #e3e0e0;
background: #f9f7f7;
border-radius: 3px; text-align: center; min-height: 254px; }
.architect_textpera_5 h4{color: #000;}
.architect_textpera_5 p{}

.architect_textpera_8{text-align: center;
background: #f2f2f2;
padding: 10px;
margin-bottom: 30px;
border-radius: 5px;
border: 1px dashed #e1e1e1;}
.architect_textpera_8 p{color: #000;
font-size: 20px;
margin: 0;
padding: 10px 12px;
text-align: left;
font-weight: 600;}
.architect_textpera_8 a{ 
background: #ed2443;
padding: 9px 20px;
display: block;
margin-top: 10px;
text-align: center;
width: 161px;
margin: 0px;
font-size: 17px;
font-weight: 600;
color: #fff;
border-radius: 5px;

}

.term-all-products .cstmmm_designnn_prodiii .cstm_prod_filter_dsgn { display: flex; }
.term-all-products .cstm_prod_filter_dsgn{ display: flex; }
.term-all-products .prodt_cstm_lst{margin-left: 44px;}

.cstm_prod_filter_dsgn{display: flex; }
.prodt_cstm_lst{margin-left: 20px;}

.architect_textpera_6{  padding: 30px 30px;
margin-bottom: 20px;
border: 1px solid #e3e0e0;
background: #f9f7f7;
border-radius: 3px; text-align: center;}
.architect_textpera_6 h4{color: #000;}
.architect_textpera_6 p{}


.news_articles_section{ background: #ffffff; padding:0px 0; margin-bottom: 50px;}
.news-body{text-align: center;
padding: 28px;}
.news-title{}
.news-text{}
.news_art{ border: 1px solid #ccc;}

.news_articles_section{  }
.news_articles_section h3{ border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 6px; }

.newsletter_section{background:#0065b2; margin: 20px 0; text-align: center; clear: both; padding: 15px;border-radius: 5px;}

.newsletter_section h4{ border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 6px; color: #fff;}
.sub_to_new{width:100%;padding: 7px 4px; }

.no-padding{padding: 0;}

.sn_btn{    background: #ed2443;
    padding: 8px 41px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-transform: uppercase;
    color: #fff;
}



.arc_inte_design_banner {
    position: relative;
    margin: 0px;
}

.item_arcita {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_arcita h2 {
    margin: 0;
    color: #fff;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 1px;
}
.most_beauty h2 {
    color: #000;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}
.most_beauty {
    padding: 70px 0;
}
.you_ar-v a img {
    border-radius: 10px;
}
.strong_brand {
    padding: 70px 0px;
    background-size: cover !important;
    background-position: center !important;
}
.strong_brand h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}
.strong_brand p span {
    float: left;
    font-size: 41px;
    color: #fff;
    font-weight: 700;
    margin-right: 7px;
    display: inline-table;
    margin-top: 10px;
}
.strong_brand p {
    float: left;
    color: #fff;
    margin: 20px 0 0 0;
}
.strong_brand h3 {
    font-weight: 300;
    font-size: 64px;
    color: #fff;
    margin-top: 50px;
}
.strong_brand h6 {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
}

.most_popular h2 {
    color: #262525;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
}
.most_popular {
    padding: 70px 0px;
}
#owl-demoz .item {
    margin: 8px;
}
#owl-demoz .owl-pagination{
    display: none;
}
#owl-demoz .owl-buttons {
    background: transparent;
    width: 100%;
    top: -94px;
}
#owl-demoz .owl-buttons::before, #owl-demoz .owl-buttons::after{
background: none !important;
border: none;
}

#owl-demoz .owl-buttons .owl-prev {
    position: absolute;
    left: -35px;
}
#owl-demoz .owl-buttons .owl-next{
    position: absolute;
    right: -35px;
}

#owl-demoz .owl-buttons .owl-prev::before, #owl-demoz .owl-buttons .owl-next::before {
    background: transparent;
    border: 1px solid #000 !important;
    color: #000 !important;
}
.be-a_partner {
    background-image: linear-gradient(to right bottom, #a6e2e6, #c0e8f5, #dbeefd, #f1f5fe, #ffffff);
    padding: 70px 0px;
}

.be-a_partner h2 span {
    font-size: 65px;
}
.be-a_partner h2 {
    font-size: 35px;
    color: #0065b2;
    line-height: 1.2;
}
.be-a_partner p {
    color: #000;
    font-size: 13px;
}
.be-a_partner img {
    width: 100%;
    margin-top: 80px;
}

.most_beauty.an_ass p {
    color: #000;
}
.most_beauty.an_ass h2 {
    margin-bottom: 35px;
}
.blue_rnd p {
    text-align: center;
    background: #0065b2;
    color: #fff !important;
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
.blue_rnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.most_beauty.an_ass.cnct_w_us h2 {
    color: #0065b2;
}
.most_beauty.an_ass.cnct_w_us span {
    display: block;
    font-size: 19px;
    font-weight: 500;
    color: #201f1f;
    line-height: 1.5;
    margin-bottom: 35px;
}
.most_beauty.an_ass.cnct_w_us a {
    font-size: 14px;
    color: #fff;
    background: #0065b2;
    display: block;
    max-width: 153px;
    text-align: center;
    padding: 11px 0;
    border-radius: 5px;
    width: 100%;
}
#video1 {
    width: 100%;
}
#video_modal .modal-content {
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
}
#video_modal .modal-header {
    border: none;
    padding: 0;
    height: 52px;
}
#video_modal .modal-header .close {
    color: #fff;
    box-shadow: none;
    opacity: 1;
    font-weight: 400;
    font-size: 56px;
    cursor: pointer;
    z-index: 99;
}

.img_single img {
    width: 100%;
}
.img_single {
    display: block;
}
.single_row {
    display: flex;
}
.single_row {
    display: flex;
}
.banner_desktop img {
    width: 100% !important;
}

.desk_topm{display: block;}
.link_fp_mobile {display: none;}


.need-chimney{padding: 0 0 0 25px; margin: 0}
.need-chimney li{ list-style: disc; padding: 0 0 10px 0;}

.below_banner_content{width: 100%; float: left; padding: 30px 0 0;}
.feature_box p{margin-top:8px;}
.cat_des2{margin-bottom: 5px;}
/*.sme_p p strong{ color: #a2a2a2; }*/

.all-product-box{
    margin: 0 0 30px 0 !important;
}
.about-us-wrapper .ma-box-content {
    border: 2px solid rgb(255, 217, 159) !important;
    margin-bottom: 30px !important;
}

.vgwc-item .ma-box-content .vgwc-text-block .vgwc-product-title a {
     font-size: 16px !important; 
}
.all-product-box:hover {
    border: 2px solid rgb(255, 217, 159) !important;
}

.all-product-box-paginate{ text-align: center; overflow: hidden;padding: 30px 0;margin: 0 0 50px 0; }
.all-product-box-paginate span{padding: 4px 12px;
border: 1px solid #666 !important;
margin: 0px;
background: #ec1738;
font-size: 17px !important;
color: #fff;
font-weight: 600; border-radius: 3px !important;}

.all-product-box-paginate a{padding: 4px 10px;
border: 1px solid #666 !important;
margin: 0 1px;
background: #eee;
font-size: 17px !important;
color: #000;
font-weight: 600; border-radius: 3px !important;}


#woocommerce_layered_nav-23{display: block;
width: 23%;}


#woocommerce_layered_nav-23 .quickview {
    background: #3FB4FB;
    border: 1px solid #3FB4FB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 6px;

}
#woocommerce_layered_nav-23 .button.custom-button.quickview.quick-view, .button.custom-button {
    font-size: 12px !important;
}

#woocommerce_layered_nav-23 .vgwc-item .ma-box-content .vgwc-add-to-cart a {
    padding: 6px 6px !important;
}
#woocommerce_layered_nav-23 .vgwc-item .ma-box-content .vgwc-add-to-cart a {
    font-size: 12px !important;
    padding: 6px 5px !important;
}
.prodt_cstm_lst .vgwc-item .ma-box-content {
    margin: 0 10px !important;
}

#menu-item-18656{display: none;}
.bfk{display: none !important;}
bfa





/*Mobile responsive start hare */

@media only screen and (max-width:1280px) {
.banner4_text {padding: 15px 0;}
.banner6_text {padding: 55px 0;}
.banner7_text {padding: 46px 0;}
.banner8_text {padding: 57px 0;}

.banner5_text h2 {
    font-size: 28px !important;
}
.banner4_text h2 {    font-size: 28px !important;}

.g_enquire_nowmo.btn_2_desn a {
    padding: 8px 8px;
}
.banner6_text h2 {
    font-size: 28px !important;
}

.banner7_text h2 {
    font-size: 28px !important;
    margin: 0px 0 0px 0;
}
.banner8_text h2 {
    font-size: 28px !important;
    margin: 0px 0 0px 0;
}
.banner9_text h2 {
    font-size: 28px !important;
    margin: 0px 0 0px 0;
}
.banner9_text p {
    font-size: 15px;
}
.g_text_box3 h2 {
    font-size: 20px !important;
    margin: 0 0 10px 0;
}
.best_product h2 {
    font-size: 35px !important;
    margin: 18px 0 50px 0;
}
.g_enquire_nowmo.btn_2_desn a {
    padding: 8px 8px !important;
}

.support_and_services {
    margin: 15px 0 0 0;
}

}




@media only screen and (max-width:1024px) {

.top_right_contact li a {font-size: 14px;}
.navbar-inverse .navbar-nav > li > a {font-size: 14px;}
.banner_text {padding: 24px 6px 0 0;text-align: right;}
.section3 {padding: 45px 0;}
.gbox_main {padding: 62px 39px;}
.best_product h2 {font-size: 44px;margin: 18px 0 35px 0;}
.banner4_text {padding: 0px 0;}
.banner5_text {padding: 22px 0;}
.banner6_text h2 {font-size: 33px;margin: 18px 0 15px 0;}
.banner7_text {position: absolute;z-index: 99;right: 90px;top: 0px;width: 33%;padding: 10px 0;text-align: right;}
.banner7_text h2 {font-size: 30px;margin: 0px 0 5px 0;}
.banner8_text {padding: 16px 0;}
.banner8_text h2 {font-size: 30px;margin: 0px 0 0px 0;}
.banner9_text h2 {font-size: 30px;margin: 18px 0 15px 0;}
.banner9_text {padding: 10px 0;right: 80px;width: 45%;}
.section10 {padding: 40px 0;}
.about_text_box {padding: 31px 35px;}
.banner6_text {padding: 5px 0;}
.banner4_text h2 {font-size: 24px !important;margin: 10px 0 0px 0;}
.banner4_text p {font-size: 14px;line-height: 20px;}
.product_list_home li {margin-bottom: 3px;font-size: 14px;line-height: 20px;}
.product_list_home {margin: 5px 0;}
.banner5_text h2 {font-size: 22px !important;margin: 0px 0 3px 0;}
.banner5_text p {font-size: 14px;line-height: 20px;}
.banner5_text h3 { font-size: 14px;line-height: 18px;}
.product_list_home2 li {margin-bottom: 3px;font-size: 14px;line-height: 17px;}
.s5_bg {background: #0064b0;min-height: 355px;}
.about_text_box.about_text_box_b {padding: 19px 24px 28px !important;}
.banner6_text h2 {font-size: 22px !important;}
.g_enquire_nowmo.btn_2_desn a {padding: 5px 8px !important;font-size: 13px;}
.banner7_text.bnr_7_txt {padding: 10px 0 !important;}
.banner7_text h2 {font-size: 22px !important;}
.banner7_text {width: 44%;}
.banner8_text h2 {font-size: 22px !important;margin: 0px 0px 5px 0;}
.banner8_text {width: 41%;}
.banner9_text h2 {font-size: 22px !important;margin: 6px 0px 0px 0 !important;padding-bottom: 5px !important;}
.banner9_text p {font-size: 14px;line-height: 20px;}
.social_link li a {padding: 5px 8px;}

.banner6_text {
    left: 56px;
    width: 38%;
}
.section9 {
    padding: 0px 0 30px 0;
}
.support_and_services {
    margin: 10px 0 0 0;
}
/*inner page product*/
.product_banner_text {position: absolute;top: 50px;left: 41px;width: 50%;}
.pc_text_box h2 {font-size: 20px;}
.g_enquire_now a {padding: 7px 0;font-size: 13px;width: 118px;margin: 10px 0 0 0;}
.pc_box_main {padding: 25px 22px;min-height: 162px;}
.product_text_box a {width: 60%;}
.product_text_box {min-height: 266px;}
.product_text_box h2 {min-height: 54px;}
.product_text_box {padding: 34px 36px;min-height: 208px;}
.acc_head h3 {font-size: 18px;margin: 8px 0 8px;}

.architect_textpera_4 {
    min-height: 96px;
}
.architect_textpera_5 {
    min-height: 279px;
}

.architect_textpera_8 p {
    font-size: 18px;
    padding: 10px 5px;
}



}


@media only screen and (max-width: 980px) {

.fbox {
    padding: 0px 13px;
        padding-right: 13px;
        padding-left: 13px;
}

.mail_footer {
    margin: 0px 0 22px 0;
}

.products_list {
    padding: 0;
    margin: 0 0 5px;
}

.logo-footer {
    margin: 20px 0 25px 0;
}

.about_text_box h2 {
    font-size: 30px !important;
    margin: 5px 0 10px 0;
}
.about_text_box p {
    font-size: 14px;
    line-height: 19px;
}
.g_text_box h2 {
    font-size: 18px !important;
}
.about_text_box.about_text_box_b .about_enquire_now {
    margin-top: 20px !important;
}
.banner8_text p {
    font-size: 14px;
    line-height: 18px;
}
.g_enquire_now7 a {
    font-size: 13px;
}

.banner9_text p {
    font-size: 14px;
    line-height: 18px;
}
.g_enquire_nowmo.btn_2_desn a {
    margin: 0 5px 0 0;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
    margin-bottom: 0px !important;
}
.page-content .comments-area {
    margin: 0 !important;
}

.main-container .page-content {
    padding: 10px 0 10px !important;
}

.main-container .page-content .entry-content p {
    margin: 0 0 5px;
}

.mission-vision-heading-text{font-size: 24px;}

.pccf{margin:0 !important;}
.pccf input{margin-bottom: 14px !important;}
.pccf select{margin-bottom: 14px !important;}

.nav > li > a {
    padding: 10px 6px !important;
}
.formyu {
    margin: 0px auto 0px auto !important;
    padding: 5px !important;
}

.sn_btn {
    background: #ed2443;
    padding: 8px 57px;
}
.news_art {
    margin-bottom: 15px;
}
.mbmenu-toggler {
    background: #0065b2 !important;
}
.mbmenu-toggler span.title::after {
    background-color: #ec1738 !important;
    line-height: 46px !important;
}
.mbmenu-toggler span.mbmenu-icon {
    background: #0065b2 url(../images/bg/bg_category.png) no-repeat 0 center !important;
}






}


@media only screen and (max-width: 900px) {
	
.navbar-inverse .navbar-nav > li > a {font-size: 14px;padding: 7px;}
.top_right_contact li a {font-size: 15px;}
.banner_text {width: 38%;top: 0;padding: 5px 0px 0 0;text-align: right;}
.banner_text h2 {font-size: 22px;}
.section3 {padding: 0 0 30px 0;}
.gbox_main {background: #4d4d4d;padding: 39px 20px;min-height: 188px;}
.g_text_box h2 {font-size: 20px;}
.best_product h2 {font-size: 24px;margin: 18px 0 18px 0;}
.banner4_text {padding: 5px 0;}
.banner4_text h2 {font-size: 24px;margin: 5px 0 5px 0;}
.banner4_text p {font-size: 14px;line-height: 18px;}
.g_enquire_now a {padding: 7px 0;font-size: 14px;width: 136px;margin: 0px 0 0 0;}
.banner5_text h2 {font-size: 24px;margin: 0px 0 5px 0;}
.banner5_text p {font-size: 14px;line-height: 18px;}
.banner5_text {width: 31%;padding: 10px 0;}
.banner6_text {padding: 10px 0;}
.banner6_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner6_text p {font-size: 14px;line-height: 18px;}
.banner7_text {padding:11px 0;}
.banner7_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner7_text p {font-size: 14px;line-height: 18px;}
.banner8_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner8_text {padding: 10px 0;}
.banner8_text p {font-size: 14px;line-height: 18px;}
.banner9_text {padding: 12px 0;}
.banner9_text h2 {font-size: 20px;margin: 5px 0 5px 0;}
.banner9_text p {font-size: 14px;line-height: 18px;}
.about_text_box {padding: 15px 20px;}
.about_text_box h2 {font-size: 20px;margin: 5px 0 5px 0;}
.about_text_box p {font-size: 14px;line-height: 19px;}
.get_touch h2 {font-size: 20px;margin: 10px 0 10px 0;}
.quick_enquiry h2 {font-size: 17px;margin: 12px 0 12px 0;}
.products h2 {font-size: 17px;margin: 12px 0 12px 0;}
.products_list li a {font-size: 15px;margin: 15px 0 15px 0;}
.link_fp li {font-size: 14px;}
.link_fp li a{font-size: 14px;}
.footer_section2 {padding: 20px 0;}
.g_text_box3 h2 {font-size: 20px;margin: 0 0 20px 0;}
.g_text_box2 h2 {font-size: 20px;margin: 0 0 20px 0;}
.new_features li a {font-size: 14px;}
.new_features {margin: 0px 0 15px 0;}
.g_text_box2 h3 {margin: 0 0 15px 0;}
.g_text_box2 {padding: 30px;min-height: 303px;}
.support_and_services {min-height: 303px;}

/*inner page product*/

.product_banner_text h3 {font-size: 28px;}
.product_banner_text h2 {font-size: 41px;margin: 0 0 5px 0;}
.right_panel_text h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
}
.left-panel {
    padding: 30px 15px;
}
.acc_head h3 {
    font-size: 15px;
    margin: 8px 0 8px;
}
.product_categ_list li a {
    font-size: 14px;
}
.right_panel_text p {
    font-size: 14px;
    line-height: 20px;
}
.pc_text_box h2 {
    font-size: 15px;
}
.pc_box_main {
    padding: 20px 10px;
	min-height: 125px;
}
.product_text_box a {
    width: 89%;
}

.product_text_box h2 {
    font-size: 20px;
    margin: 0px 0 5px 0;
}

.product_text_box {
    padding: 20px 20px;
    min-height: 208px;
}

#post-6564 figure{
    height: 100% !important;
    margin-bottom: 10px !important;
}

#post-6566 figure{
    height: 100% !important;
    margin-bottom: 10px !important;
}
.our-culture p{ margin-top: 20px; }

.mbmenu-toggler {
    background: #0065b2 !important;
}
.mbmenu-toggler span.mbmenu-icon {
    background: #0065b2 url(../images/bg/bg_category.png) no-repeat 0 center !important;
    }
.mbmenu-toggler span.title::after {
    background-color: #ec1738 !important;
    line-height: 46px !important;
}


}

@media only screen and (max-width: 768px) {

.best_product h2 {
    font-size: 20px !important;
}
.product_list_home li {
    margin-bottom: 3px;
    font-size: 11px;
    line-height: 16px;
}
p {
    margin: 0 0 5px;
}
.g_enquire_nowc a {
    padding: 0px 0;
    font-size: 12px;
    width: 111px;
    margin: 0px 0 0 0;
}

.banner5_text p {
    font-size: 11px;
    line-height: 16px;
}
.product_list_home2 li {
    margin-bottom: 3px;
    font-size: 11px;
    line-height: 16px;
}
.banner6_text p {
    font-size: 11px;
    line-height: 16px;
}
.g_enquire_nowmo.btn_2_desn a {
    padding: 5px 3px !important;
    font-size: 10px;
}
.banner7_text p {
    font-size: 11px;
    line-height: 16px;
}

.g_enquire_now7 a {
    font-size: 10px;
}

.g_enquire_now7.sm_ap_btn a {
    width: auto;
    padding: 0px 10px !important;
    margin: 2px 5px;
}
.banner8_text p {
    font-size: 11px;
    line-height: 16px;
}
.banner8_text h3 {
    font-size: 14px;
    line-height: 16px;
}

.g_enquire_nowmc a {
    padding: 2px 0;
    font-size: 14px;
    width: 126px;
    margin: 0px 0 0 0;
}

.banner9_text p {
    font-size: 11px;
    line-height: 16px;
}
.banner9_text h3 {
    font-size: 14px;
    line-height: 18px;
}
.g_enquire_now9 a {
    padding: 0px 0;
    font-size: 14px;
    width: 130px;
    margin: 0px 0 0 0;
}
.banner9_text h2 {
    font-size: 17px !important;
    margin: 0px 0px 0px 0 !important;
    padding-bottom: 5px !important;
}

.g_text_box h2 {
    font-size: 14px !important;
    margin-top: 0px;
}

.row.icon_fst_sec {
    margin-bottom: 20px !important;
}
.about_text_box.about_text_box_b {
    padding: 14px 24px 21px !important;
}
.about_text_box h2 {
    font-size: 18px !important;
}
.main-container .page-content .entry-content p {
    margin: 0 0 5px;
}
.main-container .page-content .entry-content p {
    margin: 0 0 9px;
}

.address3 {
    min-height: auto !important;
}
#woocommerce_layered_nav-23 {
    display: block;
    width: 100%;
}

}




@media only screen and (max-width: 767px) {

.top_right_contact {text-align: center;}
.top_right_contact li a {font-size: 14px;}
.top_right_contact li {padding: 1px 15px;border-right: none;line-height: 13px;text-align: center;border-right: 3px solid #ffe6c0;}
.logo {text-align:center;}
.navbar-inverse {background-color: #ddbe8f;border: none;border-color: none;text-align: left;float: none;margin-bottom: 0px;padding: 0px 0px;margin: 10px 0 0 0;}
.navbar-toggle {position: relative;float: right;padding: 6px 6px;margin-top: 3px;margin-right: 5px;margin-bottom: 3px;background-color: transparent;background-image: none;border: 1px solid transparent;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 0;border:none;}
.navbar-nav {margin: 0;}
.navbar {position: relative;min-height: auto;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background:none;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #0065b2;}
.navbar-toggle .icon-bar {width: 22px;height: 3px;border-radius: 1px;}
.nav > li {position: relative;display: block;border-bottom: 1px solid #ccac7c;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #000;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 28px;}
.banner_text p {color: #4d4d4d;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 17px;}
.banner_text {position: absolute;right: 12px;z-index: 9999999999;width: 42%;top: 0;padding: 0px 5px 0 0;text-align: right;}
.banner_text h2 {color: #282828;font-size: 15px;font-family: 'Montserrat', sans-serif;font-weight: 800;text-transform: uppercase;}
.banner_text a {display: block;background: #000;padding: 5px 0;font-size: 14px;color: #ffe6c0;width: 131px;float: left;margin: 3px 0 0 0;text-align: center;border-radius: 4px;float: right;text-decoration: none;}
.gbox_main {background: #4d4d4d;padding: 51px 51px;}
.section3 {padding: 0px 0 0 0;}
.best_product h2 {font-size: 18px;margin: 15px 0 15px 0;}
.banner4_text {position: unset;right: 0;top: 0px;width: 100%;padding: 20px;}
.banner4_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.container2 {overflow: hidden;width: auto;}
.banner4_text p {color: #4d4d5b;font-size: 14px;line-height: 18px;}
.section5 {padding: 20px 0 20px 0;}
.banner5_text {position: unset;width: auto;padding: 20px;text-align: left;}
.banner5_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner6_text h2 {font-size: 20px;color: #4d4d5b;margin: 0px 0 15px 0;}
.banner6_text {position: unset;z-index: 99;right: 80px;top: 0px;width: auto;padding:20px 20px;}
.banner6_text p {color: #4d4d5b;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 18px;}
.banner7_text {position: unset;z-index: 99;left: 0;top: 0px;width: auto;padding: 20px;text-align: right;}
.banner7_text h2 {font-size: 20px;margin: 15px 0 15px 0;text-align: left;}
.banner7_text p {font-size: 14px;line-height: 18px;text-align: left;}
.g_enquire_now7 {text-align: center;float:none;}
.g_enquire_now7 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.banner8_text {position: unset;width: auto;padding: 20px 20px;text-align:left;}
.g_enquire_nowmc a {background: #4d4d4d;color: #ffe6c0;}
.banner8_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size: 14px;font-weight: normal;line-height: 18px;}
.g_enquire_now a {width: 63%;padding: 7px 0;font-size: 16px;text-align: center;display: block;border-radius: 4px;text-decoration: none;margin: 17px auto auto auto; }
.banner9_text {position: unset;width: auto;padding: 20px 20px;text-align: left;}
.about_text_box {background: #333;padding: 15px 15px;}
.about_text_box h2 {font-size: 20px;margin: 0px 0 15px 0;}
.about_text_box p {font-size: 14px;line-height: 18px;}
.banner9_text h2 {font-size: 20px;margin: 10px 0 10px 0; text-align:left;}
.g_enquire_now9 {text-align: center;float: none;}
.g_enquire_now9 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.section10 {padding: 20px 0;}
.get_touch h2 {font-size: 20px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 15px 0 15px 0;}
.quick_enquiry h2 {font-size: 17px;color: #ffe6c0;margin: 15px 0 15px 0;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.link_fp {text-align: center;}
.logo-footer {margin: 20px 0 0 0;text-align: center;}
.get_touch h2 {font-size: 20px;margin: 18px 0 15px 0;}
.social_link {padding: 0;margin: 32px 0 0 0;text-align: center;display: block;}
.g_text_box {text-align: center;}
.mk_desktop{ display:none;}
.mk_mobile{ display:block;}
.g_enquire_nowc a {background: #0363b2;padding: 7px 0;font-size: 16px;color: #ffffff;width: 151px;margin: 10px 0 0 0;}
.g_enquire_nowmo a {background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;}
.banner_desktop{ display:none;}
.banner_mobile{ display:block;}
.banner5_text p {text-align: left;}
.g_enquire_now5 {text-align: left;float: none;}
.banner9_text p {text-align: left;}

.desk_topm{display: none;}
.link_fp_mobile {display: block;}

.career-page{margin: 20px 0;}


#menu-item-18656{display: block;}
.bfk{display: block !important;}
.bfa{display: none !important;background: #ff8d00 !important;}

.mobile-menu-container ul li:last-child, .mobile-mega-menu ul li:last-child {
    border-bottom: 0 !important;
    background: #ff8d00 !important;
    display: none !important;
}
#menu-main-menu .menu-item-18656{background: #ff8d00 !important;}

.mobile-menu-container {
    background:none !important;
}

/*inner page product*/

.product_banner_text {
    position: absolute;
    top: 13px;
    left: 40px;
    width: 50%;
}
.product_banner_text h3 {
    font-size: 21px;
}
.product_banner_text h2 {
    font-size: 34px;
    margin: 0 0 5px 0;
}

.section33 {
    padding: 40px 0;
}
.right_panel_text {
margin-bottom: 30px;
margin-top: 22px;
}
.product_categ_list_box img{ width:100%;}
.gimg_box_p2 img{width:100%;}
.no-padding {
    padding: 0 15px;
}
.pc_box_main{ padding: 0 15px !important;}

.gimg_box_p2{ margin:0 0 20px 0;}

.wpb_single_image .vc_figure {
    width: 100%;
   height: 100% !important;
   margin-bottom: 10px !important;
}
.vc_empty_space{display: none !important;}
.vc_empty_space_inner{display: none !important;}
.wpb_text_column {
    width: auto !important;
}
.banner7_text.bnr_7_txt {
    padding: 20px !important;
}

#product_serial_no{
    padding: 0 0 0 65px !important;
}

#post-6564 figure{
    height: 100% !important;
    margin-bottom: 10px !important;
}

#post-6566 figure{
    height: 100% !important;
    margin-bottom: 10px !important;
}
.our-culture .wpb_wrapper p{ margin-top: 20px; }

.social_link {
    text-align: left;
}


.woocommerce div.product div.images img {
    width: 100% !important;
    float: left !important;
    margin-bottom: 20px !important;
}

.woocommerce div.product div.images img {
    width: 100% !important;
}

.architect_textpera_8 a {
    margin: 0px auto;
}
.architect_textpera_8 p {
    font-size: 16px;
    text-align: center;
}



}




@media only screen and (max-width: 640px) {

.top_right_contact {text-align: center;}
.top_right_contact li a {font-size: 14px;}
.top_right_contact li {padding: 1px 15px;border-right: none;line-height: 13px;text-align: center;border-right: 3px solid #ffe6c0;}
.logo {text-align:center;}
.navbar-inverse {background-color: #ddbe8f;border: none;border-color: none;text-align: left;float: none;margin-bottom: 0px;padding: 0px 0px;margin: 10px 0 0 0;}
.navbar-toggle {position: relative;float: right;padding: 6px 6px;margin-top: 3px;margin-right: 5px;margin-bottom: 3px;background-color: transparent;background-image: none;border: 1px solid transparent;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 0;border:none;}
.navbar-nav {margin: 0;}
.navbar {position: relative;min-height: auto;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background:none;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #0065b2;}
.navbar-toggle .icon-bar {width: 22px;height: 3px;border-radius: 1px;}
.nav > li {position: relative;display: block;border-bottom: 1px solid #ccac7c;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #000;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 28px;}
.banner_text p {color: #4d4d4d;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 17px;}
.banner_text {position: absolute;right: 12px;z-index: 9999999999;width: 42%;top: 0;padding: 0px 5px 0 0;text-align: right;}
.banner_text h2 {color: #282828;font-size: 15px;font-family: 'Montserrat', sans-serif;font-weight: 800;text-transform: uppercase;}
.banner_text a {display: block;background: #000;padding: 5px 0;font-size: 14px;color: #ffe6c0;width: 131px;float: left;margin: 3px 0 0 0;text-align: center;border-radius: 4px;float: right;text-decoration: none;}
.gbox_main {background: #4d4d4d;padding: 51px 51px;}
.section3 {padding: 0px 0 0 0;}
.best_product h2 {font-size: 18px;margin: 15px 0 15px 0;}
.banner4_text {position: unset;right: 0;top: 0px;width: 100%;padding: 20px;}
.banner4_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.container2 {overflow: hidden;width: auto;}
.banner4_text p {color: #4d4d5b;font-size: 14px;line-height: 18px;}
.section5 {padding: 20px 0 20px 0;}
.banner5_text {position: unset;width: auto;padding: 20px;text-align: left;}
.banner5_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner6_text h2 {font-size: 20px;color: #4d4d5b;margin: 0px 0 15px 0;}
.banner6_text {position: unset;z-index: 99;right: 80px;top: 0px;width: auto;padding:20px 20px;}
.banner6_text p {color: #4d4d5b;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 18px;}
.banner7_text {position: unset;z-index: 99;left: 0;top: 0px;width: auto;padding: 20px;text-align: right;}
.banner7_text h2 {font-size: 20px;margin: 15px 0 15px 0;text-align: left;}
.banner7_text p {font-size: 14px;line-height: 18px;text-align: left;}
.g_enquire_now7 {text-align: center;float:none;}
.g_enquire_now7 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.banner8_text {position: unset;width: auto;padding: 20px 20px;text-align:left;}
.g_enquire_nowmc a {background: #4d4d4d;color: #ffe6c0;}
.banner8_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size: 14px;font-weight: normal;line-height: 18px;}
.g_enquire_now a {width: 63%;padding: 7px 0;font-size: 16px;text-align: center;display: block;border-radius: 4px;text-decoration: none;margin: 17px auto auto auto; }
.banner9_text {position: unset;width: auto;padding: 20px 20px;text-align: left;}
.about_text_box {background: #333;padding: 15px 15px;}
.about_text_box h2 {font-size: 20px;margin: 0px 0 15px 0;}
.about_text_box p {font-size: 14px;line-height: 18px;}
.banner9_text h2 {font-size: 20px;margin: 10px 0 10px 0; text-align:left;}
.g_enquire_now9 {text-align: center;float: none;}
.g_enquire_now9 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.section10 {padding: 20px 0;}
.get_touch h2 {font-size: 20px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 15px 0 15px 0;}
.quick_enquiry h2 {font-size: 17px;color: #ffe6c0;margin: 15px 0 15px 0;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.link_fp {text-align: center;}
.logo-footer {margin: 20px 0 0 0;text-align: center;}
.get_touch h2 {font-size: 20px;margin: 18px 0 15px 0;}
.social_link {padding: 0;margin: 32px 0 0 0;text-align: left;display: block;}
.g_text_box {text-align: center;}
.mk_desktop{ display:none;}
.mk_mobile{ display:block;}
.g_enquire_nowc a {background: #0363b2;padding: 7px 0;font-size: 16px;color: #ffffff;width: 151px;margin: 10px 0 0 0;}
.g_enquire_nowmo a {background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;}
.banner_desktop{ display:none;}
.banner_mobile{ display:block;}
.banner5_text p {text-align: left;}
.g_enquire_now5 {text-align: left;float: none;}
.banner9_text p {text-align: left;}

/*inner page product*/

.product_banner_text {
    position: absolute;
    top: 13px;
    left: 40px;
    width: 50%;
}
.product_banner_text h3 {
    font-size: 21px;
}
.product_banner_text h2 {
    font-size: 34px;
    margin: 0 0 5px 0;
}

.section33 {
    padding: 40px 0;
}
.right_panel_text {
margin-bottom: 30px;
margin-top: 22px;
}
.product_categ_list_box img{ width:100%;}
.gimg_box_p2 img{width:100%;}
.no-padding {
    padding: 0 15px;
}
.pc_box_main{ padding: 0 15px !important;}

.gimg_box_p2{ margin:0 0 20px 0;}

.wpb_single_image .vc_figure {
    width: 100%;
}
.vc_empty_space{display: none !important;}
.vc_empty_space_inner{display: none !important;}
.wpb_text_column {
    width: auto !important;
}
.banner7_text.bnr_7_txt {
    padding: 20px !important;
}

#product_serial_no{
    padding: 0 0 0 65px !important;
}

#post-6564 figure{
    height: 100% !important;
    margin-bottom: 10px !important;
}

#post-6566 figure{
    height: 100% !important;
    margin-bottom: 10px !important;
}
.our-culture .wpb_wrapper p{ margin-top: 20px; }

.quantity .qty{padding: 0 10px 0 0px !important;}

.architect_textpera_4 {min-height: auto;}


.item_arcita h2 {
    font-size: 27px;
}
.most_beauty h2, .strong_brand h2, .most_popular h2, .be-a_partner h2 {
    font-size: 22px;
}
.most_beauty, .strong_brand, .most_popular, .be-a_partner {
    padding: 40px 0;
}
.strong_brand p span {
    font-size: 26px;
}
.strong_brand h3 {
    font-size: 37px;
    margin-top: 30px;
}
.be-a_partner h2 span {
    font-size: 35px;
}
.strong_brand h6 {
    font-size: 18px;
}
#owl-demoz .owl-buttons .owl-prev {
    position: absolute;
    left: 0;
}
#owl-demoz .owl-buttons .owl-next {
    position: absolute;
    right: 0;
}
#owl-demoz .owl-buttons .owl-next {
    position: absolute;
    right: 0;
}
#owl-demoz .owl-buttons {
    top: -130px;
}
.be-a_partner img {
    margin-top: 30px;
}
.banner_pic {
    position: relative;
}
.blue_rnd p {
    width: 160px;
    height: 160px;
}
.blue_rnd {
    flex-wrap: wrap;
}
.most_beauty.an_ass.cnct_w_us span {
    font-size: 15px;
}
.discount {
    padding: 6px 0 !important;
    margin-right: 0 !important;
}

.discount a {
    font-size: 11px !important;
    font-weight: normal;
}


}

@media only screen and (max-width: 480px) {

.top_right_contact {text-align: center;}
.top_right_contact li a {font-size: 14px;}
.top_right_contact li {padding: 10px 0px;border-right: none;line-height: 13px;text-align: center;border-bottom: 1px solid #ffe6c040;}
.logo {text-align:center;}
.navbar-inverse {background-color: #ddbe8f;border: none;border-color: none;text-align: left;float: none;margin-bottom: 0px;padding: 0px 0px;margin: 10px 0 0 0;}
.navbar-toggle {position: relative;float: right;padding: 6px 6px;margin-top: 3px;margin-right: 5px;margin-bottom: 3px;background-color: transparent;background-image: none;border: 1px solid transparent;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 0;border:none;}
.navbar-nav {margin: 0;}
.navbar {position: relative;min-height: auto;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background:none;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #0065b2;}
.navbar-toggle .icon-bar {width: 22px;height: 3px;border-radius: 1px;}
.nav > li {position: relative;display: block;border-bottom: 1px solid #ccac7c;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #000;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 28px;}
.banner_text p {color: #4d4d4d;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 17px;}
.banner_text {position: absolute;right: 12px;z-index: 9999999999;width: 88%;top: 0;padding: 0px 5px 0 0;text-align: right;}
.banner_text h2 {color: #282828;font-size: 15px;font-family: 'Montserrat', sans-serif;font-weight: 800;text-transform: uppercase;}
.banner_text a {display: block;background: #000;padding: 5px 0;font-size: 14px;color: #ffe6c0;width: 131px;float: left;margin: 3px 0 0 0;text-align: center;border-radius: 4px;float: right;text-decoration: none;}
.gbox_main {background: #4d4d4d;padding: 51px 51px;}
.section3 {padding: 0px 0 0 0;}
.best_product h2 {font-size: 18px;margin: 15px 0 15px 0;}
.banner4_text {position: unset;right: 0;top: 0px;width: 100%;padding: 20px;}
.banner4_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.container2 {overflow: hidden;width: auto;}
.banner4_text p {color: #4d4d5b;font-size: 14px;line-height: 18px;}
.section5 {padding: 20px 0 20px 0;}
.banner5_text {position: unset;width: auto;padding: 20px;text-align: left;}
.banner5_text h2 {font-size: 20px;color: #ffffff;margin: 15px 0 15px 0;text-align:left;}
.banner6_text h2 {font-size: 20px;color: #4d4d5b;margin: 0px 0 15px 0;}
.banner6_text {position: unset;z-index: 99;right: 80px;top: 0px;width: auto;padding:20px 20px;}
.banner6_text p {color: #4d4d5b;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 18px;}
.banner7_text {position: unset;z-index: 99;left: 0;top: 0px;width: auto;padding: 20px;text-align: center;}
.banner7_text h2 {font-size: 20px;margin: 15px 0 15px 0;text-align: left;}
.banner7_text p {font-size: 14px;line-height: 18px;}
.g_enquire_now7 {text-align: center;}
.g_enquire_now7 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;/* width: 100%;*/margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.banner8_text {position: unset;width: auto;padding: 20px 20px;text-align:left;}
.banner8_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size: 14px;font-weight: normal;line-height: 18px;}
.g_enquire_now a {width: 63%;padding: 7px 0;font-size: 16px;text-align: center;display: block;border-radius: 4px;text-decoration: none;margin: 17px auto auto auto; }
.banner9_text {position: unset;width: auto;padding: 20px 20px;text-align: left;}
.about_text_box {background: #333;padding: 15px 15px;}
.about_text_box h2 {font-size: 20px;margin: 0px 0 15px 0;}
.about_text_box p {font-size: 14px;line-height: 18px;}
.banner9_text h2 {font-size: 20px;margin: 10px 0 10px 0;text-align:left;}
.g_enquire_now9 {text-align: center;float: none;width: 100%;}
.g_enquire_now9 a {display: block;background: #ffffff;padding: 7px 0;font-size: 16px;color: #0d69b5;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.section10 {padding: 20px 0;}
.get_touch h2 {font-size: 20px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 15px 0 15px 0;}
.quick_enquiry h2 {font-size: 17px;color: #ffe6c0;margin: 15px 0 15px 0;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.link_fp {text-align: center;}
.logo-footer {margin: 20px 0 0 0;text-align: center;}
.get_touch h2 {font-size: 20px;margin: 18px 0 15px 0;}
.support_and_services {margin: 0px 0 0 0;}
.g_text_box2 h2 {font-size: 24px;margin: 0 0 15px 0;}
.g_text_box2 h3 {font-size: 18px;margin: 0 0 10px 0;}
.g_text_box2 {padding: 20px; min-height: auto;}
.g_text_box3 {padding: 20px;}
.g_text_box3 h2 {font-size: 20px;margin: 0 0 15px 0;}
.new_features {margin: 0px 0 16px 0;}
.get_touch h2 {font-size: 20px;margin: 4px 0 4px 0;}
.products_list {padding: 0;margin: 0 0 0px;}
.products h2 {margin: 5px 0 5px 0;}
.link_fp li {width:100%;margin: 0;padding:12px 0;border-right: none;border-bottom: 1px solid #4d4d4d;}
.g_enquire_nowmc a {background: #4d4d4d;padding: 7px 0;font-size: 16px;width: 151px;margin: 10px 0 0 0;color: #ffe6c0;}


.product_banner_text h2 {
    font-size: 25px;
}
.product_banner_text h3 {
    font-size: 16px;
}
.product_banner_text {
    left: 30px;
}
.pc_box_main{ padding: 0 15px !important;}
.pagination li a {
    padding: 6px 10px;
}
.fbox {
    padding: 6px 30px;
}
.row.icon_fst_sec {
    margin-bottom: 0px !important;
}
.d_desk img{width: 100% !important;}

.address3 li {
    font-size: 13px;
}
.banner6_text.padd_other_ad {
    padding: 20px !important;
}
.rd_blog{margin-top: 10px;}
.gimg_box:last-child {
    background: none;
    margin-bottom: 10px;
}

.formbox1 h3 span {
    font-size: 18px !important;
}

.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
    max-width: 70% !important;
    width: 70% !important;
}

.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
    padding: 0 10px 0 78px !important;
}

.agrbt {
    font-size: 16px !important;
}

.our-culture .wpb_wrapper p{ margin-top: 20px; }
.our_cultute_image img{margin-bottom: 20px;}
.cstm_prod_filter_dsgn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cstm_prod_filter_dsgn .shop-products.grid-view.row {
    margin: 0;
    width: 73%;
}
.cstm_prod_filter_dsgn .toolbar.tb-bottom {
    width: 100%;
}
/*inner page responsive css*/


#post-6602 figure {
    height: 100% !important;
    margin-bottom: 10px !important;
}

#post-6564 figure{
    height: 100% !important;
    margin-bottom: 0px !important;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
    margin-bottom: 0px !important;
}

.main-container .page-content .entry-content p {
    margin: 0 0 0px;
}

#post-6566 figure{
    height: 100% !important;
    margin-bottom: 0px !important;
}

#post-6568 h2{font-family: 'Lato', sans-serif !important;}

.form-control-career{padding-left: 10px !important;}

#wpcf7-f6541-p6542-o1 .form-control-career {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 10px !important;
}
#wpcf7-f15236-o1 .form-control{padding-left: 10px !important;
max-width: 100% !important;
margin-bottom: 15px !important;
width: 100% !important;}
section.key_feature {
    padding: 30px 0px;
}
h2.same_heading {
    font-size: 28px !important;
}
#archive-product .entry-title {
    margin: 5px 0 0px !important;
}
.address2 {
    min-height: 370px !important;
}

.main-container .page-content .entry-content p {
    margin: 0 0 10px !important;
}


.main-container .page-content {
    padding: 0px 0 0px !important;
}

.page-content .comments-area {
    float: left;
    margin: 0 0 0px !important;
}
.post-6568 figure {
    margin: 0;
    height: 100% !important;
    margin-bottom: 20px !important;
}


.woocommerce div.product div.images img {
    width: 100% !important;
}


.quantity input[type="text"],{padding: 0 10px 0 0px !important;}

.news_art {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.benefits_section {
    margin-bottom: 5px;
}
.sn_btn {
    padding: 8px 24px;
}
.aid_text {
    color: #000 !important;
    font-size: 20px !important;
}

.main-container.full-width .entry-header {
    margin-bottom: 15px;
}
.discount a {
    font-size: 14px !important;
    font-weight: 500;
}



}

@media only screen and (max-width: 360px) {
.top_right_contact {text-align: center;}
.top_right_contact li a {font-size: 14px;}
.top_right_contact li {padding: 10px 0px;border-right: none;line-height: 13px;text-align: center;border-bottom: 1px solid #ffe6c040;}
.logo {text-align:center;}
.navbar-inverse {background-color: #ddbe8f;border: none;border-color: none;text-align: left;float: none;margin-bottom: 0px;padding: 0px 0px;margin: 10px 0 0 0;}
.navbar-toggle {position: relative;float: right;padding: 6px 6px;margin-top: 3px;margin-right: 5px;margin-bottom: 3px;background-color: transparent;background-image: none;border: 1px solid transparent;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;border-left-color: transparent;border-radius: 0;border:none;}
.navbar-nav {margin: 0;}
.navbar {position: relative;min-height: auto;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background:none;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #0065b2;}
.navbar-toggle .icon-bar {width: 22px;height: 3px;border-radius: 1px;}
.nav > li {position: relative;display: block;border-bottom: 1px solid #ccac7c;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {color: #000;}
.navbar-nav .open .dropdown-menu > li > a {line-height: 28px;}
.banner_text p {color: #4d4d4d;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 17px;}
.banner_text {position: absolute;right: 12px;z-index: 9999999999;width: 88%;top: 0;padding: 0px 5px 0 0;text-align: right;}
.banner_text h2 {color: #282828;font-size: 15px;font-family: 'Montserrat', sans-serif;font-weight: 800;text-transform: uppercase;}
.banner_text a {display: block;background: #000;padding: 5px 0;font-size: 14px;color: #ffe6c0;width: 131px;float: left;margin: 3px 0 0 0;text-align: center;border-radius: 4px;float: right;text-decoration: none;}
.gbox_main {background: #4d4d4d;padding: 51px 51px;}
.section3 {padding: 0px 0 0 0;}
.best_product h2 {font-size: 18px;margin: 15px 0 15px 0;}
.banner4_text {position: unset;right: 0;top: 0px;width: 100%;padding: 20px;}
.banner4_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.container2 {overflow: hidden;width: auto;}
.banner4_text p {color: #4d4d5b;font-size: 14px;line-height: 18px;}
.section5 {padding: 20px 0 20px 0;}
.banner5_text {position: unset;width: auto;padding: 20px;text-align: right;}
.banner5_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0; text-align:left;}
.banner6_text h2 {font-size: 20px;color: #4d4d5b;margin: 0px 0 15px 0;}
.banner6_text {position: unset;z-index: 99;right: 80px;top: 0px;width: auto;padding:20px 20px;}
.banner6_text p {color: #4d4d5b;font-size: 14px;font-family: 'Montserrat', sans-serif;font-weight: normal;line-height: 18px;}
.banner7_text {position: unset;z-index: 99;left: 0;top: 0px;width: auto;padding: 20px;text-align: right;}
.banner7_text h2 {font-size: 20px;margin: 15px 0 15px 0; text-align:left;}
.banner7_text p {font-size: 14px;line-height: 18px;}
.g_enquire_now7 {text-align: right;}
.g_enquire_now7 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.banner8_text {position: unset;width: auto;padding: 20px 20px;text-align:left;}
.banner8_text h2 {font-size: 20px;color: #4d4d4d;margin: 15px 0 15px 0;}
.banner8_text p {color: #4d4d4d;font-size: 14px;font-weight: normal;line-height: 18px;}
.g_enquire_now a {width: 63%;padding: 7px 0;font-size: 16px;text-align: center;display: block;border-radius: 4px;text-decoration: none;margin: 17px auto auto auto; }
.banner9_text {position: unset;width: auto;padding: 20px 20px;text-align: right;}
.about_text_box {background: #333;padding: 15px 15px;}
.about_text_box h2 {font-size: 20px;margin: 0px 0 15px 0;}
.about_text_box p {font-size: 14px;line-height: 18px;}
.banner9_text h2 {font-size: 20px;margin: 10px 0 10px 0; text-align:left;}
.g_enquire_now9 {text-align: right;width: 100%;}
.g_enquire_now9 a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmc a {display: block;background: #4d4d4d;padding: 7px 0;font-size: 16px;color: #ffe6c0;width: 151px;margin: 10px 0 0 0;text-align: center;border-radius: 4px;text-decoration: none;}
.g_enquire_nowmc a span {margin-right: 8px;}
.section10 {padding: 20px 0;}
.get_touch h2 {font-size: 20px;font-weight: 700;color: #ffe6c0;text-transform: uppercase;margin: 15px 0 15px 0;}
.quick_enquiry h2 {font-size: 17px;color: #ffe6c0;margin: 15px 0 15px 0;}
.gbox_main4 {order: 1;}
.gbox_main2 {order: 2;}
.gbox_main3 {order: 4;}
.gbox_main4 {order: 5;}
.link_fp {text-align: center;}
.logo-footer {margin: 20px 0 0 0;text-align: center;}
.products h2 {
    margin: 3px 0 3px 0;
}
.fbox {
    padding: 6px 30px;
}
.main-container .page-content {
    padding: 0px 0 0px;
}

.formbox1 h3 span {
    font-size: 18px !important;
    line-height: 22px !important;
}
#user_pincode {
    padding: 0 10px 0 60px !important;
    width: 68% !important;
}

.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
    max-width: 70% !important;
    width: 70% !important;
}

.discount a {
    font-size: 13px !important;
    font-weight: 500;
}



}
/*Media CSS Start Here*/