.wrapper.box-layout {
  width: 1328px;
}
.container {
  width: 1200px;
}
.su-spoiler-style-default > .su-spoiler-title {
  padding-left: 27px;
  padding-right: 0;
}
.su-spoiler-title {
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  min-height: 20px;
  padding: 7px 7px 7px 34px;
  position: relative;
}
.su-spoiler-icon {
  display: block;
  font-family: FontAwesome;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  left: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 20px;
}
.su-spoiler.su-spoiler-closed > .su-spoiler-content {
  border: medium none;
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}
.su-spoiler-icon-plus.su-spoiler-closed .su-spoiler-icon:before {
  content: "\f067";
}
.su-spoiler-icon-plus .su-spoiler-icon:before {
  content: "\f068";
}
iframe {
  max-width: 100%;
}
.nav-container #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
