/* Responsive style sheet */

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/*End min*/

@media screen and (max-width: 1200px) {
	.vg-max1200-12 {
		width: 100% !important;
	}
	
	.main-container .page-content .entry-content .shop_table .product-name {
		width: 40%;
	}
	
	.front-page {
		.vc_row {
			.row-container {
				max-width: 970px;
			}
		}
	}
	.main-container {
		.default-page.about-page{
			.vc_row {
				.row-container {
					max-width: 970px;
				}
			}
		}
		&.full-width {
			.vc_row {
				.row-container {
					max-width: 970px;
				}
			}
			.page-content {
				.entry-header {
					.entry-title {
						max-width: 970px;
					}
				}
				.entry-content {
					.woocommerce {
						max-width: 970px;
					}
				}
			}
		}
	}
	.main-container .page-content td.product-add-to-cart .button.alt {
		font-size: 0;
		&:before {
			content: "\f07a";
			font-size: 14px;
			display: inline-block;
			font-family: FontAwesome;
		}
	}
	.sidebar-category .woocommerce.widget_top_rated_products ul.product_list_widget li img, 
	.sidebar-category .widget_products.woocommerce ul.cart_list li img, 
	.sidebar-category .widget_products.woocommerce ul.product_list_widget li img{
		width: 60px;
		height: 80px;
	}
	.woocommerce ul.cart_list li .amount, .woocommerce ul.product_list_widget li .amount {
		font-size: 14px;
	}
	.form-newsletter2 .form-content form.widget_wysija p input.wysija-input {
		width: 200px;
	}
	.tweets-list-container {
		max-height: 300px;
	}
	.vg-md-none {
		display: none !important;
	}
	.social-icons {
		li {
			a {
				width: 30px;
				font-size: 18px;
				line-height: 30px;
				height: 30px;
			}
		}
	}
	/*betashop*/
	/* Footer */
	.top-bottom-wrapper{
		background:@headingcolor;
		text-align:center;
	}
	.menu-top-footer ul.menu {
		text-align:center;
	}
	.vg-social{
		text-align:center;
		margin:20px 0 0;
	}
	.social-icons{
		float:none;
	}
	/* Category Products - Shop */
	.main-container .shop-products .item-col{
		&.first{
			clear:none;
		}
		&.nth-child(2n+1){
			clear:both;
		}
	}
	.box-slider{
		[class*="vc_col-"]{
			width:100% !important;
		}
		.wpb_single_image {
			display:none !important;
		}
	}
	.page-template-front-page .cateproductmenu {
		.mega_main_menu, .mobile-mega-menu{
			display:none;
		}
	}
	.layout-1 {
		#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link {
			padding: 8px 11px !important;
		}
		.mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link::after {
			content: none;
		}
	}
	.top-wrapper.active .siderbar-list-category {
		display: none;
	}
}
@media screen and (max-width: 1200px) and (min-width: 767px) {
	.main-container .shop-products > div{
		&.first-sm {
			clear: both;
		}
	}
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
	.vgpc-wrapper {
		.vgpc-post-title {
			font-size: 15px;
			line-height: 20px;
		}
	}
	
	/*Setting VG vg-md Class width*/
	.vg-md-12{
		width:100% !important;
	}
	.vg-md-11{
		width:91.66666667% !important;
	}
	.vg-md-10{
		width:83.33333333% !important;
	}
	.vg-md-9{
		width:75% !important;
	}
	.vg-md-8{
		width:66.66666667% !important;
	}
	.vg-md-7{
		width:58.33333333% !important;
	}
	.vg-md-6{
		width:50% !important;
	}
	.vg-md-5{
		width:41.66666667% !important;
	}
	.vg-md-4{
		width:33.33333333% !important;
	}
	.vg-md-3{
		width:25% !important;
	}
	.vg-md-2{
		width:16.66666667% !important;
	}
	.vg-md-1{
		width:8.33333333% !important;
	}
	/*End Setting Class Width VG vg-md*/
	
}
@media screen and (max-width: 992px) and (min-width: 767px) {
	/*Setting VG SM Class width*/
	.vg-sm-12{
		width:100% !important;
	}
	.vg-sm-11{
		width:91.66666667% !important;
	}
	.vg-sm-10{
		width:83.33333333% !important;
	}
	.vg-sm-9{
		width:75% !important;
	}
	.vg-sm-8{
		width:66.66666667% !important;
	}
	.vg-sm-7{
		width:58.33333333% !important;
	}
	.vg-sm-6{
		width:50% !important;
	}
	.vg-sm-5{
		width:41.66666667% !important;
	}
	.vg-sm-4{
		width:33.33333333% !important;
	}
	.vg-sm-3{
		width:25% !important;
	}
	.vg-sm-2{
		width:16.66666667% !important;
	}
	.vg-sm-1{
		width:8.33333333% !important;
	}
	.vg-sm-visible {
		display: block !Important;
	}
	.vg-sm-hidden {
	    display: none!important;
	}
	/*End Setting Class Width VG SM*/
	
	.mobile-mega-menu > ul > li ul.sub-menu li a {
		padding: 0 5px;
		text-transform: capitalize;
		font-size: 11px;
	}
}
@media screen and (max-width: 1100px) {
	.full-group{
		.main-content-home, .secondary{
			width:100% !important;
		}
	}
	.vgwc-item.vertical .ma-box-content .vgwc-text-block .vgwc-product-title{
		min-height:30px;
	}
}
@media screen and (max-width: 1023px){
	.cateproductmenu .widget_mega_main_sidebar_menu .vg-title h3 {
		line-height: 46px !important;
	}
	.cateproductmenu .vg-title {
	    height: 46px;
	    line-height: 46px;
	    width: auto;
	}
	.visible-large {
		display: none;
	}
	.visible-small {
		display: block;
	}
	.sp-main-menu-wrapper{
		&.home2{
			text-align:left;
		}
	}
	.cateproductmenu .mega_main_menu, .cateproductmenu .mobile-mega-menu {
	    top: 46px !important;
	}
	.cateproductmenu.open .mobile-mega-menu {
		display: block !important;
	}
	/*betashop*/
	.group-products{
		[class*="vc_col-"]{
				width:100% !important;
		}
	}
	#sp-logo .logo a{
		text-align:center;
		margin-bottom:20px;
	}
	.vg-welcome{
		margin: 0 0 20px;
		text-align: center;	
	}
	.mbmenu-toggler{
		margin-top:15px;
	}
	.catlist-group{
		.translate(0, 0);
		background-color:#f2f2f2;
		padding:45px 0;
		[class*="vc_col-"]{
			float:left;
			width:50% !important;
			margin-bottom:30px;
			&:nth-child(2n+1){
				clear:both;
			}
		}
	}
	.sp-main-menu-wrapper.home2{
		.mbmenu-toggler{
			margin-top:0;
		}
	}
	.cateproductmenu {
		.widget_mega_main_sidebar_menu {
			.vg-title {
				h3{
					line-height:37px;
				}	
			}	
		}	
		.mega_main_menu, .mobile-mega-menu{
			top:37px;
		}
	}
	.page-template-front-page{
		.cateproductmenu {
			.mega_main_menu, .mobile-mega-menu { 
				display:none;
			}
		}
	}
	.box-slider{
		[class*="vc_col-"]{
			width:100% !important;
		}
	}
	.vina-btnslider{
		display:none !important;
	}
	.mbmenu-toggler {
		height: 46px;
		line-height: 46px;
		margin-top: 0;
	}
	.mbmenu-toggler span.mbmenu-icon {
		height: 46px;
	}
}
@media screen and (max-width: 992px) {
	.banner {
		display: none;
	}
	#top {
	   text-align: center;
	}
	.top-bar ul.menu,.top-bar ul.menu li, .sp-contact-info, .sp-contact-info li {
		float: none !important;
	}
	.sp-contact-info,
	.sp-contact-info .sp-contact-email,
	.top-bar ul.menu li,
	.top-bar ul.menu li:last-child{
		border: 0 !important;
	}
	.widget_sp_image  {
		display: none !Important;
	}
	.main-container .page-content .entry-content .shop_table .product-name {
		width: 30%;
	}
	.mobile-menu-container {
		z-index: 999;
	}
	.mobile-menu-container > ul > li > a, .mobile-mega-menu > ul > li > a {
		padding: 0 10px;
	}
	.front-page {
		.vc_row {
			.row-container {
				max-width: 750px;
			}
		}
	}
	.form-newsletter .row-container {
		max-width: 730px !important;
	}
	.latest-news .spc-container .spc-list li {
		width: 50% !important;
		float: left;
		.image-block {
			width: 100%;
		}
		.text-block { 
			width: 100%;
			padding: 15px 0px 0px 0px;
		}
	}
	.bottom-link .menu-link .nav_menu li {
		a {
			padding-right: 15px;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.sidebar-category .widget_sp_image img {
		display: none;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields h3, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields h3 {
		font-size: 24px;
	}
	.main-container .page-content .entry-content #order_review_heading {
		font-size: 24px;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields label.checkbox, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields label.checkbox {
		font-size: 24px;
	}
	.yith_magnifier_mousetrap {
		display: none;
	}
	.main-container .product-view .upsells_products_widget, .main-container .product-view .related_products_widget {
		margin-bottom: 30px;
	}
	.main-container.about-page .vina-addon-content .vina-img img {
		width: 100%;
	}
	.main-container.about-page .vc_tta.vc_tta-tabs .vc_tta-tabs-list li a {
		font-size: 11px;
	}
	.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-title-text {
		font-size: 11px;
	}
	.main-container.page-faq .vina-boxed .vina-action {
		padding: 10px;
		font-size: 12px;
	}
	.main-container.page-faq .features-item {
		text-align: center;
		i { 
			float: none;
			margin: 0;
		}
		.features-info {
			width: 100%;
		}
	}
	/*betashop*/
	.top-bar{
		background:@headerbg;
		&.home1{
			background:@headerbg;
			.sp-contact-info li{
				color:#fff;
				i{
					color:#fff;
					border-color:#fff;
				}
			}
		}
	}
}
@media screen and (max-width: 800px) {
	
	/*Blog*/
	.blog-page.blog-nosidebar {
		.post-thumbnail, .postinfo-wrapper{
			width:100%;
			float:none;
		}	
		.postinfo-wrapper{
			padding:15px 0;
		}
	}
	/*Checkout*/
	.main-container .page-content .entry-content{
		#customer_details, #order_review{
			width:100%;
			padding:0;
		}	
		.woocommerce {
			.woocommerce-billing-fields, .woocommerce-shipping-fields {
				margin-bottom: 30px;
			}	
		}
	}
	.vgwc-item{
		&.vertical{
			.ma-box-content{
				.vgwc-add-to-cart {
					display:block;
					margin-bottom:5px;
					float:none;
					a{
						display:inline-block;
					}
				}
				.vgwc-button-group {
					.add-to-links {
						.vgwc-wishlist{
							a{
								margin-left: 0 !important;
							}
						}
					}
				}
			}
		}
	}
	.module-product{
		&.style1{
			margin-top:30px;
		}
	}
}
@media screen and (max-width: 767px) {
	
	.mini_cart_inner {
		z-index: 100;
	}
	.main-container .shop-products > div{ 
		&:nth-child(2n + 3) {
			clear: both;
		}
	}
	.vg-newsletter {
		.newsletter-container {
		    padding-left: 0;
		    position: static;
			.header-newsletter {
				position: static;
				padding-bottom: 15px;
			}
		}
	}
	/*Page category*/
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8,
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col4 {
		padding: 0;
	}
	.main-container .shop-products.list-view .vgwc-item .ma-box-content .vgwc-image-block {
		margin-bottom: 8px;
	}
	.main-container.about-page .vina-addon-content .vina-img img {
		margin: 0;
	}
	.quickview-wrapper #quickview-content .main-container .product-view > .row > div {
		width: 100%;
	}
	.quickview-wrapper #quickview-content .main-container .product-view .summary.single-product-info {
		margin-top: 20px;
	}
	.copyright {
		text-align: center;
		margin-bottom: 10px;
	}
	.main-container.front-page .page-content {
	    padding: 0 15px;
	}
	
	.brands-carousel.owl-carousel .owl-controls .owl-buttons > div.owl-prev {
		left: 10px;
	}
	.brands-carousel.owl-carousel .owl-controls .owl-buttons > div.owl-next {
		right: 10px;
	}
	.top-info {
		text-align: center;
	}
	.topbar-menu {
		text-align: center;
		border-top: 1px solid #383838;
		.nav-menu {
			float: none;
		}
	}
	.header {
		> .container {
			padding-bottom: 5px;
		}
	}
	.wpb_single_image .vc_single_image-wrapper {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.betashop-banner {
		margin-top: 20px;
	}
	.banner-box {
		margin-top: 20px;
	}
	.vc_tta.vc_general .vc_tta-panel {
		margin-bottom: 15px;
	}
	.vgwc-wrapper.owl-carousel .vgwc-image-block {
		img {
			width: 100%;
		}
	}
	.banner-box img {
		width: 100%;
	}
	.latest-news {
		margin-top: 30px;
	}
	.main-container .page-content .entry-content .actions .cart-total-wrapper {
		margin-top: 30px;
		float: left;
	}
	
	.filter-options .btn {
		padding: 10px;
	}	
	.single-project.has-gallery .gallery, .single-project.no-gallery .gallery {
		margin-bottom: 20px;
	}
	.single-project.has-gallery .gallery a, .single-project.no-gallery .gallery a {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.about-title {
		margin-top: 20px !important;
	}
	.vina-img {
		margin-top: 25px;
	}
	.main-container.services-page .services-content h2 {
		margin-top: 20px;
	}
	.main-container.services-page .services-list h3 {
		margin-top: 20px;
	}
	.vina-addon-content {
		margin-bottom: 20px !important;
	}
	.main-container.page-faq .vina-boxed {
		margin-top: 30px;
	}
	.carousel-products {
		margin-top: 20px;
	}
	/*betashop*/
	.sp-main-menu-wrapper{
		&.home2{
			padding:15px 0;
			.mbmenu-toggler{
				margin-top:15px;
			}
		}	
	}
	/* Category Products - Shop */
	#archive-product .entry-title{
		margin:30px 0 20px;
	}
	.main-container .toolbar .woocommerce-ordering{
		width:100%;
		margin:10px 0;
	}
	.main-container .product-view {
		.summary.single-product-info{
			margin-bottom:30px;
		}	
		.single-product-image{
			margin-bottom:0;
			.thumbnails_wrapper{
				margin-bottom:20px;
			}
		}
	}
	/*Page */
	.main-container.about-page .achievements{
		padding-left:0;
	}
	.main-container .service-item i {
		margin: 25px auto;
	}
	.tab-services {
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
			display: none !important;
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
			background-color: transparent;
			border: none;
		}
	}
	
	.vgpc-wrapper .vgpc-post-meta{
		position:static;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 599px) {
	/*Page Category*/
	.main-container {
		.shop-products,.shop-category {
			> div {
				width: 100%;
			}
		}
	}
	.main-container .product-view .product .woocommerce-tabs ul.tabs li a {
		padding: 8px 12px;
		font-size: 13px;
	}
	.quickview-wrapper #quickview-content .main-container .product-view > .row > div {
		width: 100%;
	}
	.blog-page .social-sharing {
		text-align: center;
		.widget-title {
			width: 100%;
			text-align: center;
			padding-bottom: 8px;	
		}
		.social-icons {
			float: none;
		}
	}
	.main-container .page-content .entry-content .shop_table {
		thead {
			display: none !important;
		}
		td {
			display: inline-block !important;
			width: 100% !important;
			text-align: center;
		}
		.product-name {
			width: 100%;
			
		}
		td.product-name {
			text-align: center;
		}
		.product-thumbnail {
			max-width: 100%;
			a {
				display: inline-block;
			}
		}	
		.product-add-to-cart .button.alt {
			display: inline-block;
			float: none;
			margin: 0;
			width: 100%;
		}
		.button, .button.alt, #submit {
			width: 100%;
			margin: 5px 0px;
		}
		.quantity {
			display: inline-block;
		}
	}
	.main-container .page-content .entry-content #order_review .shop_table tbody td{
		display:table-cell !important;
	}
	/*betashop*/
	.main-container.front-page{
		padding:0 0 25px;
	}
	.sl1-text2{
		&:after{
			display:none !important;
		}
		span{
			line-height:40px !important;
			&:after{
				display:none !important;
			}
		} 
	}
	.header-block-static{
		.box-col{
			width:100% !important;
		}
	}
	.vgwc-item.vertical .ma-box-content .vgwc-text-block .vgwc-product-title{
		min-height:1px;
	}
	.layout-2, .layout-3, .layout-5, .layout-6, 
	.related_products_widget, .upsells_products_widget{
		.owl-theme > .owl-controls > .owl-buttons{
			display:none;
		}	
	}
	.vg-front-page-title h3, .vg-front-page-title2 h3{
		padding: 10px 20px;
		font-size: 16px;
		line-height: 24px;
	}
	.vg-front-page-title2 h3{
		padding-left:80px;
	}
	/*Page*/
	.tab-services .vc_general.vc_tta-tabs.tab-services-content .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab {
		width: 33.33% !important;
		> a {
			font-size: 11px !important;
			i {
				font-size: 30px !important;
				margin-bottom: 5px !important;
			}
		}
	}
	.col-md-5ths, .col-lg-5ths {
		width: 100% !important;
		margin-bottom:20px !important; 
	}
	.catlist-group{
		[class*="vc_col-"]{
			width:100% !important;
			float:none;
		}
	}
}
@media screen and (max-width: 479px) {
		.sp-cart{
		&.home1{
			display:inline-block;
			position:static;
			padding-left:0;
			margin: 15px 0;
			.mini_cart_inner {
				float:none;
				.top-cart-title {
					.shopping_cart{
						&:before{
							display:none;
						}
					}	
				}	
			}
			.mcart-border{
				right:-50%;
				&:after {
					right:50%;
					.translate(50%, 0);
				}
			}
		}	
	}
	.sp-contact-info {
	    display:none;
	}
	.top-bar ul.menu li a {
	    padding: 5px;
		line-height:20px;
	}
	.mcart-border{
		display:none;
	}
	/*quantity*/
	.quantity {
		.input-text, input[type="text"], .form-row .input-text {
			width: 30px !important;
		}
		.minus, .plus {
			font-size: 12px;
			width: 30px !important;
		}
	}
	
	.main-container .product-view .summary.single-product-info .cart .quantity .input-tex
	.main-container .product-view .summary.single-product-info .cart .addtocart-button .button {
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		padding: 0 18px 0 30px;
	}
	.main-container .product-view .summary.single-product-info .cart .addtocart-button:before {
		font-size: 14px;
	}
	.sp-main-menu-wrapper {
		> .container {
			> .row-container
				.sp-top-contact,.menu-wrapper {
				width: 100%;
			}
		}
	}
	.top-bar ul li {
		padding: 0 15px;
		border: none;
		&:last-child {
			border: none;
		}
	}
	.menu-top-menu-container ul li a {
		line-height: 26px;
	}
	.mcart-border {
		right: -55px;
	}
	.main-container .shop-products .item-col {
		width: 100%;
	}
	.main-container .toolbar .woocommerce-result-count {
		margin: 0;
	}
	.main-container .page-content .entry-content .customer_login form.login .form-action label, .main-container .page-content .entry-content .customer_login form.register .form-action label {
		float: left;
	}
	
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields label.checkbox, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields label.checkbox {
		font-size: 18px;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields h3, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields h3 {
		font-size: 18px;
	}
	.main-container .page-content .entry-content #order_review_heading {
		font-size: 18px;
	}
	.main-container .page-content .entry-content #order_review .shop_table {
		tr{
			display:block !important;
			text-align:center !important;
		}
		th{
			display:block !important;
			width:100% !important;
			text-align:center !important;
		}
		td{
			text-align:center !important;
		}
		tbody{
			td{
				display:block !important;
				width:100% !important;
			}
		}
	}
	.main-container .page-content .entry-content .shop_table.woocommerce-checkout-review-order-table td {
		display: table-cell;
		width: auto;
	}
	.main-container .page-content .entry-content .shop_table.woocommerce-checkout-review-order-table td {
		display: table-cell;
		width: auto;
	}
	.main-container .product-view .summary.single-product-info .actions .add-to-links {
		margin-bottom: 10px;
	}
	.main-container .product-view .product .woocommerce-tabs ul.tabs li {
		width: 100%;
		float: left;
		border: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #ededed;
		&.active {
			margin-bottom: 0;
			border-top: 1px solid transparent;
		}
	}
	.main-container .product-view .summary.single-product-info .group_table .group-row .price {
		.old-price {
			font-size: 14px;
		}
		.special-price {
			font-size: 14px;
			margin-right: 5px;
		}
	}
	.main-container .page-content.blog-page .postinfo-wrapper {
		.post-date {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			color: #222;
			height: auto;
			left: 0;
			position: inherit;
			text-align: left;
			top: 0;
			width: auto;
			.day {
				color: #222;
				display: inline-block;
			}
			.month {
				color: #222;
				margin-left: 5px;
			}
		}
		.post-info {
			margin-left: 0;
		}
	}
	.main-container .page-content.blog-page .social-sharing .social-icons li {
		margin: 0 5px 10px 0;
		width: auto;
		.social-icon { 
			height: 40px;
			line-height: 36px;
			width: 40px;
		}
	}
	.main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-author, .main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-email, .main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-url {
		width: 100%;
	}
	.filter-options .btn {
		margin-top: 5px;
	}
	.single-project.has-gallery .gallery a img, .single-project.no-gallery .gallery a img {
		width: 70px;
		height: 70px;
	}
	.single-project.has-gallery .project_date, .single-project.no-gallery .project_date {
		width: 100%;
	}
	.single-project.has-gallery .project_date .social-sharing .social-icons li, .single-project.no-gallery .project_date .social-sharing .social-icons li {
		margin: 0 5px 10px 0;
		width: auto;
		.social-icon { 
			height: 40px;
			line-height: 36px;
			width: 40px;
		}
	}
	.single-project.has-gallery .summary, .single-project.no-gallery .summary {
		float: none;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	.main-container.about-page .vc_general.vc_cta3 .vc_cta3-content-header h2 {
		font-size: 20px;
	}
	.main-container.about-page .vc_general.vc_cta3 {
		padding: 50px 20px;
	}
	/*betashop*/
	#sp-search{
		display:block !important;
		width:100%;
		margin-bottom:20px;
	}
	.sp-cart{
		display:block !important;
		width:100%;
		padding-left:0;
	}
	.mini_cart_inner .top-cart-title{
		text-align:center;
		a{
			display:inline-block;
		}	
	} 
	.catlist-group{
		.menu{
			padding:10px !important;
		}
	}
	
	.vgwc-item {
		.ma-box-content .vgwc-text-block {
			.vgwc-product-title{
				min-height:1px;
			}
		}
		&.item-overlay .ma-box-content{
			border-right:none;
			.vgwc-text-block .vgwc-product-title{
				min-height:1px;
				margin-bottom:10px;
			}
		}		
	}
	.vgwc-item.latest-product.style2 .ma-box-content{
		border-right:none;
	}
}
@media screen and (max-width: 319px) {
	.vina-title {
		text-align: left;
		padding-left: 0;
	}
	.main-container .product-view .summary.single-product-info .cart .button {
		margin-top: 10px;
	}
	.main-container .product-view .summary.single-product-info .actions .add-to-links .compare-button {
		margin-bottom: 10px;
	}
	/*betashop*/
	.top-bar {
		ul.menu{
			display:none;
		}	
	}
	/*Shop - Single */
	.main-container .product-view .summary.single-product-info .cart .variations .value select{
		max-width:100%;
		min-width:100%;
	}
	.vg-front-page-title.style2 h3{
		padding:10px;
		line-height:16px;
	}
	.vg-front-page-title2{
		h3{
			display:block;
			padding-left:20px;
		}
		&:before, &:after{
			display:none;
		}
	}
	.vgwc-item.vertical {
		.ma-box-content {
			.vgwc-image-block, .vgwc-text-block{
				width:100%;
			}	
		}	
	}
	.module-product-vertical.style1 {
		.vgwc-item {
			.ma-box-content {
				.vgwc-image-block, .vgwc-text-block{
					width:100%;
				}	
			}
		}
	}
}