/*
Theme Name: VG Betashop
Theme URI: http://vinagecko.com/
Author: VinaGecko
Author URI: http://vinagecko.com/
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
	direction: rtl;
	unicode-bidi: embed;
	margin: 0;
}

caption,
th,
td {
	text-align: right;
}

ul,
ol {
	margin: 0;
}
/*Menu*/
.mega_main_menu.first-lvl-align-left > .menu_holder > .menu_inner > ul {
    text-align: right;
}
.mega_main_menu li.multicolumn_dropdown.submenu_full_width.drop_to_center > .mega_dropdown, .mega_main_menu li.multicolumn_dropdown.drop_to_right > .mega_dropdown {
	right: 0;
	left: auto;
}
.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
    float: right;
}
/*Mega Menu*/
.mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.tabs_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_right > .mega_dropdown {
	left: auto;
	right: 100%;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link:after {
    right: auto !important;
    left: 25px !important;
    content: "\f104";
}
/*Product carousel*/
.main-container .page-content.blog-page .postinfo-wrapper .post-info {
	margin-left: 0;
	margin-right: 0;
}
.page-content h1.archive-title:before {
	right: 0;
}
.page-content .readmore:after {
	margin-right: 10px;
	margin-left: 0;
	transform: rotate(180deg);
}

.footer-content .add {
	padding-right: 30px;
	padding-left: 0;
}
.footer-content .add:before {
	margin: 0 0 0 15px;
	left: auto;
	right: 0;
}
.vg-bottom-menu.widget_archive ul li a:before, .vg-bottom-menu.widget_categories ul li a:before, .vg-bottom-menu.widget_pages ul li a:before, .vg-bottom-menu.widget_meta ul li a:before, .vg-bottom-menu.widget_recent_entries ul li a:before, .vg-bottom-menu.widget_nav_menu ul li a:before {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.rev_slider_wrapper .rev_slider .subtitle::after {
    bottom: 0;
    display: inline-block;
    left: 0;
    position: absolute;
}
.owl-carousel {
	direction: ltr;
}
.vgwc-wrapper.owl-carousel .vgwc-item-i {
	direction:rtl;
}

.vg-bottom .menu li a::before {
	margin: 0px 0px 0px 8px;
}
.bottom-static-title h4 {
	padding: 0 0 0 10px;
}
.bottom-link .social-icons {
	float: right;
}
.bottom-link .social-icons li {
	float: right;
    margin: 0 0 0 10px;
}
.bottom-link .menu-link .nav_menu {
	float: left;
}
.bottom-link .menu-link .nav_menu li {
	float: right;
}
ul.address li span.fa::before {
    padding: 0 5px 0 0;
}
ul.address li span.fa {
	float: right;
	margin: 0px 0px 0px 15px;
}
.top-footer ul.menu > li > a::before {
    float: right;
    margin: 0 0 0 8px;
}

.main-container .shop_header::after {
	right: 0;
	left: auto;
}	
.sidebar-category .product-categories li a::before {
	margin: 0px 0px 0px 8px;
}
.sidebar-category .woocommerce.widget_layered_nav ul li a::before {
	margin: 0px 0px 0px 8px;
}
.sidebar-category .yith-woocompare-widget .compare.button {
	float: left;
}
.main-container .toolbar .view-mode {
	float: right;
}
.main-container .toolbar .view-mode a {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.main-container .toolbar .view-mode a strong {
	    -webkit-transform: translate(-4px,-4px);
    -moz-transform: translate(-4px,-4px);
    -ms-transform: translate(-4px,-4px);
    -o-transform: translate(-4px,-4px);
    transform: translate(-4px,-4px);
}

.woocommerce .woocommerce-product-rating .star-rating {
	float: right;
	margin: .5em 0px 0 4px;
}
.main-container .product-view .summary.single-product-info .price-box .vgwc-product-price {
    text-align: right;
}
table.compare-list tr.price .old-price .amount {
  margin: 0 0 0 5px;
}	

/*Shop*/
.main-container .shop-products.list-view .item-col .ma-box-content .list-col4 {
    padding: 0 0 0 15px;		
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .add-to-links > div.vgwc-wishlist {
	margin-right: 0;
}
.main-container .toolbar .woocommerce-result-count {
    float: right;
    margin: 0 25px 0 0;
}
.main-container .toolbar .woocommerce-ordering {
    float: left;
}
.quickview-wrapper .quick-modal .closeqv{
	right:auto;
	left:10px;
}
.quickview-wrapper #quickview-content .product-images {
	float: right;
}
.quickview-wrapper #quickview-content .product-info {
    padding: 0 30px 0 0; 
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity {
    float: right;
    margin: 0 0 0 5px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button {
	float: right;
}
.quickview-wrapper #quickview-content .widget .widget-title {
	text-align: right;
}
.quickview-wrapper #quickview-content .widget .social-icons {
    float: right;
}
.quickview-wrapper #quickview-content .widget .social-icons li {
	float: right;
    margin: 0 0 0 10px;
}
.woocommerce span.lbfeatured {
	left: 10px;
	right: auto;
}
.woocommerce p.stars a {
	margin-right: 0;
	margin-left: 1em;
}
.sidebar-category .woocommerce.widget_top_rated_products ul.product_list_widget li img {
	float: right;
    margin: 0 0 0 10px;
}
/*Single Product*/
.main-container .product-view .summary.single-product-info .price-box {
	float: right;
}
.main-container .product-view .summary.single-product-info .price-box .price {
	float: right;
}
.main-container .product-view .summary.single-product-info .stock-status {
	float: left;
}
.main-container .product-view .summary.single-product-info .stock-status span {
	float: left;
}
.main-container .product-view .summary.single-product-info .cart .button {
	float: right;
}
.main-container .product-view .summary.single-product-info .cart .quantity {
	float: right;
    margin: 0 0 0 15px;
}
.main-container .product-view .summary.single-product-info .actions .add-to-links {
    float: right;
}
.main-container .product-view .single-product-sharing .social-icons {
	float: right;
}
.main-container .product-view .single-product-sharing .social-icons li {
	float: right;
}
.main-container .product-view .single-product-sharing .social-icons li:first-child {
    margin-left: 6px;
    margin-right: 0;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li {
	float: right;
}
.main-container .product-view .summary.single-product-info .cart .variations .label {
	text-align: right;
}
.main-container .product-view .summary.single-product-info .cart .variations .value {
	padding-right: 0;
}
.main-container .product-view .summary.single-product-info .cart .variations .reset_variations {
    float: right;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price {
    float: right;
	width: auto;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.quantity-row {
    float: right;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.label {
	text-align: right;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div {
    text-align: left;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.price .vgwc-product-price {
	margin: 8px 11px 0 0;
}
.main-container .product-view .summary.single-product-info .group_table .group-row .quantity-row {
    float: right;
}
/*sidebar*/
.widget.widget_product_categories ul li > a, .widget.widget_categories ul li > a {
    padding-right: 20px;
    padding-left: 0 !important;
}
.widget.widget_product_categories ul li > a:before, .widget.widget_categories ul li > a:before{
	left:auto;
	right:0;
	line-height:18px;
}
#secondary.sidebar-blog .widget.widget_categories .vg-title span {
    padding: 15px 30px 15px 0;
    background-position: 100% 53%;
}
#secondary.sidebar-blog .widget.widget_betashop_widgets ul li .post-wrapper .post-thumb {
    float: right;
}
#secondary.sidebar-blog .widget.widget_betashop_widgets ul li .post-wrapper .post-info {
	margin-left: 0;
    margin-right: 60px;
}
.widget.widget_categories ul li a {
    float: right;
	margin-left:15px;
}
.widget.widget_categories ul li a:before{
	line-height:46px;
}
.widget.widget_layered_nav ul li, .widget.widget_meta ul li, .widget.widget_recent_comments ul li, .widget.widget_archive ul li, 
.widget.widget_recent_entries ul li{
	padding: 4px 10px 4px 0 !important;
}
.su-slider {
	direction: ltr;
}
.main-container .page-content.blog-page .postinfo-wrapper .post-date {
	right: 20px;
	left: auto;
}

.page-content .entry-meta > span {
	float: right;
}
.page-content .entry-meta .separator{
	float:right;
}
.page-content .entry-meta a{
	float:left;
	margin-right:5px;
}
.pagination a, .pagination span {
	float: right;
}
.pagination a.next, .pagination a.prev{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.main-container .page-content.blog-page .entry-title {
	text-align: right;
}
.default-page .entry-header h1.entry-title:before {
	right: 0;
	left: auto;
}
.main-container .page-content .entry-content .actions .cart-total-wrapper {
	float: left;
}
.main-container .page-content.blog-page .entry-meta-small::before {
	right: 0;
	left: auto;
}
.main-container .page-content.blog-page .entry-meta::before {
	right: 0;
	left: auto;
}
.main-container .page-content.blog-page .author-info .author-avatar {
    float: right;
}
.main-container .page-content.blog-page .author-info .author-description {
    margin-left: 0;
    margin-right: 88px;
}
.filter-options.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 25px 25px 0;
}
.filter-options.btn-group > .btn:last-child:not(:first-child), .filter-options.btn-group > .dropdown-toggle:not(:first-child) {
	border-radius: 25px 0px 0px 25px;
}
.single-project.has-gallery .project_date, .single-project.no-gallery .project_date {
	float: right;
}
.single-project.has-gallery .summary, .single-project.no-gallery .summary {
	margin-left: 0;
    margin-right: 95px;
}
.single-project .project .summary .single-project-categories li::before {
	float: right;
	margin: 0px 0px 0px 10px;
}
.single-project .project .summary .project-url::before {
	float: right;
	margin: 0px 0px 0px 10px;
}
.single-project .related_projects .single-featured a .project-info {
	padding-right: 18px;
	padding-left: 0px;
}
.vc_progress_bar .vc_single_bar .vc_label {
	text-align: left;
}
.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-controls-icon {
    left: 20px;
    right: auto;
}
.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-panel-title > a {
	text-align: right;
}
.main-container.services-page .features-item i {
	margin: 0 0 14px 15px;
	float: right;
}
.main-container.services-page .services-list ul li::before {
	margin: 0 0 0 8px;
}
.main-container.services-page .services-content h2 {
	text-align: right;
}
.main-container.page-faq .vc_toggle.vc_toggle_simple .vc_toggle_title {
	padding: 8px 45px 7px 0;
}
.main-container.page-faq .vc_toggle.vc_toggle_simple .vc_toggle_icon {
	left: auto;
	right: 10px;
}
.main-container.page-faq .features-item i {
	margin: 0 0 0 15px;
	float: right;
}
body.error404 .page-404 .searchform {
	margin-left: 0;
    margin-right: 20px;
}
.vc_tta.vc_general .vc_tta-panel-title > a {
	text-align: right;
}
.vc_slide {
	direction: ltr;
}
.su-carousel {
	direction: ltr;
}
a.pp_arrow_previous, a.pp_arrow_next {
	font-size: 0;
}
.pp_nav .pp_play, .pp_nav .pp_pause, a.pp_close, a.pp_expand, a.pp_contract {
	font-size: 0;
}
a.pp_next, a.pp_previous {
	font-size: 0;
}
.vc_btn3-container.vc_btn3-left {
    text-align: right;
}
.main-container .product-view .related_products_widget .widget-title {
	text-align: right;
}
.related_products_widget .widget-title span {
	padding: 0 0px 0 15px;
}
.mobile-menu-container ul.nav-menu > li .fa {
	right: auto;
	left: 0;
}
.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
	padding: 0 10px 0 0px;
}
.mbmenu-toggler span.mbmenu-icon {
	float: right;
	margin: 0 0 0 3px;
    background-position: right center;
}
.mbmenu-toggler span.title:after {
	left: 0;
	right: auto;
}
.mobile-menu-container > ul > li .fa, .mobile-mega-menu > ul > li .fa {
	float: left;
	left: 0;
	right: auto;
} 

/* Theme Before */
.sp-contact-info li i{
	margin-left:10px;
	margin-right:0;
}
.top-bar.home1 .sp-contact-info li{
	color:#fff;
}
.top-bar.home1 .sp-contact-info li i{
	color:#fff;
	border-color:#fff;
}
.top-bar ul.menu li a{
	color:#818181 !important;
}
.top-bar ul.menu li a:hover{
	color:#fff !important;
}
.top-bar ul.menu li ul.sub-menu > li > a{
	text-align:right;
}

.vg-search form#codenegar_ajax_search_form input[type=text].ajax_autosuggest_input{
	text-align:right;
}
.vg-search form#codenegar_ajax_search_form input[type="text"].ajax_autosuggest_input.ajax_autosuggest_indicator{
	background-position:60px center !important;
}
.vg-search form#codenegar_ajax_search_form #wsearchsubmit{
	left:0;
	right:auto;
}
.ajax_autosuggest_suggestions a img{
	float:right !important;
}
.ajax_autosuggest_suggestions .ajax_autosuggest_more{
	background-position:10px center !important;
}
/*Mini Cart*/
.mcart-border{
	left:0;
	right:auto;
}
.mcart-border:after{
	left: 20px;
	right:auto;
}
.mcart-border > *{
	text-align:right;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li{
	padding-right:0;
	padding-left:15px !important;
}
.woocommerce ul.cart_list li .product-image, .woocommerce ul.product_list_widget li .product-image{
	float:right;
}
.woocommerce ul.cart_list li .product-image .quantity, .woocommerce ul.product_list_widget li .product-image .quantity{
	left:auto;
	right:-10px;
}
.woocommerce ul.cart_list li .product-details, .woocommerce ul.product_list_widget li .product-details{
	padding-left:0;
	padding-right:65px;
}
.quantity{
	float:right;
}
.mcart-border .total .amount{
	float:left;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove{
	left:0;
	right:auto;
}
.atc-notice-wrapper .product-image{
	float:right;
}
.atc-notice-wrapper .product-info .old-price .amount, .atc-notice-wrapper .product-info del .amount{
	margin-left:15px;
	margin-right:0;
}
/*End Mini Cart*/

/*Secondary*/
.widget:not(.widget_mega_main_sidebar_menu) ul li .count, 
.widget:not(.widget_mega_main_sidebar_menu) ol li .count{
	float:left;
}
.widget.widget_product_categories ul li > span, .widget.widget_categories ul li > span{
	padding-right:0;
	padding-left:20px;
}
.widget:not(.widget_mega_main_sidebar_menu) ul li ul, 
.widget:not(.widget_mega_main_sidebar_menu) ul li ol, 
.widget:not(.widget_mega_main_sidebar_menu) ol li ul, 
.widget:not(.widget_mega_main_sidebar_menu) ol li ol{
	padding: 8px 18px 8px 0;
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	float:right;
}
.sidebar-category .woocommerce.widget_price_filter .price_label{
	text-align:left;
}
.sidebar-category .widget_products.woocommerce ul.cart_list li img, 
.sidebar-category .widget_products.woocommerce ul.product_list_widget li img{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.widget.widget_layered_nav ul li:before, 
.widget.widget_meta ul li:before, 
.widget.widget_recent_comments ul li:before, 
.widget.widget_archive ul li:before, 
.widget.widget_recent_entries ul li:before, 
.widget.widget_pages ul li:before, 
.widget.widget_nav_menu ul li:before{
    margin-left: 8px;
    margin-right: 0;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
/*Blog*/
.page-content .readmore:before{
	margin-left:10px;
	margin-right:0;
}
.page-content .author-info{
	border-left-width: 0;
	border-right-width: 3px;
}
.page-content .comments-area .comments-title:after, .page-content .comments-area .comment-reply-title:after{
	left:auto;
	right:0;
}
.page-content .nav-single .nav-previous{
	float:right;
}
.page-content .nav-single .nav-next{
	float:left;
}
.page-content .nav-single .nav-previous .meta-nav{
	float:right;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	margin-left:10px;
}
.page-content .nav-single .nav-next .meta-nav{
	float:left;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	margin-right:10px;
}
/* Mini Cart */
.woocommerce ul.cart_list li .product-details dl, .woocommerce ul.product_list_widget li .product-details dl,
.woocommerce ul.cart_list li dl dd, .woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dd, .woocommerce ul.product_list_widget li dl dt
{
	float:right;
}
.woocommerce ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt{
	clear:right;
	margin:0 0 0 5px;
}
.main-container .page-content .entry-content .shop_table td.product-name{
	text-align:right;
}
.main-container .page-content .entry-content .shop_table .product-name .variation dd,
.main-container .page-content .entry-content .shop_table .product-name .variation dt
{
	float:right;
}
.main-container .page-content .entry-content .shop_table .product-name .variation dt{
	clear:right;
	margin:0 0 0 5px;
}

/* Betashop */
/*---- Topbar ----*/
.sp-contact-info{
	float:left !important;
}
.sp-contact-info li, .top-bar ul.menu, .top-bar ul.menu li{
	float:right !important;
}
.top-bar ul.menu li ul.sub-menu{
	left:auto;
	right:-1px;
}
.top-bar ul.menu li ul.sub-menu > li > ul.sub-menu{
	left:auto;
	right:100%;
}
/*----- Mini Cart -----*/
.sp-cart{
	padding-left:0;
	padding-right:25px;
}
.mini_cart_inner .top-cart-title .shopping_cart{
	padding: 0 50px 0 10px;
}
.mini_cart_inner .top-cart-title .shopping_cart:before{
	left:auto;
	right:0;
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.sp-cart.home1{
	left:15px;
	right:auto;
}
.sp-cart.home1 .mini_cart_inner .top-cart-title .shopping_cart{
	background-position:92% center;
}
.sp-cart.home1 .mini_cart_inner .top-cart-title .shopping_cart:before{
	right:-35px;
	left:auto;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
/*---- Main Menu ----*/
#sp-logo .logo a{
	text-align:right;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > i{
	float:right;
	margin-right:-3px;
	margin-left:12px;
	padding-right:3px;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link{
	padding-left:30px;
	padding-right:18px;
}
.mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after{
	right:auto !important;
	left:10px;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul {
	text-align:right !important;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul > li{
	text-align:right;
	float:right;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul > li .mega_dropdown > li{
	text-align:right;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul{
	text-align:right;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li > .item_link:before{
	display:none;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li .mega_dropdown > li{
	text-align:right;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul > li > .item_link{
	border-left-width:1px;
	border-right-width:3px;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul > li .mega_dropdown > li > .item_link:before{
	margin-right:0;
	margin-left:8px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.header-menu.home1{
	padding-left:230px;
	padding-right:0;
}
.mbmenu-toggler{
	text-align:right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li{
	float:right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li > a, 
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li .mega_dropdown > li > .item_link{
	text-align:right !important;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link i{
	float: right;
    padding-right: 0;
    padding-left: 15px;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link:after{
	right: auto !important;
    left: 25px;
	content: "\f0d9";
}
.mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.default_dropdown.drop_to_right .mega_dropdown,
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown{
	left:auto;
	right:100%;
	margin:0;
	text-align:right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown:after{
	display:none;
}

/*--- Footer ----*/
.vg-shipping .box-col-inner .pull-left{
	margin-left: 10px;
	margin-right: 0;
}
.vg-shipping .box-col-inner .media-body{
	text-align:right;
}
.menu-top-footer{
	float:left;
	text-align: left;
}
.vg-bottom-menu.widget .vg-title:after{
	right:0;
	left:auto;
}
.tweet-list li.profile-image{
	padding-left:0;
	padding-right:60px;
	background-position:right 7px !important;
}

.vg-newsletter .widget_wysija_cont > form > *{
	float:right;
}
.vg-newsletter .widget_wysija_cont > form > *.wysija-paragraph{
	padding-right:0;
}
.vg-newsletter .widget_wysija_cont > form > *.wysija-paragraph input{
	float:right;
}
/*--- Item Product ---*/
.module-product-vertical.style2 .vgwc-item .ma-box-content .vgwc-add-to-cart .vinageckotip{
	right:0;
	left:auto;
}
.vgwc-label.vgwc-onsale{
	direction:ltr;
}
.vgwc-item .ma-box-content .vgwc-text-block{
	text-align:right;
}
.vgwc-product-price > del, .product-price > del, .compare-list .price > del, .price > del{
	margin:0 0 0 10px;
}
.vgwc-product-price > .amount:first-child, .product-price > .amount:first-child, .compare-list .price > .amount:first-child, .price > .amount:first-child{
	margin:0 0 0 5px;
}
.vgwc-product-price > .amount:last-child, .product-price > .amount:last-child, .compare-list .price > .amount:last-child, .price > .amount:last-child {
  margin: 0 5px 0 0;
}
.vgwc-product-price.price-variable .amount:first-child, .product-price.price-variable .amount:first-child, .compare-list .price.price-variable .amount:first-child, .price.price-variable .amount:first-child{
	margin:0 0 0 5px;
}
.vgwc-product-price.price-variable .amount:last-child, .product-price.price-variable .amount:last-child, .compare-list .price.price-variable .amount:last-child, .price.price-variable .amount:last-child{
	margin: 0 5px 0 0;
}
.woocommerce .star-rating, .vgwc-wrapper .star-rating{
	float:right;
	margin-left: 5px !important;
	margin-right: 0 !important;
}
.vgwc-item .ma-box-content .vgwc-button-group > *, .vgwc-item .ma-box-content .vgwc-button-group .add-to-links > *{
	float:right;
}
.vgwc-item .ma-box-content .vgwc-button-group .add-to-links > *, .vgwc-item .ma-box-content .vgwc-button-group .vgwc-quick{
	right:auto;
	left:-66px;
}
.vgwc-item .ma-box-content .vgwc-button-group.vgwc-button-quickview .vgwc-quick{
	left:auto;
}
.vgwc-item .ma-box-content:hover .vgwc-button-group .add-to-links > *,
.vgwc-item .ma-box-content:hover .vgwc-button-group .vgwc-quick{
	right:auto;
	left:0;
}
.vgwc-item .ma-box-content .vgwc-button-group .add-to-links a{
	margin-left:0 !important;
	margin-right:5px !important;
}
.vgwc-item .ma-box-content .vgwc-button-group .vgwc-quick{
	margin-left:0 !important;
	margin-right:5px !important;
}
.vgwc-item .ma-box-content .vgwc-text-block.overlay .vgwc-button-group .add-to-links a{
	margin-left: 0 !important;
	margin-right: 10px !important;
}
.vgwc-item .ma-box-content .vgwc-text-block.overlay .vgwc-button-group .add-to-links .vgwc-wishlist a{
	margin-right: 0 !important;
}
.vgwc-item .ma-box-content .vgwc-text-block.overlay .vgwc-button-group .vgwc-quick{
	margin-right:10px !important;
}
.vgwc-item .ma-box-content .vgwc-text-block.overlay .vgwc-button-group .add-to-links .vgwc-wishlist .yith-wcwl-wishlistexistsbrowse.show .vinageckotip{
	margin-right:-15px !important;
	margin-left:auto !important;
	left:auto;
	right:0;
}
.vgwc-item .ma-box-content .vgwc-text-block.overlay .vgwc-button-group .add-to-links .vgwc-wishlist .yith-wcwl-wishlistexistsbrowse.show .vinageckotip:after{
	left:auto;
	right:20px;
}
.vgwc-item.vertical .ma-box-content .vgwc-image-block{
	float:right;
}
.vgwc-item.vertical .ma-box-content .vgwc-text-block{
	float:right;
	text-align:right;
	padding-left:0;
	padding-right:15px;
}
.timer-grid .hour, .timer-grid .min, .timer-grid .sec, .timer-grid .day{
	float:right;
	border-right-width:0;
	border-left-width:1px;
}
.timer-grid .day{
	padding-right:60px;
	padding-left:10px;
	text-align:right;
}
.timer-grid .day i{
	right:0;
	left:auto;
}
/*Module Product*/
.module-product.style1 .vgwc-item .ma-box-content .vgwc-button-group .add-to-links > *,
.module-product.style1 .vgwc-item .ma-box-content .vgwc-button-group .vgwc-quick {
	left:auto;
}
.module-product-vertical.style2 .vgwc-item .ma-box-content .vgwc-button-group .add-to-links .vgwc-wishlist a{
	margin-right:0 !important;
}
.module-product-vertical.style3 .vgwc-item.vertical .ma-box-content .vgwc-image-block{
	padding-left:10px;
	padding-right: 0;
    border-left: 1px solid #f1f1f1;
    border-right: none;
}

/*---- Item Post ----*/
.vgpc-wrapper .vgpc-text-block{
	text-align:right;
	direction:rtl;
}
.vgpc-wrapper .vgpc-post-category span{
	margin-left:5px;
	margin-right:0;
}
.vgpc-wrapper .vgpc-post-meta{
	left:0;
	right:auto;
}
.vgpc-wrapper .vgpc-post-meta > div:before{
	margin-right:0;
	margin-left:7px;
	float:right;
}
.vgpc-wrapper .vgpc-post-meta .vgpc-post-author{
	margin-left: 8px;
	margin-right: 0;
    padding: 0 0 0 8px;
	border-left-width:1px;
	border-right-width:0;
}
/*------ Title -----*/
.vg-title h3{
	padding-left:0;
	padding-right:0;
}
.vg-title h3:after, .vg-title.style2 h3:before{
	left:auto;
	right:0;
}
.vg-title.style2 h3:before{
	right:38px;
}
.vg-front-page-title2:before{
	right:0;
	left:auto;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.vg-front-page-title2 h3{
	padding-left:40px;
	padding-right:80px;
}
.vg-front-page-title2 h3:before{
	border-left:none;
}

/*---- Owl Carousel ----*/
.layout-2 .owl-theme > .owl-controls > .owl-buttons, 
.layout-3 .owl-theme > .owl-controls > .owl-buttons, 
.layout-5 .owl-theme > .owl-controls > .owl-buttons, 
.layout-6 .owl-theme > .owl-controls > .owl-buttons,
.upsells_products_widget .owl-theme > .owl-controls > .owl-buttons,
.related_products_widget .owl-theme > .owl-controls > .owl-buttons{
	left:0;
	right:auto;
}
/*---- Catlist ----*/
.catlist-group .menu li a{
	padding-right:25px;
	padding-left:0;
	background-position:right center;
}
.catlist-group .menu li > ul.sub-menu{
	padding-left:0;
	padding-right:25px;
}

.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-text-block{
	text-align:right;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group > *{
	float:right;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .add-to-links > *, .main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .vgwc-quick{
	left:auto;
	right:auto;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .vgwc-add-to-cart a{
	padding:0 0 0 15px;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .vgwc-add-to-cart a:before{
	float:right;
	margin-left:15px;
	margin-right:0;
	border-right:none;
	border-left:1px solid #fff;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-product-price del, .main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-product-price ins{
	display:block;
	margin:0 0 10px;
	float:none;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-product-price.price-variable .amount:first-child{
	margin:0 0 0 5px;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-product-price.price-variable .amount:last-child{
	margin:0 5px 0 0;
}
/*---- Single ----*/
.main-container .product-view .summary.single-product-info .woocommerce-product-rating .star-rating{
	margin: 6px 0 0 10px !important;
}
.main-container .product-view .summary.single-product-info .vgwc-product-price ins{
	float:right;
	margin-right: 0;
}
.main-container .product-view .summary.single-product-info .vgwc-product-price .old-price, .main-container .product-view .summary.single-product-info .vgwc-product-price del{
	margin-right:15px;
}
.main-container .product-view .summary.single-product-info .cart .single_add_to_cart_button{
	padding:0 0 0 15px;
}
.main-container .product-view .summary.single-product-info .cart .single_add_to_cart_button:before{
	float:right;
	border-left: 1px solid #fff;
	border-right: none;
	margin-left: 15px;
	margin-right: 0;
}
.main-container .product-view .summary.single-product-info .actions .add-to-links{
	margin-left:15px;
	margin-right:0;
}
.main-container .product-view .summary.single-product-info .actions .add-to-links a:before, 
.main-container .product-view .summary.single-product-info .actions .sharefriend:before{
	float:right;
	margin-left:10px;
	margin-right:0;
}
.main-container .product-view .summary.single-product-info .share_buttons{
	float:right;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li:first-child{
	padding-right:0;
	padding-left:15px;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li{
	float:right;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.prev,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.next,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.prev,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.next{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*Mobile Menu*/
.cateproductmenu .widget_mega_main_sidebar_menu .vg-title{
	text-align:right;
}
.cateproductmenu .widget_mega_main_sidebar_menu .vg-title h3{
	background-position:left center;
}
.mobile-menu-container{
	text-align:right;
}
.mobile-menu-container > ul > li ul.sub-menu, .mobile-mega-menu > ul > li ul.sub-menu{
	padding:0 20px 0 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar{
	right:0;
	left:auto;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text{
	margin-left:0;
	margin-right:80px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text:before{
	left:auto;
	right:-6px;
	-webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.yith-woocompare-widget ul.products-list a.remove{
	float:left;
}
.sidebar-blog .widget.widget_product_categories ul li > a:before, .sidebar-blog .widget.widget_categories ul li > a:before{
	line-height:46px;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* Checkout */
#add_payment_method #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li{
	text-align:right;
}
#add_payment_method #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input{
	margin:0 0 0 10px;
}
.main-container .page-content .entry-content .woocommerce-checkout #payment div.payment_box:before{
	left:auto;
	right: 0;
	margin-right: 2em;
}
#add_payment_method #payment ul.payment_methods li img, .woocommerce-checkout #payment ul.payment_methods li img{
	margin-right:5em;
}
.main-container .page-content .entry-content #order_review .shop_table .product-name{
	text-align:right;
}
.main-container .page-content .entry-content #order_review .shop_table tfoot th{
	text-align:right;
}
@media screen and (max-width: 1023px) { 
	.mobile-menu-container > ul, .mobile-mega-menu > ul{
		text-align:right;
	}
	
}
@media screen and (max-width: 992px) { 
	#sp-logo .logo a{
		text-align:center;
	}
}
@media screen and (max-width: 767px) { 
	.main-container .shop-products .item-col {
		display: inline-block;
		float: right;
	}
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col4{
		padding:0 0 25px;
	}
	.main-container .page-content .entry-content .shop_table td.product-name{
		text-align:center;
	}
}
@media screen and (max-width: 460px) {
	.main-container .product-view .product .woocommerce-tabs ul.tabs li:last-child {
		border: none;
	}
	.main-container .page-content.blog-page .postinfo-wrapper .post-date {
		text-align: right;
		right: 0;
	}
	.main-container .page-content.blog-page .postinfo-wrapper .post-info {
		margin-left: 0;
		margin-right: 0;
	}
	.main-container .page-content.blog-page .social-sharing .social-icons li {
		margin: 0 0px 10px 5px;
		float: right;
	}
	.single-project.has-gallery .project_date .social-sharing .social-icons li, .single-project.no-gallery .project_date .social-sharing .social-icons li {
		margin: 0 0px 10px 5px;
		float: right;
	}
	.single-project.has-gallery .summary, .single-project.no-gallery .summary {
		margin-left: 0;
		margin-right: 0;
	}
	.main-container .product-view .single-product-image .thumbnails_wrapper {
		position:static;
	}
}