@charset "utf-8";
*, body, html {padding:0;margin:0}
*, body, h1, h2, h3, h4, h5, html, p {margin:0; font-family: 'Raleway', sans-serif;}
img{ max-width:100%;}
.banner_img_cntnr img, img {max-width:100%}
.item_box_inn li, .item_box_inn2 li {list-style:none;vertical-align:top}
body, html {width:100%;font-family:Montserrat, sans-serif}
a {text-decoration:none!important;outline:0!important}
ul {list-style-type:none}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #fff;}
.form-control::-moz-placeholder { /* Firefox 19+ */color: #fff;}
.form-control:-ms-input-placeholder { /* IE 10+ */color: #fff;}
.form-control:-moz-placeholder { /* Firefox 18- */color: #fff;}
.section1, .section10, .section11, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9 {
width:100%;margin:0;}

.logo-section{width:100%; text-align:center; text-align:center;     padding: 8px 0 0 0; background:#fff;}

.banner{ width:100%; position:relative;}
.banner img{ width:100%;}
.section1 { width:100%;padding:0 ; /*background:url(../img/banner.jpg) no-repeat scroll top center; text-align:center; min-height:650px; background-size: cover;position:relative;*/}

.logo {
    text-align: center;
}
.logo img{ /*width:32%;*/}
.tollfree{ text-align:right;}
.tollfree h2{     font-size:18px;
     color: #000;
    float: left;
    width: 100%;
    margin: 5px 0 0 0;
    font-weight: bold;
	text-transform:uppercase;
	    font-family: 'Lato', sans-serif;
}
.tollfree h2 a{font-size:18px;color:#006cb5;font-family: 'Lato', sans-serif;}

.ilogo{color: #5eb4f9;font-weight: 700 !important;}
.modal-dialog {width: 420px;margin: 30px auto;}
.top-banner-text h2{    font-size: 60px;
    color: #282828;
    font-weight: 700;
    margin-bottom: 22px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0 23% 0 0;}
.top-banner-text h2 span{ font-weight:normal;}
.top-banner-text h3{
    font-size: 28px;
    color: #282828;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 0 70% 0 0;
    line-height: 36px;	
	}
.mar{ margin:-13px 4px 0 4px;}

.enquire_now1{ 
    margin: 0 0 20px 0;
    position: absolute;
    top: -100px;
    right: 469px;
    z-index: 9;}
.enq_btn{ font-size:17px; color:#FFF; border: none; font-weight:500; cursor:pointer;}
.eb{background: #ec1335;
    padding: 15px 30px;
}

.form_right{ background:#FFF; padding:30px; border:1px solid #999; margin: 0 0 0 65px;}

.form_right h2{font-family: 'Poppins', sans-serif;
font-size:21px;
color:#000000;
font-weight:600; margin-bottom:30px; line-height: 27px;}

.form-group_top{
margin-bottom: 16px;
    text-align: center;
}
.form-group_top p{font-family: 'Poppins', sans-serif;
font-size:14px;
color:#5e5e5e; margin:20px 0;}
.form-control-top {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background: none;
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background: #fff;
}
.inner_inp_sbmt2{width: 45%;
        background: #e08804;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    border: none;
    border-radius: 0;
    padding: 8px 0;}
	
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
	 text-align: center;
	font-family: 'Raleway', sans-serif;
}

.modal-content {
    position: relative;
     background-color: #006cb5;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.section2 {width:100%;padding:110px 0; background:url(../img/bg2.jpg) no-repeat scroll top center; text-align:center;background-size: cover;}

.kutchina{}
.kutchina h2{font-size: 60px;color: #202020; margin-bottom: 60px; font-family: 'Raleway', sans-serif; text-align:center; font-weight:700;}

.kutchina_list{ padding:0; margin:0}
.kutchina_list li{ list-style:none;display: inline-block;padding: 20px 10px;
    margin: 5px 5px; font-family: 'Raleway', sans-serif; font-size:16px; color:#000; font-weight:600;text-align: center; vertical-align:top;
    width: 18%;
    background: #fff;
    min-height:317px;
	border: 1px solid #e4e2e2;
-webkit-box-shadow: 2px 4px 5px 0px rgba(235,235,235,1);
-moz-box-shadow: 2px 4px 5px 0px rgba(235,235,235,1);
box-shadow: 2px 4px 5px 0px rgba(235,235,235,1);

}
.kutchina_list li span{/* float:left; margin-right:20px;*/}
.kutchina_list li h2{ font-size:22px; font-family: 'Raleway', sans-serif; color:#000000; margin: 32px 0 0 0; font-weight:500;}
.kutchina_list li p{ font-size:18px; font-family: 'Raleway', sans-serif; color:#000000; margin:13px 0 0 0; font-weight:400;}

.section3 {width:100%; background:url(../img/bg3.jpg) no-repeat scroll top center; text-align:center; padding:86px 0 0; background-size:cover;}
.watch-video h2{font-size: 62px;color: #ffffff;font-weight: 700;margin-bottom: 60px; font-family: 'Raleway', sans-serif;}
.video-frame{position: absolute;top: 150px;right: 0;left: 0; z-index:9; overflow:hidden;}
.video_box{ position:relative;}

.section4 {width:100%; background:#fff; text-align:left; padding:100px 0 60px;}
.testimonial h2{font-family: 'Raleway', sans-serif;font-size:60px;color:#000000;font-weight:700;text-align:left;margin-bottom:60px;}
.slider_inn_text{ margin-left:10%;}
.user_pic{ float:left; width: 15%;}
.user_text{ float:left; width: 85%;}
.user_text h4{font-family: 'Raleway', sans-serif;font-size:30px;color:#ec1738;font-weight:700;line-height:44px;text-align:left;margin-bottom:15px;    float: left;
    margin-right: 30px;}
.user_text p{font-family: 'Raleway', sans-serif;font-size:17px;color:#202020;font-weight:400;line-height:22px;text-align:left; margin-bottom: 8px;float: left;}
.quote{ font-size:30px; float:left; color:#999;}
.quote2 {
    font-size: 30px;
    float: left;
    color: #999;
    margin-left: 36%;
}

.section5 {width:100%;padding:20px 0; background:#b21b19; text-align:center; }
/*.section5 img{ width:100%;}*/
.certificate{padding: 117px 65px 117px 0;}
.certificate h2{font-family: 'Raleway', sans-serif;font-size:62px;color:#fff;font-weight:700; text-align:left;}
.certificate p{font-family: 'Raleway', sans-serif;font-size:24px;color:#fff;font-weight:700;line-height:33px; text-align:left; margin-top:30px;}


.five-inn{padding:0; margin:0;}
.ups_section h2{font-family: 'Raleway', sans-serif;font-size:45px;color:#000000;font-weight:700;line-height:44px;text-align:center;margin-bottom:28px;}

.section6 {width:100%; background:url(../img/bg6.jpg) no-repeat scroll top center; text-align:center; padding:110px 0;background-size: cover;}
.services_text h2 {font-size: 62px;color: #ffffff;font-weight: 700;margin-bottom: 60px; font-family: 'Raleway', sans-serif;}
.services{ padding:0; margin:0}
.services li{ list-style:none; display:inline-block; padding:15px 15px; width:25%; background: rgba(0, 0, 0, 0.7); margin:5px; font-family: 'Raleway', sans-serif; font-size:16px; color:#FFF; font-weight:600; text-align:left; vertical-align:top; min-height: 75px;}
.services li span{ background:#ec1335; padding:5px; margin-right:15px; float:left;}
.enquire_now{ text-align:center; margin: 70px 0 0;}
.enquire_now a{ background:#5eb4f9; padding: 15px 30px; font-size:17px; color:#FFF; font-weight: 600;}

.section7{ width:100%; background:#0063b2; padding:30px 0 0; text-align:center;}
.follow_text h3{font-size: 17px;color: #FFF;font-weight: 600;padding-top: 12px;}
.social_link{ padding:0; margin:0;}
.social_link a{font-size: 17px;color: #FFF;border: 1px solid #fff;padding: 10px 12px;border-radius: 50%;list-style: none;display: inline-block;width: 40px;
height: 40px;margin: 0 1px;}
.social_link li a:hover{ background:#000;}
.copy_right{ font-size:14px; color:#FFF; padding: 10px 0; margin:5px 0 8px;}

.thank_you_section{ padding:175px 0; text-align:center;}
.thank_you_section h2{font-family: 'Poppins', sans-serif;font-size: 40px;color: #faac47;font-weight: 700;margin-bottom:5px;}
.thank_you_section p{font-size: 26px;color: #000;padding: 20px 0;text-align: center;}

.close {
    float: right;
    font-size: 41px;
    font-weight: 700;
    line-height: 1;
    color: #000;
	opacity:1;
	    text-shadow:0 #fff;
	  
    /* text-shadow: 0 1px 0 #fff; 
    filter: alpha(opacity=20);*/
    /* opacity: .2; */
}

#owl-carousel_1 .owl-nav {
	width:100%;
	position:absolute;
	bottom: 0;
}
#owl-carousel_1 .owl-nav .owl-prev {
	float:left;
	background:url(../img/prev.png) no-repeat scroll center;
	width:43px;
	height:42px;
	position: absolute;
    left: 5px;
    top: -60px;
}
#owl-carousel_1 .owl-nav .owl-next {
	background:url(../img/next.png) no-repeat scroll center;
	width:43px;
	height:42px;
	position: absolute;
    left: 53px;
    top: -60px;
}
.owl-dots{ display: none !important;}

#owl-carousel_2 .owl-nav {
	width:100%;
	position:absolute;
	top:-52px;
}
#owl-carousel_2 .owl-nav .owl-prev {
	float:left;
	background:url(../img/prev2.png) no-repeat scroll center;
	width:27px;
	height:27px;
	position: absolute;
    right: 33px;
    top: 0;
}
#owl-carousel_2 .owl-nav .owl-next {
	background:url(../img/next2.png) no-repeat scroll center;
	width:27px;
	height:27px;
	position: absolute;
    right: 0;
    top: 0;
}
.video-frame-mobile{ display:none;}
.section11{
    background: #ccc;
    text-align: center;
    padding: 10px;
}

.floating{ position:fixed; right:0; z-index:5; top:100px;}


.kutchina.kutchina_new{
	padding:0px;
}

.floating .enq_btn {
    padding: 12px 11px;
}

@media screen and (max-width:1024px) {
.enquire_now1 {
    margin: 0 0 20px 0;
    position: absolute;
    top: -80px;
    right: 389px;
    z-index: 9;
}	
	
	
		
}
	
@media screen and (max-width:900px) {
	
.enquire_now1 {
    top: -70px;
    right: 279px;
}	
.kutchina_list li {
    padding: 30px 40px;
    margin: 5px 5px;
    font-size: 16px;
    width: 31%;
    min-height: 338px;
}	
.kutchina_list li h2 {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    margin: 32px 0 0 0;
    font-weight: 700;
}
.kutchina h2 {
    font-size: 44px;
    margin-bottom: 32px;
    text-align: center;
}

.section2 {
    padding: 38px 0;
}

.testimonial h2 {
    text-align: center;
    margin-bottom: 60px;
}





}

@media screen and (max-width:640px) {
.logo{ text-align:center; margin-bottom: 17px;}
.mar {
    margin: -6px 1px 0 1px;
    width: 3px;
}

.section1 {
    padding: 0;
     min-height: auto; 
}
.section2 {
	padding: 20px 0;
}
.kutchina h2 {
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: 700;
}
.kutchina_list li h2 {
    font-size: 15px;
    text-align:center;
}
.section3 {
padding: 30px 0 30px;
}

.services li {
    width: 100%;
    margin: 5px 0;
	min-height: auto;
}
.services_text h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.section6 {
    padding: 28px 0;
}
.video-frame-mobile{ display:block;}
.video-frame{ display:none;}
.video_box{display:none;}

.testimonial h2 {
    font-size: 28px;
}
.user_pic {
    float: none;
    width: 100%;
    text-align: center;
}
.slider_inn_text {
    margin-left: 0;
}
.user_text {
    float: none;
    width: 100%;
}

.user_text p {
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 8px;
    float: left;
    padding: 0 18px;
}

.user_text h4 {
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 15px;
    float: none;
    margin-right: 0;
    width: 100%;
}
.quote {
    float: none;
    text-align: center;
}

.quote2 {
    font-size: 30px;
    float: none;
    margin-left: 0;
    text-align: center;
}

.testimonial h2 {
    text-align: center;
}
.section5 {
    text-align: center;
    padding: 21px 0;
}
.section4 {
    text-align: left;
    padding: 30px 0 10px;
}
.enq_btn {
padding: 12px 24px;
font-size: 20px;
margin: 10px 0;
cursor:pointer;
}
.enq_btn2{
cursor:pointer;
}

.enquire_now1 {
    margin: 0 0 0px 0;
    position: absolute;
    top: -38px;
    right: 169px;
    z-index: 9;
}
.watch-video h2 {
    font-size: 62px;
    margin-bottom: 18px;
}
.enquire_now {
    margin: 20px 0 0;
}
.modal-dialog {
    width: 100%;
}
.logo-section {
    padding: 20px 0 0 0;
}

.kutchina_list li {
    margin: 5px 0px;
    width: 100%;
    min-height: auto;
}

.enquire_now1 {
    /* top: -32px; */
    /* right: 120px; */
    text-align: center;
    position: unset;
    margin: 5px;
}

.certificate {
    padding: 0 30px;
}
.certificate h2 {
    font-size: 31px;
    text-align: center;
}
.certificate p {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}






}
@media screen and (max-width:480px) {
.top-banner-text h2 {
    font-size: 18px;
    padding: 0 7%;
	margin: 0;
}
.top-banner-text h3 {
    font-size: 17px;
    padding: 0 10%;
	line-height: 15px;
}
.kutchina h2 {
    font-size: 22px;
    margin-bottom: 13px;
    text-align: center;
}
.watch-video h2 {
    font-size: 26px;
}

.kutchina_list li {
    padding: 30px 31px;
    margin: 5px 0;
    width: 100%;
    background: #fff;
    min-height: 280px;
}
.logo img{max-width:80%;
width: auto;}
.tollfree h2 {
    font-size: 14px;
}
.tollfree h2 a{
    font-size: 14px;
}
.tollfree {
    text-align: center;
    margin-bottom: 20px;
}

}
@media screen and (max-width:360px) {
.enquire_now1 {
    /* top: -32px; */
    /* right: 120px; */
    text-align: center;
    position: unset;
    margin: 5px;
}
.logo img{max-width: 55%;
width: auto;}




}






