@charset "utf-8";
/* CSS Document */

html, body {
	width:100%;
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, p {
	margin:0px;
}
img {
	max-width:100%;
}
a {
	text-decoration:none !important;
	outline:none !important;
}
ul {
	list-style-type:none;
}
* {
	margin:0px;
	padding:0px;
}
.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10, .section11 {
	width:100%;
	margin:0px;
	float:left;
}
.section1 {
	padding:25px 0px;
	background:#ffffff;
}
.header_waml {
	text-align:right;
}
.header_waml a {
	display:inline-block;
}
 .header_waml a:nth-child(1) {
 font-weight:600;
 color:#14152a;
 font-size:16px;
 margin-right:10px;
}
 .header_waml a:nth-child(1) img {
 margin-right:8px;
}
 .header_waml a:nth-child(2) {
 font-weight:600;
 color:#e51b24;
 font-size:16px;
 padding:15px 20px;
 border-radius:5px;
 border:2px solid #e51b24;
}
.section2 {
	padding:70px 0px 0px 0px;
	background:#14152a;
}
.banner_txt_tit {
	font-size:80px;
	color:#ffffff;
	font-weight:400;
	text-align:center;
	text-transform:uppercase;
	line-height:62px;
	padding-bottom:10px;
}
.banner_txt_tit span {
	font-weight:700;
}
.banner_txt_sub {
	font-size:30px;
	color:#ffffff;
	font-weight:400;
	text-align:center;
	text-transform:uppercase;
	line-height:30px;
	padding-bottom:20px;
}
.banner_txt_sub span {
	font-weight:700;
}
.banner_img_cntnr {
	text-align:center;
}
.banner_img_cntnr img {
	max-width:100%;
}
.frm_mnt {
	padding:40px;
	background:#ffffff;
	float:left;
	width:100%;
}
.frm_tit {
	font-size:25px;
	font-weight:600;
	text-align:center;
	line-height:normal;
	text-transform:uppercase;
}
.frm_tit span {
	font-weight:900;
}
.mnt_frm {
	float:left;
	width:100%;
	margin-top:25px;
}
.mnt_frm .frm_inner_inp {
	width:100%;
	float:left;
	border-radius:5px;
	border:1px solid #d5ecff;
	background:#ecf4f7;
	margin-bottom:17px;
	height:40px;
	box-sizing:border-box;
	outline:none;
	padding:5px 10px;
	color:#3a3a3a;
	font-size:16px;
	font-weight:400;
	text-align:left;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color: #3a3a3a;
 opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #3a3a3a;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #3a3a3a;
}
.inner_inp_sbmt {
	float:left;
	width:100%;
	font-size:16px;
	color:#fff;
	background:#e51b24;
	border:1px solid #e51b24;
	border-radius:5px;
	font-weight:700;
	padding:15px 0px;
	text-transform:uppercase;
	margin-top:17px;
	outline:none;
}
.inner_inp_sbmt:hover {
	color:#e51b24;
	background:#fff;
}
.section3 {
	background:#fff;
	padding:0px;
}
.hdsptaei_mnt_cntnr {
	padding:70px 0px 70px 0px;
}
.hdsptaei_mnt_cntnr:hover {
	background:#e9f2f6;
}
.hdsptaei_mnt_cntnr:hover .hdsptaei_inner_bdr {
	border-color: #e9f2f6;
}
.hdsptaei_mnt_cntnr .hdsptaei_inner_bdr {
	padding:0px 35px;
	text-align:left;
	border-right:1px solid #bde5f4;
}
.hdsptaei_mnt_cntnr .hdsptaei_inner_bdr .hdsptaei_tit {
	font-size:30px;
	color:#005dab;
	font-weight:900;
	line-height:30px;
	margin:30px 0px 12px 0px;
}
.hdsptaei_mnt_cntnr_312 .hdsptaei_mnt_cntnr .hdsptaei_inner_bdr {
	border:none;
}
.hdsptaei_mnt_cntnr_312 .hdsptaei_mnt_cntnr .hdsptaei_inner_bdr .hdsptaei_tit {
	margin:0px 0px 12px 0px;
}
.hdsptaei_mnt_cntnr_312 .hdsptaei_mnt_cntnr .hdsptaei_inner_bdr .hdsptaei_tit + img {
	margin-bottom:24px;
}
.hdsptaei_mnt_cntnr .hdsptaei_inner_bdr .hdsptaei_sub {
	color:#111224;
	font-size:20px;
	line-height:normal;
	font-weight:600;
}
.section4 {
	padding:70px 0px;
	background:#005dab;
}
.section_4_tit {
	text-transform:uppercase;
	color:#ffffff;
	text-align:center;
	font-size:43px;
	font-weight:700;
	margin-bottom:75px;
}
/*Flip CSS Start Here*/
#f1_container {
	position: relative;
	margin: 10px auto;
	/*width: 450px;*/
  height: 281px;
	z-index: 1;
}
#f1_container {
	perspective: 1000;
}
#f1_card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
	transform: rotateY(180deg);/*box-shadow: -5px 5px 5px #aaa;*/
}
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.face.back {
	display: block;
	transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 60px;
	color: white;
	text-align: left;
	background-color: #ffd24f;
}
.front.face {
	background:#ffffff;
	padding:75px;
}
 .front.face p:nth-child(1) {
 font-size:26px;
 font-weight:900;
 color:#14152a;
 text-transform:uppercase;
}
 .front.face p:nth-child(1) span {
 color:#e51b24;
}
 .front.face p:nth-child(2) {
 font-size:17px;
 font-weight:600;
 color:#14152a;
}
 .back.face p:nth-child(1) {
 font-size:26px;
 font-weight:900;
 color:#14152a;
 text-transform:uppercase;
}
 .back.face p:nth-child(1) span {
 color:#e51b24;
}
 .back.face p:nth-child(2) {
 font-size:17px;
 font-weight:600;
 color:#14152a;
}
.tellus_anc {
	float:left;
	display:inline-block;
	text-transform:uppercase;
	color:#ffffff;
	font-size:16px;
	background:#e51b24;
	border:1px solid #e51b24;
	border-radius:5px;
	outline:none;
	margin-top:10px;
	padding:10px 15px;
	font-weight:900;
}
.tellus_anc:hover {
	color:#e51b24;
	background:#ffd24f;
}
/*Flip CSS Ends Here*/


.section5 {
	padding:70px 0 70px;
}
.section_5_tit {
	text-transform:uppercase;
	color:#000;
	text-align:center;
	font-size:43px;
	font-weight:700;
	margin-bottom:70px;
}
.model_text_img {
	text-align:center;
	border:1px solid #f0f0f0;
	padding:25px 12px;
	min-height:605px;
}
.model_text_img h2 {
	font-size:20px;
	color:#e51b24;
	font-weight:600;
	text-align:left;
	margin-bottom:20px;
	padding: 0 20px;
}
.model_text_img p {
	font-size:15px;
	color:#39393a;
	font-weight:600;
	text-align:left;
	min-height: 100px;
	padding: 0 20px;
}
.model_text_img img {
	margin:37px 0 0 0;
}
.model_text_img:hover {
	background-color:#e51b24;
	background-repeat:no-repeat;
background-position:;
	cursor:pointer;
	transition:all 0.5s ease;
}
.model_text_img:hover h2 {
	font-size:20px;
	color:#fff;
	font-weight:600;
	text-align:left;
	margin-bottom:20px;
}
.model_text_img:hover p {
	font-size:15px;
	color:#fff;
	font-weight:600;
	text-align:left;
	min-height: 100px;
}
.mod_img {
	width:100%;
	text-align:center;
}
.model_text_img:hover .mod_img {
	background-image:url(../images/hover_pic.png);
	background-repeat:no-repeat;
	background-position:bottom;
}
.section6 {
	background:#e9f2f6;
	padding:70px 0;
}
.item_box {
	background:#FFF;
	padding:15px 15px 35px 15px;
}
.item_box_inn {
	padding:0;
	margin:30px 0 0 0;
}
.item_box_inn li {
	list-style:none;
	display:inline-block;
	vertical-align:top;
}
.item_box_inn li:first-child {
	background: #005dab;
	padding: 15px 27px;
	color: #FFF;
	width: 25%;
	text-align: center;
	font-size:16px;
	text-transform:uppercase;
}
.item_box_inn li:first-child span {
	font-size:34px;
	font-weight:900;
}
.item_box_inn li:last-child {
	padding: 12px;
	color: #39393a;
	font-size:16px;
	width: 73%;
}
.item_box_inn2 {
	padding:0;
	margin:0 0 30px 0;
}
.item_box_inn2 li {
	list-style:none;
	display:inline-block;
	vertical-align:top;
}
.item_box_inn2 li:first-child {
	background: #ffd24f;
	padding: 15px 27px;
	color: #000;
	width: 25%;
	text-align: center;
	font-size:16px;
	text-transform:uppercase;
}
.item_box_inn2 li:first-child span {
	font-size:34px;
	font-weight:900;
}
.item_box_inn2 li:last-child {
	padding: 12px;
	color: #39393a;
	font-size:16px;
	width: 73%;
}
.owl-theme .owl-controls {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 35%;
}
#owl-carousel_1 .owl-nav .owl-prev {
	background: url(../images/previous_btn.png) no-repeat scroll center;
	width: 38px;
	height: 38px;
	left: -70px;
	position: absolute;
}
#owl-carousel_1 .owl-nav .owl-next {
	background: url(../images/next_btn.png) no-repeat scroll center;
	width: 38px;
	height: 38px;
	right: -70px;
	position: absolute;
}
.owl-dots {
	display:none !important;
}
#owl-carousel_1 .owl-nav .owl-prev:hover {
	background: url(../images/previous_btn_hover.png) no-repeat scroll center;
	width: 38px;
	height: 38px;
	left: -70px;
	position: absolute;
}
#owl-carousel_1 .owl-nav .owl-next:hover {
	background: url(../images/next_btn_hover.png) no-repeat scroll center;
	width: 38px;
	height: 38px;
	right: -70px;
	position: absolute;
}
.section7 {
	background:#fff;
	padding:70px 0;
}
.section_7_tit {
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font-size: 43px;
	font-weight: 700;
	margin-bottom: 58px;
}
.row2_inn {
	margin-top:45px;
}
.hww_text h2 {
	font-size:20px;
	color:#111224;
	font-weight:600;
}
.hww_text p {
	font-size:15px;
	color:#39393a;
	margin-top:16px;
}
.section8 {
	background:#191a34;
	padding:70px 0;
}
.section_8_tit {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-size: 43px;
	font-weight: 700;
	margin-bottom: 58px;
}
.section_8_tit span {
	font-weight: normal;
}
.section9 {
	background:#e51b24;
	padding:40px 0 30px;
}
.section9 h3 {
	color: #fff;
	text-align: right;
	font-size: 23px;
	font-weight: 600;
	padding:16px 0;
}
.tell_me {
	display:inline-block;
	padding:13px 10px;
	border:2px solid #FFF;
	font-size:18px;
	text-align:center;
	width: 100%;
	border-radius: 8px;
	color:#FFF;
	text-transform:uppercase;
}
.tell_me:hover {
	color:#000;/*border:2px solid #000;*/
}
.section10 {
	background:#FFF;
	padding:20px 0 20px 0;
	text-align:center;
}
.copyright_text {
	color: #191a34;
	font-size: 13px;
	font-weight: 300;
	text-transform:uppercase;
}
/*thank you*/
.thank_you_footer {
	padding:30px 0;
}
.thank_you_section {
	width:100%;
	background:#fff;
	padding:180px 0;
	text-align:center;
}
.thank_you_section h2 {
	font-size:40px;
	font-weight:600;
	color:#005dab;
	padding:24px 0;
}
.thank_you_section p {
	font-size:28px;
	color:#000;
	font-weight:normal;
	line-height:28px;
}

.item_box2 {
    background: #FFF;
    padding: 0px 15px 0px 15px;
	overflow:hidden;
	min-height: 384px;
}
.abp_text h3{ margin:0; font-size:20px; color:#111224; line-height:22px; font-weight:600; padding:32px 0 0;}
.abp_text p{ margin:26px 0 0 0; font-size:14px; color:#39393a; line-height:22px; font-weight:normal; padding:0 0 32px;}



 @media screen and (max-width: 1200px) {
 .frm_mnt {
 padding: 20px;
}
#f1_container {
 height: 300px;
}
.section9 h3 {
 font-size: 21px;
 padding: 16px 0;
}
 .model_text_img:hover .mod_img {
 background-image: url(../images/hover_pic2.png);
 background-repeat: no-repeat;
 background-position: 10px 160px;
}
}
 @media screen and (max-width: 1023px) {
.section9 {
 padding: 20px 0 20px;
}
.section9 h3 {
 color: #fff;
 text-align: left;
 font-size: 16px;
 font-weight: 600;
 padding: 13px 0;
}
 .tell_me {
 display: inline-block;
 padding: 10px 10px;
 border: 2px solid #FFF;
 font-size: 14px;
 text-align: center;
 width: 100%;
}
 .item_box_inn li:first-child {
 padding: 3px 10px;
 width: 25%;
 text-align: center;
 font-size: 15px;
 text-transform: uppercase;
}
 .item_box_inn2 li:first-child {
 padding: 3px 10px;
}
 .item_box {
 min-height: 418px;
}
 .section_5_tit {
 margin-bottom: 20px;
}
.front.face {
 padding: 25px;
}
.face.back {
 padding: 25px;
}
 #f1_container {
 height: 262px;
}
.hdsptaei_mnt_cntnr .hdsptaei_inner_bdr {
 padding: 10px 10px;
}
 .frm_mnt {
 padding: 15px 10px;
}
.banner_txt_tit {
 font-size: 50px;
 line-height: 55px;
}
.section_4_tit {
 font-size: 38px;
 margin-bottom: 30px;
}
.section_5_tit {
 font-size: 38px;
 margin-bottom: 10px;
}
 .section_7_tit {
 font-size: 38px;
 margin-bottom: 30px;
}
 .section_8_tit {
 font-size: 38px;
 margin-bottom: 30px;
}
 .section4, .section5, .section6, .section7, .section8 {
 padding: 30px 0;
}
}
 @media screen and (max-width: 640px) {
.section1 {
 text-align: center;
}
.section2 {
 padding: 30px 0px 0px 0px;
}
.header_waml {
 text-align: center;
 margin: 10px 0 0;
}
 .header_waml a:nth-child(2) {
 margin-top: 10px;
}
.banner_txt_tit {
 font-size: 40px;
 line-height: 62px;
 padding-bottom: 10px;
}
.hdsptaei_mnt_cntnr .hdsptaei_inner_bdr {
 text-align: center;
 padding: 10px 10px;
border-bottom: 1px solid #bde5f4;
border-right:none;
}
.hdsptaei_mnt_cntnr {
 padding: 30px 0px 30px 0px;
}
.section_4_tit {
 font-size: 26px;
 margin-bottom: 5px;
}
.section_5_tit {
 text-align: center;
 font-size: 26px;
 margin-bottom: 12px;
}
 .owl-nav {
display:none;
}
 .model_text_img p {
 min-height: auto;
}
.model_text_img:hover p {
 min-height: auto;
}
.section4 {
 padding: 30px 0px;
}
.section5 {
 padding: 30px 0 30px;
}
.section6 {
 padding: 30px 0;
}
.section7 {
 text-align: center;
}
.hww_text {
margin-bottom:20px;
}
.section_8_tit {
 font-size: 26px;
 margin-bottom: 25px;
}
.section8 {
 padding: 30px 0;
 text-align: center;
}
 .section8 .col-lg-6 {
margin-bottom:10px;
}
 .section9 h3 {
 text-align: center;
 font-size: 20px;
 padding: 0 0 16px 0;
}
 .tell_me {
 display: block;
 font-size: 18px;
 width: 45%;
 margin: 0 auto;
}
.section9 {
 padding: 20px 0 20px;
}
.copyright_text {
 font-size: 11px;
}
.section10 {
 padding: 10px 0 10px 0;
}
.section7 {
 padding: 30px 0;
}
.section_7_tit {
 font-size: 26px;
 margin-bottom: 27px;
}
.item_box_inn li:first-child {
 width: 100%;
}
.item_box_inn li:last-child {
 width: 100%;
}
.item_box_inn2 li:first-child {
 width: 100%;
}
.item_box_inn2 li:last-child {
 width: 100%;
}
.owl-theme .owl-controls {
 text-align: center;
 position: absolute;
 width: 100%;
 top: unset;
bottom: -23px;
}
.owl-dots {
 display: block !important;
}
.row2_inn {
 margin-top: 0;
}
.model_text_img {
 padding: 25px 12px;
 min-height: 494px;
 margin: 0 0 10px 0;
}
 .banner_txt_sub {
 font-size: 20px;
 line-height: 21px;
 padding-bottom: 21px;
}
.model_text_img:hover .mod_img {
 background-image:url(../images/hover_pic.png);
 background-repeat:no-repeat;
 background-position:bottom;
}
 .model_text_img h2 {
 text-align: center;
}
.model_text_img p {
 text-align: center;
}
.model_text_img:hover h2 {
 text-align: center;
}
 .model_text_img:hover p {
 text-align: center;
}

.abp_text p {
    text-align: left;
}

}
 @media screen and (max-width: 480px) {
.frm_mnt {
 padding: 20px;
 background: #ffffff;
 float: left;
 width: 100%;
}