﻿.mis-stage {/*background-color: #fff;*/}
.mis-slider {margin-top: 138px;height: 80px;}
.mis-slider li a {text-decoration: none;color: #666;display: block;}
.mis-slider li figcaption {font-size: 1.125em;}
.mis-slider li img {}
.mis-slide {width: 360px;height: 360px;padding:12px;margin-top: -138px}
.mis-nav-buttons a {color: #fff;}
