@charset "utf-8";
/* CSS Document */

html, body{
	width:100%;
	margin:0px;
	padding:0px;
	font-family: 'Montserrat', sans-serif;
}

p{
	margin:0px;
}

img{
	max-width:100%;
}

.section1, .section2{
	width:100%;
	margin:0px;
	float:left;
}

.section1{
	background:#fff200;
	padding:35px 20px 0px 20px;
}

.logo_container img{
	max-width:250px;
}

.hero_text_1{
	padding-top:120px;
}

.hero_text{
	color: #25559e;
	font-size: 92px;
	font-weight: 700;
	text-align: left;
	line-height: 80px;
	text-transform: uppercase;
}

.form_pre_container{
	text-align:center;
	float:left;
	width:100%;
}

.main_form{
	float:left;
	width:100%;
}

.main_form .inner_inp{
	float:left;
	width:100%;
	margin-bottom:15px;
	border:1.5px solid #ffae00;
	outline:none;
	border-radius:15px;
	padding:10px;
	color:#c34506;
	/*background:#f5ec41;*/
	background:none;
}

.main_form .inner_inp.inner_inp_txtra{
	width:100%;
	max-width:100%;
	height:90px;
	max-height:90px;
}

::-webkit-input-placeholder { /* Edge */
  color: #c34506;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c34506;
}

::placeholder {
  color: #c34506;
}

.inner_inp_sbmt{
	text-transform:uppercase;
	background-image:linear-gradient(#25559e 50%, #2b62b7 50%);
	border:none;
	outline:none;
	float:left;
	padding:7px 25px;
	border-radius:25px;
	color:#fff;
	font-weight:500;
	text-transform:uppercase;
	font-size:20px;
}

.inner_inp_sbmt:hover{
	background-image:linear-gradient(#2b62b7 50%, #25559e 50%);
}

.after_hero_text_desk{
	padding-top: 70px;
    font-size: 15px;
    font-weight: 500;
    float: left;
    width: 100%;
    text-align: left;
}

.after_hero_text_desk.after_hero_text_mob{
	padding-top:15px;
	display:none;
}

.form_after_img{
	color:#1a1717;
	font-size:17px;
	font-weight:500;
	padding:5px 0px;
}

.form_after_img_scd{
	color:#e54039;
	font-size:21px;
	font-weight:500;
	padding:0px 0px 5px 0px;
}

.hero_image{
	text-align: center;
	padding-top: 150px;
}

.hero_image img{
	display: inline-block;
	/*vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;*/
}

.form_pre_container p:nth-child(1) img{ 
	width:250px;
}

.no-paddin{
	padding:0px;
}

.div_mob{
	display:none;
}

.section1.section1_th .logo_container{
	text-align:center;
}

.section1.section1_th{
	height:100vh;
}

.section1.section1_th .hero_text_1.hero_text_1_th{
	padding-top:60px;
}

.section1.section1_th .hero_text_1.hero_text_1_th > div{
	color: #e54039;
    font-size: 21px;
    font-weight: 500;
    padding: 0px 0px 5px 0px;
	text-align:center;
}

.section1.section1_th .hero_text_1.hero_text_1_th .after_hero_text_desk {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
    float: left;
    width: 100%;
    text-align: center;
}

/*Media CSS Start Here*/
@media only screen and (max-width: 1024px) {
	.hero_text {
		color: #25559e;
		font-size: 60px;
		font-weight: 700;
		text-align: left;
		line-height: 56px;
		text-transform: uppercase;
	}
	
	.hero_text_1 {
		padding-top: 100px;
	}
	
	.form_after_img {
		color: #1a1717;
		font-size: 13px;
		font-weight: 500;
		padding: 0px 0px;
	}
	
	.form_after_img_scd {
		color: #e54039;
		font-size: 14px;
		font-weight: 500;
		padding: 0px 0px 5px 0px;
	}
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 640px) {
	.div_mob{
		display:block;
	}
	
	.div_desk{
		display:none;
	}
	
	.logo_container{
		text-align:center;
	}
	
	.hero_text_1{
		padding-top:30px;
		padding-bottom:30px;
	}
	
	.hero_text {
		font-size: 52px;
		font-weight: 700;
		text-align: center;
		line-height: 60px;
	}
	
	.after_hero_text_desk.div_mob{
		padding-top:30px;
	}
	
	.hero_image{
		padding-top:50px;
	}
}
/*Media CSS Ends Here*/