@charset "utf-8";
*, body, html {padding:0;margin:0}
*, body, h1, h2, h3, h4, h5, html, p {margin:0; font-family: 'Raleway', sans-serif;}
img{ max-width:100%;}
.banner_img_cntnr img, img {max-width:100%}
.item_box_inn li, .item_box_inn2 li {list-style:none;vertical-align:top}
body, html {width:100%;font-family:Montserrat, sans-serif}
a {text-decoration:none!important;outline:0!important}
ul {list-style-type:none}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #fff;}
.form-control::-moz-placeholder { /* Firefox 19+ */color: #fff;}
.form-control:-ms-input-placeholder { /* IE 10+ */color: #fff;}
.form-control:-moz-placeholder { /* Firefox 18- */color: #fff;}
.section1, .section10, .section11, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9 {
width:100%;margin:0;}

.section1 { width:100%;padding:70px 0 ; background:url(../img/banner.jpg) no-repeat scroll top center; text-align:center; min-height:650px;}
.logo{margin-bottom:100px;}
.ilogo{color: #5eb4f9;font-weight: 700 !important;}
.modal-dialog {width: 420px;margin: 30px auto;}
.top-banner-text h2{font-size: 60px;color: #fff; font-weight:700; margin-bottom: 22px; font-family: 'Raleway', sans-serif; text-align:center; padding: 0 14%;}
.top-banner-text h2 span{ font-weight:normal;}
.top-banner-text h3{font-size:28px;color: #fff; font-weight:500; margin-bottom: 30px; font-family: 'Raleway', sans-serif; text-align:center; padding: 0 14%;}
.mar{ margin:-13px 4px 0 4px;}

.enquire_now1{ text-align:center; margin: 0 0 20px 0;}
.enq_btn{background:#5eb4f9; padding: 15px 30px; font-size:17px; color:#FFF; border: none; font-weight:500;}


.form_right{ background:#FFF; padding:30px; border:1px solid #999; margin: 0 0 0 65px;}

.form_right h2{font-family: 'Poppins', sans-serif;
font-size:21px;
color:#000000;
font-weight:600; margin-bottom:30px; line-height: 27px;}

.form-group_top{
margin-bottom: 16px;
}
.form-group_top p{font-family: 'Poppins', sans-serif;
font-size:14px;
color:#5e5e5e; margin:20px 0;}
.form-control-top {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background: none;
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background: #fff;
}
.inner_inp_sbmt2{width: 45%;
    background: #2e2c2c;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    border: none;
    border-radius: 0;
    padding: 8px 0;}
	
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
	font-family: 'Raleway', sans-serif;
}

.modal-content {
    position: relative;
    background-color: #5eb4f9;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.section2 {width:100%;padding:110px 0; background:url(../img/bg2.jpg) no-repeat scroll top center; text-align:center;}

.kutchina{}
.kutchina h2{font-size: 60px;color: #202020;margin-bottom: 30px; font-family: 'Raleway', sans-serif; text-align:left; font-weight:700;}

.kutchina_list{ padding:0; margin:0}
.kutchina_list li{ list-style:none; display:block; padding:15px 15px; margin:5px; font-family: 'Raleway', sans-serif; font-size:16px; color:#000; font-weight:600; text-align:left; vertical-align:top; min-height: 75px;}
.kutchina_list li span{ float:left; margin-right:20px;}
.kutchina_list li h2{ font-size:28px; font-family: 'Raleway', sans-serif; color:#5b5b5b; margin:0; font-weight:700;}
.kutchina_list li p{ font-size:16px; font-family: 'Raleway', sans-serif; color:#202020; margin:0; font-weight:500;}

.section3 {width:100%; background:url(../img/bg3.jpg) no-repeat scroll top center; text-align:center; padding:86px 0 0;}
.watch-video h2{font-size: 62px;color: #ffffff;font-weight: 700;margin-bottom: 60px; font-family: 'Raleway', sans-serif;}
.video-frame{position: absolute;top: 150px;right: 0;left: 0; z-index:9; overflow:hidden;}
.video_box{ position:relative;}

.section4 {width:100%; background:#fff; text-align:left; padding:100px 0 60px;}
.testimonial h2{font-family: 'Raleway', sans-serif;font-size:60px;color:#000000;font-weight:700;text-align:left;margin-bottom:60px;}
.slider_inn_text{ margin-left:10%;}
.user_pic{ float:left; width: 15%;}
.user_text{ float:left; width: 85%;}
.user_text h4{font-family: 'Raleway', sans-serif;font-size:30px;color:#ec1738;font-weight:700;line-height:44px;text-align:left;margin-bottom:15px;    float: left;
    margin-right: 30px;}
.user_text p{font-family: 'Raleway', sans-serif;font-size:17px;color:#202020;font-weight:400;line-height:22px;text-align:left; margin-bottom: 8px;float: left;}
.quote{ font-size:30px; float:left; color:#999;}
.quote2 {
    font-size: 30px;
    float: left;
    color: #999;
    margin-left: 36%;
}

.section5 {width:100%;padding:8px 0 5px 0; background:url(../img/bg4.jpg) no-repeat scroll top center; text-align:center; padding:200px 0; }
.ups_section h2{font-family: 'Raleway', sans-serif;font-size:45px;color:#000000;font-weight:700;line-height:44px;text-align:center;margin-bottom:28px;}

.section6 {width:100%; background:url(../img/bg6.jpg) no-repeat scroll top center; text-align:center; padding:110px 0;}
.services_text h2 {font-size: 62px;color: #ffffff;font-weight: 700;margin-bottom: 60px; font-family: 'Raleway', sans-serif;}
.services{ padding:0; margin:0}
.services li{ list-style:none; display:inline-block; padding:15px 15px; width:25%; background: rgba(0, 0, 0, 0.7); margin:5px; font-family: 'Raleway', sans-serif; font-size:16px; color:#FFF; font-weight:600; text-align:left; vertical-align:top; min-height: 75px;}
.services li span{ background:#5eb4f9; padding:5px; margin-right:15px; float:left;}
.enquire_now{ text-align:center; margin: 70px 0 0;}
.enquire_now a{ background:#5eb4f9; padding: 15px 30px; font-size:17px; color:#FFF; font-weight: 600;}

.section7{ width:100%; background:#0063b2; padding:30px 0 0; text-align:center;}
.follow_text h3{font-size: 17px;color: #FFF;font-weight: 600;padding-top: 12px;}
.social_link{ padding:0; margin:0;}
.social_link a{font-size: 17px;color: #FFF;border: 1px solid #fff;padding: 10px 12px;border-radius: 50%;list-style: none;display: inline-block;width: 40px;
height: 40px;margin: 0 1px;}
.social_link li a:hover{ background:#000;}
.copy_right{ font-size:14px; color:#FFF; padding: 10px 0; margin:5px 0 8px;}

.thank_you_section{ padding:175px 0; text-align:center;}
.thank_you_section h2{font-family: 'Poppins', sans-serif;font-size: 40px;color: #faac47;font-weight: 700;margin-bottom:5px;}
.thank_you_section p{font-size: 26px;color: #000;padding: 20px 0;text-align: center;}

.close {
    float: right;
    font-size: 41px;
    font-weight: 700;
    line-height: 1;
    color: #000;
	opacity:1;
	    text-shadow:0 #fff;
	  
    /* text-shadow: 0 1px 0 #fff; 
    filter: alpha(opacity=20);*/
    /* opacity: .2; */
}

#owl-carousel_1 .owl-nav {
	width:100%;
	position:absolute;
	bottom: 0;
}
#owl-carousel_1 .owl-nav .owl-prev {
	float:left;
	background:url(../img/prev.png) no-repeat scroll center;
	width:43px;
	height:42px;
	position: absolute;
    left: 5px;
    top: -60px;
}
#owl-carousel_1 .owl-nav .owl-next {
	background:url(../img/next.png) no-repeat scroll center;
	width:43px;
	height:42px;
	position: absolute;
    left: 53px;
    top: -60px;
}
.owl-dots{ display: none !important;}

#owl-carousel_2 .owl-nav {
	width:100%;
	position:absolute;
	top:-52px;
}
#owl-carousel_2 .owl-nav .owl-prev {
	float:left;
	background:url(../img/prev2.png) no-repeat scroll center;
	width:27px;
	height:27px;
	position: absolute;
    right: 33px;
    top: 0;
}
#owl-carousel_2 .owl-nav .owl-next {
	background:url(../img/next2.png) no-repeat scroll center;
	width:27px;
	height:27px;
	position: absolute;
    right: 0;
    top: 0;
}
.video-frame-mobile{ display:none;}
.section11{
    background: #ccc;
    text-align: center;
    padding: 10px;
}






@media screen and (max-width:1024px) {
		
}
	
@media screen and (max-width:900px) {

}

@media screen and (max-width:640px) {
.logo{ text-align:center; margin-bottom: 17px;}
.mar {
    margin: -6px 1px 0 1px;
    width: 3px;
}

.section1 {
    padding: 50px 0;
     min-height: auto; 
}
.section2 {
    padding: 50px 0;
}
.kutchina h2 {
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: 700;
}
.kutchina_list li h2 {
    font-size: 15px;
    text-align: left;
}
.section3 {
    padding: 50px 0 0;
}
.section3 {
    padding: 50px 0 0;
}

.services li {
    width: 100%;
    margin: 5px 0;
	min-height: auto;
}
.services_text h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.section6 {
    padding: 28px 0;
}
.video-frame-mobile{ display:block;}
.video-frame{ display:none;}
.video_box{display:none;}

.testimonial h2 {
    font-size: 28px;
}
.user_pic {
    float: none;
    width: 100%;
    text-align: center;
}
.slider_inn_text {
    margin-left: 0;
}
.user_text {
    float: none;
    width: 100%;
}

.user_text p {
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 8px;
    float: left;
    padding: 0 18px;
}

.user_text h4 {
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 15px;
    float: none;
    margin-right: 0;
    width: 100%;
}
.quote {
    float: none;
    text-align: center;
}

.quote2 {
    font-size: 30px;
    float: none;
    margin-left: 0;
    text-align: center;
}

.testimonial h2 {
    text-align: center;
}
.section5 {
    text-align: center;
    padding: 45px 0;
    background-size: contain;
}
.section4 {
    text-align: left;
    padding: 30px 0 10px;
}
}
@media screen and (max-width:480px) {
.top-banner-text h2 {
    font-size: 18px;
    padding: 0 7%;
}
.top-banner-text h3 {
    font-size: 17px;
    padding: 0 10%;
}
.kutchina h2 {
    font-size: 22px;
    margin-bottom: 13px;
    text-align: center;
}
.watch-video h2 {
    font-size: 26px;
}
}
