/*123*/
@charset "utf-8";
/* CSS Document */

.inner_inp_search option{
	opacity:0 !important;
}

.inner_inp_search.ng-pristine.ng-valid.select2-hidden-accessible option{
	opacity:1 !important;
}

html, body{
	width:100%;
	margin:0px;
	padding:0px;
	/*font-family:'Roboto', sans-serif;*/
	font-family: 'Lato', sans-serif !important;
}

p{
	margin:0px;
}

img{
	max-width:100%;
}

a{
	text-decoration:none;
	outline:none !important;
}

a:hover, a:focus, a:active{
	color:#12a797 !important;
	text-decoration:none;
}

ul{
	list-style-type:none;
}

*{
	margin:0px;
	padding:0px;
}

.section1, .section2, .section3, .section4, .section5, .section6{
	width:100%;
	margin:0px;
}

.section1{
	background:#1b2a34;
	padding:10px 0px;
}

.header_ul{
	float:left;
	width:100%;
	margin:7px 0px 0px 0px;
}

.header_ul li{
	float:left;
	border-right:2px solid #ccc;
}

.header_ul li:last-child{
	border:none;
}

.header_ul li:first-child a{
	padding-left:0px;
}

.header_ul li a{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 15px;
	float: left;
	width: 100%;
	cursor:pointer;
}

/*New Menu CSS Start Here*/
.menu_bkg .navbar{
	margin-bottom:0px;
}

.menu_bkg .navbar #bs-example-navbar-collapse-1{
	padding:0px;
}

.menu_bkg .navbar #bs-example-navbar-collapse-1 .menu-main-menu-container .nav.navbar-nav.pull-right{
	width:100%;
	float:left;
}

.navbar-default{
	background:none;
	border:none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
}

#menu-main-menu li a + ul.sub-menu{
	display:none;
}

#menu-main-menu > li {
	float: left;
	border-right: 2px solid #ccc;
}

#menu-main-menu > li > a{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 15px;
	float: left;
	width: 100%;
	cursor: pointer;
}

#menu-main-menu {
    float: left;
    width: 100%;
    margin: 7px 0px 0px 0px;
}

#menu-main-menu li:first-child a {
    padding-left: 0px;
}

#menu-main-menu ul.sub-menu {
    display: none;
    position: absolute;
    width: 270px;
    z-index: 999;
    background: #1b2a34;
    top: 30px;
    margin: 0;
}

#menu-main-menu > li:hover ul.sub-menu {
    display: block;
}

#menu-main-menu ul.sub-menu li {
    float: left;
    width: 100%;
    border-right: none !important;
    border-bottom: 1px solid #2a4354;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

#menu-main-menu ul.sub-menu li a {
    float: left;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 10px;
}

#menu-main-menu ul.sub-menu li a:hover {
    color:#12a797 !important;
}

#menu-main-menu{
	width:100%;
}

/*New Menu CSS Ends Here*/

/*Mobile Menu CSS Start Here*/
.header_ul ul.sub-menu{
	display: none;
	position: absolute;
	width: 270px;
	z-index: 999;
	background: #1b2a34;
	top: 42px;
	margin: 0;
}

.header_ul ul.sub-menu li {
	float:left;
	width:100%;
	border-right:none !important;
	border-bottom:1px solid #2a4354;
	text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.header_ul ul.sub-menu li:last-child{
	border:none !important;
}

.header_ul ul.sub-menu li a{
	float: left;
	width: 100%;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	padding: 8px 10px;
}

.header_ul>li:hover ul.sub-menu{
	display:block;
}
/*Mobile Menu CSS Ends Here*/

.srch_frm{
	float:left;
	width:100%;
}

.srch_frm .inner_inp_txt{
	float:left;
	width:83%;
	border:none;
	outline:none;
	height:40px;
	padding:0px 10px;
}

.srch_frm .inner_inp_sbmt{
	float:left;
	width:17%;
	border:none;
	outline:none;
	padding:10px 10px;
	height:40px;
	background-image:url(../img/search.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#4f6776;
}

.section2{
	background:#4f6776;
	padding:10px 0px;
}

.pop_cat_tit{
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	margin-bottom:5px;
	text-align:left;
}

.pop_car_container{
	float:left;
	width:100%;
}

.pop_car_container a{
	float:left;
	font-size:16px;
	color:#ffffff;
	font-weight:600;
	margin-right:15px;
	margin-bottom:5px;
}

.pop_car_container a img{
	margin-right:5px;
	vertical-align:middle;
}

.bread_pra_contr{
	background: #fff;
	padding: 15px 0px;
	float: left;
	width: 100%;
}

.bread_pra_contr .bread_pra{
	display:inline-block;
	float:left;
}

.bread_pra_contr .bread_pra a{
	font-size:16px;
	color:#0b0c0c;
	font-weight:400;
	text-decoration:underline;
	float:left;
	margin-right:10px;
}

.bread_pra_contr .bread_pra a img{
	margin-left:10px;
	vertical-align:middle;
}

.home_tit{
	font-size: 35px;
    color: #4f6776;
    font-weight: bold;
    text-align: left;
    line-height: 35px;
    padding: 20px 0px 25px 0px;
    float: left;
    width: 100%;
}

.stat_mnt_cntnr{
	float:left;
	width:100%;
	background:#f8f8f8;
	padding:15px 0px;
	margin-bottom:25px;
}

.bdy_pra{
	font-size:18px;
	color:#373737;
	letter-spacing:0.3px;
	margin-bottom:25px;
	float:left;
	width:100%;
}

.stat_mnt_cntnr .stat_inner_mnt_chi{
	float: left;
    width: 20%;
    text-align: center;
    padding: 25px 15px;
}

.stat_mnt_cntnr .stat_inner_mnt_chi .stat_tit{
	color:#4f6776;
	font-weight:bold;
	font-size:35px;
	line-height:35px;
	padding-bottom:10px;
}

.stat_mnt_cntnr .stat_inner_mnt_chi .stat_sub{
	color:#373737;
	font-weight:400;
	font-size:18px;
	line-height:18px;
	padding-bottom:0px;
}

.gener_anc {
	color: #ffffff;
	font-size: 18px;
	background: #1b2a34;
	padding: 9px 15px;
	float: left;
	margin-bottom: 25px;
	border-radius: 5px;
	border: 1px solid #1b2a34;
}

.gener_anc:hover {
	color: #1b2a34 !important;
	background: #fff;
	text-decoration:none;
}

.hr_pra{
	height:1px;
	background:#95a4ad;
	margin-bottom:25px;
}

.dttpm_tit{
	font-size:22px;
	font-weight:600;
	color:#4f6776;
	padding:10px 0px 10px 0px;
}

.fcb_412{
	margin-bottom:15px;
}

.sele_by_char{
	text-align:center;
	/*font-size:25px;*/
	font-size:19px;
	font-weight:bold;
	color:#ffffff;
	background:#000;
	float:left;
	width:100%;
	margin-bottom:30px;
	padding:30px 10px;
	text-decoration:none;
}

.sele_by_char:hover{
	background:#666;
	color:#fff;
	text-decoration:none;
}

.sele_by_char img{
	vertical-align:middle;
	margin-left:10px;
	width:10px;
}

.bread_pra_contr p.bread_pra:last-child a img{
	display:none;
}

.frm_inner_search {
	float: left;
    width: 100%;
    text-align: center;
}

.frm_inner_search .frm_inner_search_child{
	width: 33%;
    /* float: left; */
    display: inline-block;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0px 15px;
    text-align: left;
	vertical-align:top;
}

.serch_lbl_tit{
	font-size:16px;
	color:#373737;
	font-weight:400;
	margin-bottom:8px;
}

.search_frm_mnt .inner_inp_search{
	width: 100%;
    float: left;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
	height:40px;
	padding:5px;
}

.search_frm_mnt .inner_inp_search:focus{
	border: solid black 1px;
}

select.inner_inp_search.ng-valid[ng-model="search.searchStatus"]  option:nth-child(1){
	color:#adadad;
}

/*select.inner_inp_search.ng-valid[ng-model="search.searchStatus"]{
	color:#adadad;
}*/

.frm_inner_search_child.frm_inner_search_child_sanger{
	width:100%;
}

.bott_val_lab_parr .bottom_val_lab {
    border: 0;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    background: none;
    width: 100%;
    margin: 8px 0px 0px 0px;
}

.frm_inner_search .ui-slider-horizontal {
    height: 3px;
}

.frm_inner_search .ui-slider .ui-slider-handle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.frm_inner_search .ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left:0px !important;
	outline:none !important;
	background:#4f6776;
}

.frm_inner_search .ui-widget-content {
    border:none !important;
    background: #b9c2c8 !important;
    color: #333333 !important;
}

.hr_pra.hr_pra_srch{
	margin-top:25px;
}

.search_list_mnt_brdr{
	border:1px solid #728591;
	float:left;
	width:100%;
	margin-bottom:30px;
}

.result_status{
	font-size: 22px;
	font-weight: 600;
	color: #4f6776;
	padding: 10px 0px 10px 0px;
}

.search_list_descl{
	font-size: 14px;
	color: #373737;
	letter-spacing: 0.3px;
	margin-bottom: 10px;
	font-style: italic;
}

.search_list_descl + .search_list_descl{
	margin-bottom: 0px;
}

.short_by_chart_list{
	float:left;
	width:100%;
}

.short_by_chart_list .short_by_chart_list_slct{
	float:left;
	width:100%;
}

.short_by_chart_list_slct{
	width: 100%;
    float: left;
    outline: none;
    border-radius: 5px;
    border: 1px solid #728591;
    height: 40px;
    padding: 5px;
}

.search_by_tit{
	font-size: 19px;
    font-weight: 600;
    color: #4f6776;
    padding: 0px 0px 8px 0px;
}

.search_header_list{
	background:#1b2a34;
	padding:8px 15px;
}

.search_header_list .list_tit_mnt_lft{
	font-size:25px;
	color:#ffffff;
	font-weight:bold;
	text-align:left;
}

.search_header_list .list_tit_mnt_rght{
	font-size:18px;
	color:#ffffff;
	font-weight:bold;
	text-align:right;
	padding:5px 0px;
}

.charity_list_desc_lower{
	float:left;
	width:100%;
	padding:15px;
	box-sizimg:border-box;
}

.list_inner_desc_tit{
	font-size: 18px;
	font-weight: 600;
	color: #4f6776;
	padding: 0px 0px 8px 0px;
}

.list_inner_desc_tit a{
	font-size: 17px;
	font-weight: 400;
}

.charity_list_desc_lower .bdy_pra{
	margin-bottom:10px;
}

.charity_list_desc_lower .list_inner_desc_tit span{
	font-size: 17px;
	font-weight: 400;
	color:#000;
}

.row_list_thre_butt .gener_anc{
	margin-bottom:0px;
	margin-top:10px;
}

.gener_anc_parent_812{
	text-align:left;
}

.gener_anc_parent_412{
	text-align: right;
	margin-top: 10px;
}

.gener_anc_parent_412 .gener_anc{
	margin: 0px 3px;
	float: none;
	display: inline-block;
}

.pre_tndc_ul{
	font-size: 22px;
    font-weight: 600;
    color: #4f6776;
    padding: 0px 0px 10px 0px;
}

ul.tndc_ul{
	list-style-type:circle;
	margin-left:35px;
	margin-bottom:25px;
	float:left;
	width:100%;
}

ol.tndc_ul{
	margin-left:20px;
	margin-bottom:25px;
}

.tndc_ul li{
	margin-bottom:10px;
	line-height:30px;
}

.testi_auth{
	font-weight:bold;
}

.home_tit.home_tit_testi_start{
	margin-top:30px;
}

.charity_single_tabbed_container{
	float:left;
	width:100%;
}

.charity_single_tabbed_container #exTab1{
	padding:0px;
}

.charity_single_tabbed_container .nav.nav-pills{
	background:#4f6776;
}

.charity_single_tabbed_container .nav.nav-pills li a{
	text-align:center;
	color:#ffffff;
	font-size:17px;
	text-transform:uppercase;
}

.charity_single_tabbed_container .nav-pills li a{
	border-radius:0px;
}

.charity_single_tabbed_container .nav-pills li{
	border-right:1px solid #97a6ae;
}

.charity_single_tabbed_container .nav-pills li:last-child{
	border-right:none;
}

.charity_single_tabbed_container .nav-pills>li+li{
	margin:0px !important;
}

.charity_single_tabbed_container .nav.nav-pills li.active {
	background:#1b2a34;
}

.charity_single_tabbed_container .nav.nav-pills li.active a{
	background:#1b2a34;
	color:#ffffff !important;
}

.charity_single_tabbed_container .nav.nav-pills li a:hover{
	background:#1b2a34 !important;
	color:#ffffff !important;
}

.charity_single_tabbed_container .tot_border_exc_tp{
	border:2px solid #a2afb6;
	border-top:none !important;
	margin-bottom:25px;
	padding:15px;
	float:left;
	width:100%;
}

.tab-content p.charity_inner_pra{
	text-align:left;
	font-size:18px;
	color:#373737;
	font-weight:bold;
	margin-bottom:5px;
}

.tab-content p.charity_inner_pra span{
	font-weight:400;
}

.tab-content .algn_rght p.charity_inner_pra{
	text-align:right;
}

.tab-content .algn_rght p.charity_inner_pra span{
	color:#38a74d;
}

.row_marg_bott{
	margin-bottom:20px;
}

.tab-content .charity_inner_pra.charity_inner_pra_ext{
	margin-bottom:5px;
}

.tab-content .charity_inner_pra .grp_oon_anc{
	font-size:17px;
	font-weight:400;
}

.tab-content .charity_inner_pra.charity_inner_pra_sub_inner{
	font-weight:400;
}

.additi_char_sing_tit{
	font-size: 25px;
	color: #4f6776;
	font-weight: bold;
	text-align: left;
	line-height: 31px;
	padding: 0px 0px 10px 0px;
	float: left;
	width: 100%;
}

/*.search_frm_mnt.ng-pristine.ng-valid .frm_inner_search .frm_inner_search_child .select2.select2-container.select2-container--default.select2-container--below.select2-container--focus,
.search_frm_mnt.ng-pristine.ng-valid .frm_inner_search .frm_inner_search_child .select2.select2-container.select2-container--default, 
.search_frm_mnt.ng-pristine.ng-valid .frm_inner_search .frm_inner_search_child .select2.select2-container.select2-container--default.select2-container--below, 
.search_frm_mnt.ng-pristine.ng-valid .frm_inner_search .frm_inner_search_child .select2.select2-container.select2-container--default.select2-container--above.select2-container--focus, 
.search_frm_mnt.ng-pristine.ng-valid .frm_inner_search .frm_inner_search_child .select2.select2-container.select2-container--default.select2-container--above.select2-container--focus.select2-container--open,
.select2.select2-container.select2-container--default.select2-container--below{
	width: 100%;
	float: left;
	outline: none;
	border-radius: 5px;
	border: 1px solid #728591;
	height: 40px;
	padding: 5px;
	overflow: scroll;
	overflow-x: hidden;
}*/

.select2-container--default .select2-selection--multiple{
	/*width: 100%;*/
	width: calc(100% - .5px);
	float: left;
	outline: none;
	border-radius: 5px;
	border: 1px solid #728591;
	height: 40px;
	padding: 5px;
	overflow: scroll;
	overflow-x: hidden;
}

.frm_inner_search_child .select2-container {
	width:100% !important;
}

.bott_val_lab_parr {
	display:none !important;
}

.row.row_list_thre_butt .charity_btn_group{
	position:relative;
	float:left;
	width:100%;
}

#search_frm{
	position:relative;
}

#search_frm #autocomplete-result{
	position: absolute;
	top: 42px;
	background: #fff;
	z-index: 999;
	max-height: 250px;
	overflow: scroll;
	overflow-x: hidden;
	margin:0px;
	display:none;
}

#search_frm .inner_inp_txt.ui-autocomplete-input + .inner_inp_sbmt + #autocomplete-result{
	/*display:block;*/
}

#search_frm #autocomplete-result li{
	float:left;
	width:100%;
}

#search_frm #autocomplete-result li a{
	float:left;
	width:100%;
	color:#4f6776;
	padding:4px 5px;
}

#exTab1 .tab-pane{
	float:left;
	width:100%;
}

#exTab1 .tab-pane .tot_border_exc_tp {
	float:left;
	width:100%;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1{
	float:left;
	width:100%;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form{
	float:left;
	width:100%;
	margin-top:15px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground {
	padding:0px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12{
	padding:0px;
	float:left;
	width:100%;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap{
	float: left;
	width: 100%;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap input{
	float: left;
	width: 50%;
	border: 1px solid #ccc;
	outline: none;
	height: 40px;
	padding: 0px 10px;
	margin-bottom:15px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap textarea{
	float: left;
	width: 50%;
	border: 1px solid #ccc;
	outline: none;
	height: 100px;
	padding: 10px 10px;
	margin-bottom:15px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap.Category select{
	float: left;
	width: 50%;
	border: 1px solid #ccc;
	outline: none;
	height: 40px;
	padding: 0px 10px;
	margin-bottom: 15px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap.show .wpcf7-form-control.wpcf7-radio .wpcf7-list-item.first {
	margin:0px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap.show .wpcf7-form-control.wpcf7-radio .wpcf7-list-item.first input {
	float: left;
	width: auto;
	border: none;
	outline: none;
	height: auto;
	padding: 0;
	margin-bottom: 15px;
	margin-right: 5px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap.show .wpcf7-form-control.wpcf7-radio .wpcf7-list-item.last input {
	float: left;
	width: auto;
	border: none;
	outline: none;
	height: auto;
	padding: 0;
	margin-bottom: 15px;
	margin-right: 5px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control.wpcf7-submit {
	color: #ffffff;
	font-size: 15px;
	background: #1b2a34;
	padding: 10px 15px;
	float: left;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #1b2a34;
	margin-top: 10px;
}

#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control.wpcf7-submit:hover {
	color: #1b2a34 !important;
	background: #fff;
	text-decoration: none;
}

table tr th{
	font-size: 18px;
	color: #373737;
	letter-spacing: 0.3px;
	font-weight:bold;
	padding:2px 0px;
}

table tr td{
	font-size: 16px;
	color: #373737;
	letter-spacing: 0.3px;
	padding:2px 0px;
}

#Rating .lrm-hide-if-logged-in {
	font-size: 16px;
	color: #373737;
	letter-spacing: 0.3px;
}

#Rating .lrm-hide-if-logged-in .lrm-login{
	font-size: 16px;
	color: #4f6776;
	font-weight:bold;
	letter-spacing: 0.3px;
	margin-bottom:5px;
}

#Rating .lrm-hide-if-logged-in .lrm-signin{
	font-size: 16px;
	color: #4f6776;
	font-weight:bold;
	letter-spacing: 0.3px;
	margin-bottom:5px;
}

#Rating .rating-form.mrp-shortcode h4:first-child{
	font-weight:bold;
	color: #4f6776;
}

#Rating .rating-form.mrp-shortcode h4:first-child + form{
	width:100%;
	float:left;
}

/*#Rating .rating-form.mrp-shortcode h4:first-child + form{
	width:50%;
	float:left;
}*/

#Rating .rating-form.mrp-shortcode h4:first-child + form .mrp.review-field {
	width:50%;
	float:left;
	border:none;
	padding:0px;
	margin-bottom:10px !important;
	clear:both;
}

#Rating .rating-form.mrp-shortcode h4:first-child + form .mrp.review-field .input-label{
	width:100%;
	float:left;
	border:none;
	padding:0px;
	margin-bottom:5px;
	font-weight:400;
}

#Rating .rating-form.mrp-shortcode h4:first-child + form .mrp.review-field .input-label + br{
	display:none;
}

#Rating .rating-form.mrp-shortcode h4:first-child + form .mrp.review-field .input-label + br + input{
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	height: 40px;
	padding: 0px 10px;
	margin-bottom: 5px;
}

.rating-form.mrp-shortcode{
	float:left;
	width:100%;
	margin-top:0px;
}

#Rating .rating-form.mrp-shortcode h4:first-child + form .btn.btn-default.save-rating {
	color: #ffffff;
	font-size: 15px;
	background: #1b2a34;
	padding: 10px 15px;
	float: left;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #1b2a34;
	margin-top: 10px;
	clear:both;
}

#Rating .rating-form.mrp-shortcode h4:first-child + form .btn.btn-default.save-rating:hover {
	color: #1b2a34 !important;
	background: #fff;
	text-decoration: none;
}

.rating-form.mrp-shortcode form #show_frm{
	padding:0px;
	margin:0px;
}

.rating-form.mrp-shortcode form #show_frm .not1 .note .fa.fa-star{
	color:#ffba00;
}

.rating-form.mrp-shortcode form #show_frm .not1 .note, .rating-form.mrp-shortcode form #show_frm .not1 .note2{
	padding-bottom:5px;
}

.rating-form.mrp-shortcode form #show_frm .not1 .note2 .fa.fa-star{
	color:#ffba00;
}

#Rating .lrm-hide-if-logged-in + .rate_review_loregi_mnt {
	margin-top:5px;
}

p.mrp label{
	font-weight:400;
}

.rating-form .rating-item .mrp-star-rating-select{
	margin-left:5px;
}

.rating-form .mrp-star-empty {
    color:#BFC4CC !important;
}

.rating-form p.mrp {
    padding: 7px 0 !important;
}

input.mrp-not-applicable{
	margin-right:5px;
}

.div_for_mob{
	float:left;
	width:100%;
}

#columnchart_material{
	clear:both;
	border: 1px solid #ccc !important;	
	padding: 5px;
}

#block .sectt {
	float: left;
	height: auto;
	min-height: 120px;
	background: #FFF;
	border: 1px solid #ccc;
	moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background: #FFF;
	padding: 20px;
	margin: 0 0 20px 0;
	position:relative;
	width:100%;
}

#block .sectt .photo {
	width:130px;
	text-align:center;
	margin-right:10px;
}

#block .sectt .photo + p{
	position: absolute;
	left: 160px;
	top: 0;
	padding: 20px 20px 0px 20px;
	text-align: left;
	color: #373737;
	letter-spacing: 0.3px;
	font-size: 15px;
	line-height: 25px;
}

#block .sectt .photo + p + .sign{
	position: absolute;
	text-align: right;
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
	right:0;
	padding:0px 20px 20px 20px;
}

.rzslider .rz-pointer, .rzslider .rz-selection{
	background-color: #4f6776 !important;
}

.out_of_dt_nd_tit{
	float:left;
	width:100%;
}

.charity_inner_pra.charity_inner_pra_status{
	font-size: 18px;
    font-weight: 600;
    color: #4f6776;
	text-align:right;
}

.charity_inner_pra.charity_inner_pra_status span{
	color:#38a74d;
	font-weight: 400;
}

.dropdown .btn.btn-primary.dropdown-toggle{
	width:100%;
	text-align:left;
	background: #f1f1f1;	
	color: #000;	
	border: 1px solid #aaa;	
	border-radius: 0;	
	padding: 11px 5px;
}

.dropdown .btn.btn-primary.dropdown-toggle + ul.dropdown-menu{
	width:100%;
}

a.sele_by_char img.chart_sera_cart{
	display:none;
}

.list_inner_desc_tit a.ng-binding{
	color: #337ab7;
}

.not1 .note .fa.fa-star{
	color:#ffba00 !important;
}

.not1 .note2 .fa.fa-star{
	color:#ffba00 !important;
}

.info_ico_hover{
	cursor: pointer;
	width:12px;
}

.list_inner_desc_tit.list_inner_desc_tit_wt_info{
	position:relative;
}

.info_span_on_hover{
	font-size: 14px !important;
    padding: 8px;
    display: none;
	z-index:999;
    position: absolute;
    top: 26px;
    max-width: 250px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    left: 0;
    color: #1b2a34 !important;
}

.info_ico_hover:hover + .info_span_on_hover{
	display:block;
}


/*Footer CSS Start Here*/
.section6.section6_footer{
	background:#4f6776;
	padding:15px 0px;
}

.footer_sdd_eml{
	font-size:15px;
	color:#ffffff;
	margin-bottom:15px;
}

.footer_sdd_eml + .footer_sdd_eml{
	margin-bottom:0px;
}

.footer_sdd_eml a{
	font-size:15px;
	color:#ffffff;
}

.footer_sdd_eml img{
	margin-right:10px;
	vertical-align:middle;
}

.footer_right_pra p{
	text-align:right;
	margin-bottom:10px;
}

.footer_right_pra p:last-child{
	margin-bottom:0px;
}

.tndc_pra a{
	font-size: 15px;
	color: #ffffff;
	padding:0px 10px;
	border-right:1px solid #fff;
}

.tndc_pra a:last-child{
	padding:0px 0px 0px 10px;
	border-right:none;
}

.sdd_eml_812{
	padding-top:30px;
}

.social_pra_mid a img{
	width:30px;
	margin-left:5px;
}
/*Footer CSS Ends Here*/


.term-143 #archive-product .shop-products{ display:none;}


 

/*Media CSS Start Here*/
@media only screen and (max-width: 1024px) {
	.sele_by_char{
		font-size:16px;
		padding:20px 10px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 981px) {	
	.search_frm_mnt.ng-pristine.ng-valid .row .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-sm-12 .frm_inner_search + .frm_inner_search .row .col-lg-3.col-md-3.col-sm-3.col-xs-12 {
		width:50%;
	}
}


@media only screen and (max-width: 991px) {
	.frm_inner_search .frm_inner_search_child{
		width:49%;
	}
	
	.search_frm_mnt .frm_inner_search + .frm_inner_search .col-lg-3.col-md-3.col-sm-3.col-xs-12{
		width:50%;
	}
	
	.search_frm_mnt .frm_inner_search + .frm_inner_search .col-lg-3.col-md-3.col-sm-3.col-xs-12 .frm_inner_search_child.frm_inner_search_child_sanger {
		width:100%;
	}
	
	#block .sectt .photo + p + .sign {
		position: relative;
		padding: 0px 20px 00px 20px;
	}
	
	.search_header_list .list_tit_mnt_lft{
		font-size:20px;
	}
	
	.search_header_list .list_tit_mnt_rght{
		font-size:15px;
		font-weight:400;
	}
}

@media only screen and (max-width: 768px) {
	.div_for_mob{
		width:100%;
		overflow:scroll;
		overflow-y: hidden;
		margin-bottom: 10px;
	}
	
	.div_for_mob table:first-child{
		width: 100%;
		min-width: 640px;
	}
	
	.div_for_mob table:first-child tr td, .div_for_mob table:first-child tr th{
		padding:2px 5px;
	}
}

@media only screen and (max-width: 640px) {
	.stat_mnt_cntnr .stat_inner_mnt_chi{
		width:100%;
	}
	
	.main_logo{
		text-align:center;
	}
	
	.menu-main-menu-container #menu-main-menu{
		padding-bottom:10px;
		padding-top:0px;
		margin-top:0px;
	}
	
	.footer_right_pra p{
		text-align:center;
	}
	
	.footer_right_pra{
		margin-top:10px;
	}
	
	.fcb_412{
		text-align:center;
	}
	
	.home_tit{
		text-align:left;
		font-size:25px;
		line-height:30px;
	}
	
	ul.tndc_ul{
		margin-left:19px;
	}
	
	.short_by_chart_list.ng-pristine.ng-valid{
		margin-bottom:15px;
	}
	
	.search_header_list .list_tit_mnt_lft {
		font-size: 19px;
		font-weight: 400;
	}
	
	.search_header_list .list_tit_mnt_rght {
		font-weight: 400;
	}
	
	.bdy_pra{
		font-size:15px;
	}
	
	.list_inner_desc_tit {
		font-size: 15px;
		font-weight: 400;
		padding: 0px 0px 5px 0px;
	}
	
	.charity_list_desc_lower .list_inner_desc_tit span {
		font-size: 15px;
	}
	
	.gener_anc {
		font-size: 13px;
		padding: 6px 12px;
		border-radius: 2px;
	}
	
	#Rating .rating-form.mrp-shortcode h4:first-child + form .mrp.review-field{
		width:100%;
		max-width:100%;
		margin-bottom: 0px !important;
	}
	
	#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap input{
		width:100%;
		max-width:100%;
	}
	
	#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap textarea{
		width:100%;
		max-width:100%;
	}
	
	#exTab1 .tab-pane .tot_border_exc_tp #wpcf7-f2142-o1 .wpcf7-form .col-sm-12.bakground .col-lg-12 .wpcf7-form-control-wrap.Category select{
		width:100%;
		max-width:100%;
	}
	
	.charity_single_tabbed_container .nav-pills li {
		width: 50%;
		border-bottom: 1px solid #97a6ae;
	}
	
	.charity_single_tabbed_container .nav-pills li:last-child {
		border-right: 1px solid #97a6ae;
	}
	
	.tab-content .algn_rght p.charity_inner_pra{
		text-align:left;
	}
	
	.mob_100{
		/*width:100%;*/
	}
	
	#block .sectt .photo{
		width: auto;
		margin-right: 0;
	}
	
	#block .sectt .photo {
		width: auto;
	}
	
	#block .sectt .photo + p {
		position: relative;
		left: 0;
		top: 0;
		padding: 0;
		text-align: left;
		color: #373737;
		letter-spacing: 0.3px;
		font-size: 15px;
		line-height: 25px;
	}
	
	#block .sectt .photo + p + .sign {
		position: relative;
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		bottom: 0;
		right: 0;
		padding: 0;
	}
	
	#menu-main-menu > li {
		float: left;
		border-right: none;
		width: 100%;
		border-bottom:1px solid #2a4354;	
	}
	
	#menu-main-menu > li > a{
		font-size: 15px;		
		padding: 10px 15px;
		padding-left:15px;
	}
	
	#menu-main-menu li:first-child a{
		padding-left:15px;
	}
	
	#menu-main-menu ul.sub-menu{
		position: relative;
		width: 100%;
		z-index: 999;
		background: #1b2a34;
		top: 0;
		border-top:1px solid #2a4354;
		float:left;
	}
	
	#menu-main-menu ul.sub-menu li a {
		padding: 8px 22px;
	}
	
	#menu-main-menu ul.sub-menu li:last-child{
		border-bottom:none !important;
	}
	
	.charity_inner_pra.charity_inner_pra_status{
		text-align:left;
		font-size: 15px;
		font-weight: 400;
		margin-bottom:5px;
	}
	
	.charity_inner_pra.charity_inner_pra_status span{
		font-size: 15px;
	}
	
	.fcb_412_pre_row_mnt{
		text-align:center;
	}
	
	.fcb_412_pre_row_mnt .col-xs-6.fcb_412{
		display:inline-block;
		float:none;
		width: 49.3%;
	}
	
	.search_header_list .list_tit_mnt_rght{
		text-align:left;
	}
	
	.search_list_descl + .search_list_descl{
		margin-bottom:15px;
	}
	
	.dropdown .btn.btn-primary.dropdown-toggle{
		margin-bottom:15px;
	}
}

@media only screen and (max-width: 480px) {
	.frm_inner_search .frm_inner_search_child {
		width: 100%;
		margin-bottom:15px !important;
		padding:0px !important;
	}
	
	.search_frm_mnt .frm_inner_search + .frm_inner_search .col-lg-3.col-md-3.col-sm-3.col-xs-12{
		width:100%;
	}
	
	.row.row_list_thre_butt .charity_btn_group .gener_anc_parent_412{
		/*position:absolute;*/
	}
	
	.town tr th, .town tr td{
		/*width:100%;*/
	}
	
	.charity_list_desc_lower{
		padding:10px;
	}
	
	.list_inner_desc_tit a {
		font-size: 13px;
	}
}

@media only screen and (max-width: 435px) {
	.chart_sear_hm_36{
		width:100%;
	}
	
	.gener_anc_parent_812 {
		width: 100%;
	}
	
	.gener_anc_parent_412 {
		position: relative;
		width: 100%;
	}
	
	.row.row_list_thre_butt .charity_btn_group .gener_anc_parent_812 .gener_anc {
		float: left;
		width: 100%;
		text-align: center;
	}
	
	.row.row_list_thre_butt .charity_btn_group .gener_anc_parent_412 .gener_anc {
		float: left;
		width: 100%;
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.gener_anc_parent_412 .gener_anc:nth-child(1) {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 400px) {
	#wpcf7-f2142-o1 .wpcf7-form-control-wrap.show .wpcf7-form-control.wpcf7-radio .wpcf7-list-item.first{
		width:100%;
		margin-bottom:0px !important;
	}
	
	#wpcf7-f2142-o1 .wpcf7-form-control-wrap.show .wpcf7-form-control.wpcf7-radio .wpcf7-list-item.last{
		width:100%;
		margin-bottom:0px !important;
		margin-left:0px !important;
	}
}

@media only screen and (max-width: 360px) {
	.row.row_list_thre_butt .charity_btn_group .gener_anc_parent_412{
		position:relative;
		width:100%;
	}
	
	.row.row_list_thre_butt .charity_btn_group .gener_anc_parent_812 .gener_anc{
		float:left;
		width:100%;
		text-align:center;
	}
	
	.row.row_list_thre_butt .charity_btn_group .gener_anc_parent_412 .gener_anc{
		float:left;
		width:100%;
		text-align:center;
		margin-left:0px;
		margin-right:0px;
	}
	
	.gener_anc_parent_812{
		width:100%;
	}
	
	.row.row_list_thre_butt .charity_btn_group .gener_anc_parent_412 .gener_anc:nth-child(1){
		margin-bottom:10px;
	}
	
	.charity_single_tabbed_container .nav-pills li {
		width: 100%;
		border-bottom: 1px solid #97a6ae;
		border-right:none !important;
	}
	
	.fcb_412_pre_row_mnt .col-xs-6.fcb_412{
		float:left;
		width:100%;
	}
	
	.chart_sear_hm_36{
		width:100%;
	}
	
	.chart_sear_hm_36 .sele_by_char{
		margin-bottom:15px;
		font-size: 20px;
		padding: 25px 10px;
	}
	
	.wpcf7-form-control-wrap.show .wpcf7-form-control.wpcf7-radio .wpcf7-list-item.first + .wpcf7-list-item.last{
		margin-left:0px;
	}
}

/*Media CSS Start Here*/