.section20{}
.top_banner{ position:relative;}
.top_banner_text{position: absolute;z-index: 99;top: 30px;left: 0;right: 0;}
.top_left{ padding:0; margin:0}
.top_left li{ list-style:none; display:inline-block; padding: 0 20px 0 0;}
.top_left li a{ font-size:21px; color:#FFF; text-decoration:none; line-height: 23px;}
.top_left li:last-child{border-left: 1px solid #fff;  padding-left:20px; padding-right:0;}
.top_left span{display:block;}
.top_right{ text-align:right; padding:0; margin:0}
.top_right li{ list-style:none; display:inline-block; padding: 0 20px 0 0;}
.top_right li a{ font-size:21px; color:#FFF; text-decoration:none; line-height: 23px;}
.right_down{text-align: right;padding: 70px 0px 23px 132px;}
.right_down h2{color: #ffe6c0;font-size:75px;font-family: 'Montserrat', sans-serif;font-weight:600;text-transform:uppercase;line-height:86px;}
.right_down h3{color: #ffe6c0;font-size:29px;font-family: 'Montserrat', sans-serif;font-weight:600;text-transform:uppercase;line-height:36px;}
.right_down p{color: #ffffff;font-size:24px;font-family: 'Montserrat', sans-serif;line-height:30px;}	
.enquire_btm{display: block;margin: 26px 0 0 0;}	
.enquire_btm a{border: 2px solid #ffe6c0;padding: 10px 20px;border-radius: 10px; font-size:16px; color:#ffe6c0; text-transform:uppercase; text-decoration:none; font-weight:600;}	
.section21{ width:100%; padding:72px 0; background:#ffe6c0; text-align:center;}	
.gifting_list1{}
.gifting_section1 h2{color: #676767;font-size:45px;font-family: 'Montserrat', sans-serif;font-weight:600;text-transform:uppercase;line-height:50px; margin:0 0 30px 0;}
.gifting_section1 p{color: #676767;font-size:17px;font-family: 'Montserrat', sans-serif;line-height:24px;}
.gifting_section2{ padding:0; margin:25px 0 0 0;}
.gifting_list li{list-style: none;display: inline-block;padding: 15px 15px;width: 24%;vertical-align: top;border: 1px solid #f9dfb8;min-height: 224px; font-size:18px; color:#676767;}
.section22{ width:100%; padding:0px 0; text-align:center;position:relative;}	
.trusted_brand{ position:relative;}
.trusted_brand_inn{ position:absolute; top:30px; right:0; left:0;}
.trusted_brand_right{ padding: 0 0 0 71px;}
.right_down {text-align: right;padding: 17px 0px 23px 132px;}
.gifting_list li {min-height: 245px;}
.gifting_list li h3{color: #676767;font-size: 20px;font-family: 'Montserrat', sans-serif;font-weight: 600;margin: 30px 0 5px 0;}
.brand{ width:100%; float: left;}
.brand li{ list-style:none; float:left;}
.brand li h2{color: #ffffff;font-size:45px;font-family: 'Montserrat', sans-serif;font-weight:800;text-transform:uppercase;line-height:50px; margin: 0 14px 15px 0;text-align: left;}
.brand li h2 span{ display:block;}
.trusted_brand{}
.trusted_brand_right p{color: #ffffff;font-size:17px;font-family: 'Montserrat', sans-serif;line-height:24px; text-align:left;
background:url(../img/line_4.png) no-repeat scroll bottom left; padding:0px 0 20px 0;}
	
.section23{width:100%; padding:101px 0; /*background:url(../img/bgimg23_1.jpg) no-repeat scroll top center; text-align:center;     background-size: cover;*/}
.highly_customisable{ text-align:right; padding-right:70px;padding-left: 33px;}

.highly_customisable h2{color: #676767;font-size:45px;font-family: 'Montserrat', sans-serif;font-weight:800;text-transform:uppercase;line-height:50px; margin:0 0 30px 0;	}
.highly_customisable p{color: #676767;font-size:17px;font-family: 'Montserrat', sans-serif;line-height:24px;background:url(../img/line_6.png) no-repeat scroll bottom right; padding-bottom:20px;}	

.section24{width:100%; padding:110px 0; background:url(../img/bgimg24.jpg) no-repeat scroll top center; text-align:center;    background-size: cover;min-height: 434px;}	
.on-time-delivery{ text-align:left; padding: 0px 196px 0 0;}
.on-time-delivery h2{color: #ffffff;font-size:45px;font-family: 'Montserrat', sans-serif;font-weight:800;text-transform:uppercase;line-height:50px; margin:0 0 10px 0;	}
.on-time-delivery p{color: #ffffff;font-size:17px;font-family: 'Montserrat', sans-serif;line-height:24px;background:url(../img/line_4.png) no-repeat scroll bottom left; padding-bottom:20px;}	
.section25{width:100%; padding:72px 0; background:url(../img/bgimg25.jpg) no-repeat scroll top center; text-align:center; background-size: cover;}	
.best_prices{ text-align: right;padding-right: 80px;padding-top: 30px;}
.best_prices h2{color: #676767;font-size:45px;font-family: 'Montserrat', sans-serif;font-weight:800;text-transform:uppercase;line-height:50px; margin:0 0 10px 0;}
.best_prices h2 span{ display:block;}
.best_prices p{color: #676767;font-size:17px;font-family: 'Montserrat', sans-serif;line-height:24px; padding: 0 0 20px 114px; background:url(../img/line_6.png) no-repeat scroll bottom right;}	

.section26{width:100%; padding:40px 0; background:#cbb28e; text-align:center;  }
.life_easy h2{color: #ffffff;font-size:26px;font-weight:700;font-family: 'Montserrat', sans-serif;line-height:34px; padding:0px 60px; margin:0;}
.section27{width:100%; padding:80px 0 30px 0; background:#676767; text-align:center;  }	
.brands-list{}	
.brands-list h2{color: #f2d7af;font-size:45px;font-family: 'Montserrat', sans-serif;font-weight:600;text-transform:uppercase;line-height:50px; margin:0 0 35px 0; background:url(../img/line5.jpg) no-repeat scroll bottom center; padding-bottom:20px;}

.section28{width:100%; padding:30px 0; background:#f2d7af; text-align:center;}
.footer_socil_link{ padding:0; margin:0;}	
.footer_socil_link li{ list-style:none; display:inline-block; }
.footer_socil_link li a{padding: 10px 14px;border: 2px solid #676767;border-radius: 50px;width: 40px;height: 40px;font-size: 20px;
color: #676767;font-weight: 700; display: block;padding: 4px 4px;}
.copyright_text{color: #676767;font-size:17px;font-family: 'Montserrat', sans-serif;line-height:24px;margin:10px 0 0 0;}	
.footer_socil_link li a:hover{ background: #d3ba91; color:#FFF;}

.top_banner{ display:block;}
.top_banner_mobile{ display:none;}

@media only screen and (max-width: 1024px) {

.top_left li:last-child {padding-left: 13px;padding-right: 0;}
.nbs-flexisel-item {margin:0 8.5px;}








}

@media only screen and (max-width: 900px) {
.top_left li {padding: 0 2px 0 0;width: 168px;vertical-align: top;}
.top_left li a {font-size: 19px;line-height: 20px;}
.top_right li a {font-size: 18px;line-height: 20px;}
.right_down {text-align: right;padding: 17px 0px 23px 41px;}
.right_down h2 {font-size: 35px;line-height: 40px;margin:30px 0 0 0;}
.right_down h3 {font-size: 18px;line-height: 24px;}
.right_down p {font-size: 18px;line-height: 22px;}
.gifting_section1 h2 {font-size: 24px;line-height: 30px;margin: 0 0 30px 0;}
.section21 {padding: 30px 0;}
.gifting_section1 p {font-size: 15px;line-height: 24px;}
.gifting_list li h3 {font-size: 15px;margin: 30px 0 5px 0;}
.brand li h2 {font-size: 24px;line-height: 30px;margin: 0 14px 15px 0;text-align: left;}
.trusted_brand_right p {font-size: 15px;line-height: 20px;padding: 0px 0 20px 0;}
.highly_customisable h2 {font-size: 25px;line-height: 30px;margin: 0 0 30px 0;}
.highly_customisable p {font-size: 14px;line-height: 20px;padding-bottom: 17px;}
.section23 {width: 100%;padding: 27px 0;}
.section24 {width: 100%;padding: 27px 0;min-height: auto;}
.on-time-delivery h2 {font-size: 24px;line-height: 30px;margin: 0 0 10px 0;}
.on-time-delivery {text-align: left;padding: 0px 47px 0 0;}
.section25 {width: 100%;padding: 30px 0;}
.best_prices p {font-size: 17px;line-height: 24px;padding: 0 0 20px 18px;}
.best_prices h2 {font-size: 25px;line-height: 30px;margin: 0 0 10px 0;}
.best_prices {padding-top: 0px;}
.life_easy h2 {font-size: 20px;line-height: 26px;padding: 0px 60px;margin: 0;}
.section26 {padding: 15px 0;}
.section27 {width: 100%;padding: 30px 0 30px 0;}
.brands-list h2 {font-size: 24px;line-height: 25px;margin: 0 0 35px 0;padding-bottom: 20px;}
.section28 {padding: 15px 0;}
}

@media only screen and (max-width: 640px) {

.top_banner_text {position: unset;background: #616161;}	
.top_left li {padding: 12px 0 12px 0;text-align: center;width: 100%;}	
.top_left li:last-child {border-bottom: 1px solid #fff;padding-left: 0;padding-right: 0;border-left: none;}	
.top_right li {list-style: none;display: inline-block;padding: 14px 0px 31px 0;text-align: center;width: 100%;}
.right_down {text-align: center;padding: 10px 0px 26px 0px;}
.right_down h3 {font-size: 20px;line-height: 27px;margin: 5px 0;}
.right_down h2 {font-size: 40px;line-height: 43px;margin: 0;}
.gifting_section1 h2 {font-size: 24px;line-height: 30px;margin: 0 0 30px 0;}
.section21 {padding: 30px 0;}
.gifting_list li {padding: 15px 15px;width: 100%;margin-bottom: 10px;}
.highly_customisable {text-align: center;padding-right: 0;padding-left: 0;}
.highly_customisable h2 {font-size: 24px;line-height: 26px;margin: 0 0 15px 0;}
.section23 {width: 100%;padding: 30px 0;text-align: center;background-size: cover;}
.on-time-delivery {text-align: center;padding: 0px 0px 0 0;}
.section24 {width: 100%;padding: 30px 0;min-height: auto;}
.best_prices {text-align: center;padding-right: 0;padding-top: 10px;}
.best_prices p {font-size: 17px;line-height: 24px;padding: 0 0 20px 0px;}
.life_easy h2 {font-size: 20px;line-height: 26px;padding: 0px 18px;margin: 0;}	
.brands-list h2 {font-size: 24px;line-height: 28px;margin: 0 0 35px 0;padding-bottom: 20px;}

.top_banner{ display:none;}
.top_banner_mobile{ display:block;}
.top_left span {
    display: inherit;
}
.trusted_brand_inn {
    position: unset;
    background: #686866;
	padding: 20px 0;
}
	
}	

@media only screen and (max-width: 480px) {
.top_left li a {
    font-size: 17px;
}
.top_right li a {
    font-size: 17px;
}
.right_down h2 {
    font-size: 24px;
    line-height: 32px;
}
.top_right li {
    padding: 14px 0px 10px 0;
}

.right_down h3 {
    font-size: 17px;
    line-height: 25px;
}
.right_down p {
    font-size: 14px;
    line-height: 17px;
}
.gifting_section1 h2 {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.gifting_section1 p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.gifting_list li {
    min-height: auto;
}
.gifting_list li h3 {
    font-size: 14px;
    margin: 30px 0 5px 0;
}
.life_easy h2 {
    font-size: 17px;
    line-height: 21px;
    padding: 0px 18px;
    margin: 0;
}
.brands-list h2 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 25px 0;
    padding-bottom: 20px;
}
.copyright_text {
    font-size: 15px;
}
.trusted_brand_right {
    padding: 0 0 0 0px;
}

.highly_customisable p {
    text-align: left;
}


}
