/*
Theme Name: VG Betashop
Theme URI: http://wordpress.vinagecko.net/t/betashop/
Author: VinaGecko
Author URI: http://vinagecko.com/
Description: VG BetaShop - Kitchen Appliances WooCommerce Theme. The primary goal of any kitchen appliances store is boosting sales, gaining recognition and widening quantity of clients. VG BetaShop - Kitchen Appliances WooCommerce Theme is a great choice for all those things. It has 6 Unique Layouts and 4 Preset Color with an unbranded admin Theme Options panel that gives you full control of the customization of your website. It's integrated with drag and drop visual composer to help you build unlimited page layout for your website. This theme is also compatible with WooCommerce plugin, which has the ability to convert your site to a profitable virtual store. Aside from just looking beautifully polished and clean, VG Amadea comes packed with features and options. The most powerful and trendy features such as Product Quick View, Product Compare, VG WooCarousel (save $17), Product Tabs Slider, VG PostCarousel (save $15), Ajax Wishlist, Visual Composer (save $34), Ajax Shopping Cart, Revolution Slider (save $19) and Mega Main Menu (Save $15) with many columns under each product categories takes customers to everywhere in your online shops with much more features. We have a dedicated support center for all of your support needs. It includes our Documentation, Community Forum and an advanced Ticket System for any questions you have. We usually get back to you within 14-16 hours. (except holiday seasons which might take longer). Use our theme you will never working alone!
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: pink
Text Domain: vg-betashop

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*------------------------------------------------------------------
[Table of contents]

This theme compiles .less files into .css files. Please open "less" folder to see all LESS file.

1. Theme variables
	1.1 Fonts
	1.2 Colors
	1.3 Defined colors
2. Global CSS
	2.1 Import Fonts
	2.2 HTML Elements
	2.3 Top bar
	2.4 Header default
	2.5 Menu
	2.6 Mobile menu
	2.7 Page Builder Style
		2.7.1 Slideshow
		2.7.2 Banner Style
		2.7.3 Tooltip Style
		2.7.4 Tab Product
		2.7.5 Title Style
		2.7.6 Latest News
		2.7.7 Our Brands
	2.8 WooCommerce onsale label
	2.9 Bottom
	2.10 Footer
	2.11 Added to cart popup
	2.12 Quick view
	2.13 Content
		2.10.1 Page headers
		2.10.2 List products
		2.10.3 Shop toolbar
		2.10.4 Product page
		2.10.5 Contact page
		2.10.6 Cart page
		2.10.7 Full width template
		2.10.8 Default page template
		2.10.9 Page content
		2.10.10 cart page & checkout page
		2.10.11 Checkout page
		2.10.12 Blog page
		2.10.13 Error 404 page
		2.10.14 Sidebars
		2.10.15 Carousel buttons
		2.10.16 Portfolio page
		2.10.17 Single project
	2.14 Page Other
		2.14.1 About Us
		2.14.2 Page 404
		2.14.3 Page Services
		2.14.4 Home Page 2
		2.14.5 Home Page 3
		2.14.6 Home Page 4
	2.15 Page Load
3. Responsive CSS
-------------------------------------------------------------------*/


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption, .bypostauthor {
	font-style: italic;
	font-size: 12px;
	color: #757575;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/*////////////////////////////////////////////// Custom CSS changes by SUMAN START ///////////////////////////////////*/

.bottom-wrapper .widget .input_text, .bottom-wrapper .widget input[type="text"], .bottom-wrapper .widget select{
	color: #fffaee !important;
	padding: 0 10px !important;
}
.bottom-wrapper #wpcf7-f6563-o1 .your-email .wpcf7-validates-as-email{
	color: #fffaee;
	padding: 0 10px;
	height: 33px !important;
}
.bottom-wrapper .wpcf7-form textarea{
	color: #fffaee;
	padding: 0 10px;
}

#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link {
        padding-right: 24px !important;
}


#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link {
    padding: 8px 14px !important;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > .link_content > .link_text {
    height: auto !important;
    font-size: 15px !important;
    color: #fff;
    font-weight: 600 !important;
    line-height: 24px !important;
}

#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link::after {
    border-width: 5px;
    right: 0px;
}

#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link::after {
    border-width: 5px;
    right: 8px !important;
}

.woocommerce div.product div.images img{
    /*width:70%!important;*/
}

.fa-check {
    margin: -28px 112px 0 0;
    float: right; color:#fff;
}
.main-container .product-view .summary.single-product-info .product_meta {
	margin: 0 0 -18px 0;}
.cust_cta{
margin:0px 0 30px 0;
    float: right;

}

#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li .mega_dropdown > li > .item_link > .link_content > .link_text {
    color: #818181 !important;
    line-height: 30px;
    font-size: 13px;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child a span span {
    color: #fffaee !important;
}


.mega_main_menu li.menu-item:hover{background: !important;}


.main-container .product-view .product .woocommerce-tabs {
	margin: 110px 0 0 0;}
.bottom-wrapper p{line-height:25px;}
.subj, .texta{width:96%!important;}
.bottom-wrapper .widget .input_text, .bottom-wrapper .widget input[type=text], .bottom-wrapper .widget select {
background: #444!important;
    border: 1px solid #555;
    padding: 3px 0;
    height: 33px;
    width: 100%; 
}
.wpcf7-form textarea {
    height: 28px;
	background: #444!important;
    border: 1px solid #555;
    padding: 3px 0;
    min-height: 28px;
    width: 100%; 
}
.top-wrapper.active .search-toggle{right: 19px !important;
    top: 1px;}
.wpb_wrapper .connn{padding:0 0 0 40px;}
.main-container .page-content .entry-content #wpcf7-f6541-p6542-o1 p {
    margin: 0 0 7px;
}




#home .wpcf7-form-control .wpcf7-submit
{margin:0 0 0 11px;}
#wpcf7-f6541-p6542-o1 .wpcf7-file{border:none!important;}
#wpcf7-f6541-p6542-o1 .wpcf7-submit{ background:#ed2443; margin:0 0 0 10px; padding:0 }
.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
    background: #fff;
	border: 1px solid #ccc;min-height: 38px;font-family: 'Montserrat', sans-serif !important;}
    .ask_sec .form-group .form-control {
    color: #9b9b9b !important;
}
.main-container .page-content label textarea {
    color: #969ca7 !important;
    border: 1px solid #d4d1d1 !important;
    font-size: 14px !important;
    padding: 6px !important;
    border-radius: 3px !important;
    font-family: 'Montserrat', sans-serif !important;
}
#wpcf7-f16488-p16485-o1 .wpcf7-form-control.wpcf7-submit.form-control {
    background: #0065b2 !important;
    padding: 13px !important;
    height: auto !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    border: 1px solid #0065b2 !important;
}
#wpcf7-f6541-p6542-o1 input {
    background: #fff;
	 border: 1px solid #ccc; height:32px;}
.wpcf7-form textarea{height:60px;}
.ngg-galleryoverview{margin:0 0 0 0!important;}
.febg{ width:100%; min-height:326px;}
.serim a{ background:#ffe51e; padding:10px 22px; font-size:15px; color:#000; text-decoration:none; float:right;}
.fetext h2{ font-size:28px; color:#ffe51e; float:left; width:100%; text-align:right;}
.ac1{ font-size:32px; color:#fff; float:right; font-weight: bold;}
.ac2{ font-size:32px; color:#48b7fa; float:right;font-weight: bold; }
.dd{ float:right; margin:0 7px; font-size:28px; color:#FFF;}
.fetext h3{ font-size:24px; color:#FFF; text-align:right;    margin: 22px 0 12px 0;
    float: right;
    clear: both;
    width: 100%;}
.fetext p{ font-size:18px; color:#FFF; text-align:right;}
.fetext{ margin:6.8% 5% 0 0; float:right;}
.sp-cart.home1{display:none!important;}
#woocommerce-product-search-field-0{background:none!important; border:1px solid #ccc; padding:6px 10px; color:#fff;}
@media (max-width:992){
#codenegar_ajax_search_widget form{ width:100%; float:none;}
}
button,
html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;background: #fde321; border:none; padding:7px 18px
}
#codenegar_ajax_search_widget form{float:right;}
.header{background:#ffffff !important; padding: 17px 0 11px;}

#sp-search-cart {
    margin: 8px 0 0 0;
}

.mini_cart_inner{display:none;}
.vgwc-featured span{display:none;}
.entry-title{margin-bottom:20px !important; padding-bottom:10px !important;}
.form-control{ padding: 0 15px;
    font-size: 14px;
    color: #969ca7;
    border: 2px solid #e6ebed;
    background: #f5f9fa;
    height: 46px;
    border-radius: 3px;
    box-shadow: none;
    width: 100%;
	margin-bottom:20px;}
	
.main-container .product-view .summary.single-product-info .actions .add-to-links > * {
    float: left;
    margin: 0 15px 10px 0;
    display: none;
}
.wishlist_table .product-price{display: none !important;}

.wishlist_table .product-add-to-cart{display: none !important;}
.form-control2{
padding: 0 15px !important;
    font-size: 14px !important;
    color: #969ca7 !important;
    border: 2px solid #e6ebed !important;
    background: #f5f9fa !important;
    height: 46px !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    width: 100% !important;
    margin-bottom: 20px !important;
}
.our-presence-list{
    margin: 5px;
    width: 48%;
    float: left;
    border-right: 1px dashed #a8ddfd;
    padding: 5px;
    min-height: 300px;
	}
.top-bar .widget:nth-child(2n+1) {
  clear: both; float:right;
}
.wysija-submit .wysija-submit-field{-webkit-appearance: button;
    cursor: pointer;
    background: #fde321;
    border: none;
    padding: 7px 18px;}

.vgwc-product-rating{display:none;}
.woocommerce .star-rating, .vgwc-wrapper .star-rating{display:none!important;}
.woocommerce .product .compare-button{display:none!important;}


.main-container .page-content {
    padding: 30px 0 30px;
    width: 100%;
    overflow: hidden;
}
.address{ padding:15px; margin-bottom:10px; border:1px solid #8ad0fa; float:left;width: 31.3%;min-height: 255px;
background:#eff6fa;margin:0 10px 15px 0; vertical-align:top;}
.address li{list-style:none;}

.address2{ padding:15px !important; margin:0 10px 15px 0 !important; border:1px solid #8ad0fa !important; float:left !important;width: 32% !important;min-height:280px !important;
background: #eff6fa !important;}
.address2 li{list-style:none;}

.address3{ padding:15px !important; margin:0 10px 15px 0 !important; border:1px solid #8ad0fa !important;float:left !important; width: 48.6% !important;min-height:300px !important;
background: #eff6fa !important;}
.address3 li{list-style:none;}
.support_det{
    background: #def2fe;
    padding: 10px;
    margin: 0 0 20px 0;
    border: 1px solid #3fb4fb;
}
.address:last-child{ margin-right:0;}
.address2:last-child{ margin-right:0;}
.address3:last-child{ margin-right:0;}

.actions{display:none}
.add-to-links{display:none !important}

.wpcf7-submit{
   clear: both;
    float: left;
    width: 26%;
    background: #0065b2;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #ed2443;margin:0 0 0 11px;
    color: #fff;
	}

button {
	    margin: 0;
    color: #fff;
    padding: 6px 10px;
    font-weight: 600;
	background: #ec1839;
}

button, input, optgroup, select, textarea {
	    margin: 0;
    color: #fff;
    padding: 6px 4px;
    font-weight: 600;
}
.top-bar.home1 {
/*    background: -webkit-gradient(linear,left top,right top,120deg,#0065b2 50%,#ec1839 50%);
    background: -webkit-linear-gradient(120deg,#0065b2 50%,#ec1839 50%);
    background: linear-gradient(120deg,#0065b2 50%,#ec1839 50%);*/
	/*background:#0065b2 !important;*/
    background-image: linear-gradient(to bottom, #0065b2, #1d72b9, #307fc0, #428bc7, #5398cd) !important;
	
}
div#sp-logo {
    width: 100%;
}
.bottom-wrapper .widget .input_text, .bottom-wrapper .widget input[type="text"], .bottom-wrapper .widget select {
    background: #fff;
    color: #000;
}
.top-bar.home1 .sp-contact-info li {
    color: #fff !important;
}
.top-bar.home1 .sp-contact-info li i {
    color: #fff !important;
    border-color: #fff !important;
}
#woocommerce-product-search-field-0 {
    color: #000;
}

.list-row{
    width: 30%;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    margin: 20px 18px;
    padding: 20px;
	  min-height: 570px;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.current-menu-item > .item_link, #header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.current-menu-parent > .item_link, #header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.current-menu-ancestor > .item_link, #header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li:hover > .item_link, #header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li:focus > .item_link {
  /*  background: #0065b2 !important;
border-radius: 7px;*/
background: none !important;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child {
    background: none !important;
}



.catlist-group .cattitle {
    /*background: #0065b2;*/
	background: #ffe6c0 !important;
	    border-radius: 10px 10px 0 0;
	    color: #4d4d4d !important;
		
}
.module-product.style1 .vgwc-item .ma-box-content {
    border: 6px solid #0065b2;
}
.vgwc-item .ma-box-content:hover {
    border-color: #ed2443 !important;
}
.to-top {
    background-color: #ed2443;
}
.vgpc-wrapper .timmer {
    background: #ed2443;
}
.top-wrapper.active .search-toggle {
    background: #ed2443 !important;
}
.vg-front-page-title h3:before {border-left: 3px solid #0065b2;
border-right: 3px solid #0065b2;
}
.serim a {
    background: #ed2443;
	 color: #fff;
}
.vg-front-page-title:before {
    border-bottom: 2px solid #0065b2;
}

.tparrows:hover {
    background: #0065b2 !important;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li > .item_link:hover > .link_content > .link_text, #header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li > .item_link:focus > .link_content > .link_text {
    color: #0065b2;
    background: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    color: #000;
    padding: 6px 4px;
    font-weight: 600;
}
.sp-main-menu-wrapper {
    background: #ffffff !important;
    text-align: center;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > .link_content > .link_text {
    color: #000 !important;
}

.mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link:after {
    color: #000 !important;
}
#header-menu li#menu-item-8779 a .link_content .link_text {
    color: #fff !important;
}
#header-menu li#menu-item-7151 a .link_content .link_text {
    color: #fff !important;
}
.vgwc-item .ma-box-content {
    border-radius: 8px;
}
#header-menu li.current_page_item a {
    color: #fff !important;
}
#header-menu li.current_page_item a .link_content {
    color: #fff !important;
}
#header-menu li.current_page_item a .link_content .link_text {
    color: #818181 !important;
}
.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child:hover a {
    background: #fff !important;
    color: #000 !important;
}
.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child a span span {
    color: #818181 !important;
}
#user_pincode{ max-width:none !important; width:75% !important;}
.mega_main_menu.primary > .menu_holder > .menu_inner > ul > li:hover > .item_link, 
.mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link:hover, 
.mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link:focus,
 .mega_main_menu.primary > .menu_holder > .menu_inner > ul > li:hover > .item_link *,
  .mega_main_menu.primary > .menu_holder > .menu_inner > ul > li.current-menu-ancestor > .item_link, .mega_main_menu.primary > .menu_holder > .menu_inner > ul > li.current-menu-ancestor > .item_link *, .mega_main_menu.primary > .menu_holder > .menu_inner > ul > li.current-page-ancestor > .item_link *, .mega_main_menu.primary > .menu_holder > .menu_inner > ul > li.current-post-ancestor > .item_link *, .mega_main_menu.primary > .menu_holder > .menu_inner > ul > li.current-menu-item > .item_link * {
    color: #fff !important;
}
.vgwc-item .ma-box-content:hover {
    border-radius: 8px;
}
#woocommerce-product-search-field-0 {
    background: #fff !important;
}
.social-icons li a:hover {
    background-color: #0065b2;
}
.vg-bottom-menu.widget .vg-title:after {
    border-top: 2px solid #ed2443;
}
.vinageckotip {
    background: #0065b2;
}


.top-bar{
	    background: -webkit-gradient(linear,left top,right top,120deg,#0065b2 50%,#ec1839 50%);
    background: -webkit-linear-gradient(120deg,#0065b2 50%,#ec1839 50%);
    background: linear-gradient(120deg,#0065b2 50%,#ec1839 50%);
}

.list-row h3{ font-size:18px;font-family: "Raleway", Helvetica, Arial, sans-serif; color:#333;    line-height: 24px;
    margin-bottom: 20px;}

figure {
    margin: 0;
    /*height: 290px;*/
    height: auto;
}


.blog-box{margin-bottom:30px;    border: 1px solid #ccc; padding:30px;}
.blog-box a{}
.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child{background:#ec1839; color:#fff !important;}

.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .vgwc-add-to-cart a {
    padding: 0 15px 0 15px;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .vgwc-add-to-cart a:before {
display:none;
}
.in-stock{display:none;}
.bottom-wrapper {

    background: #4d4d4d !important;
    padding: 35px 0px ;
    font-size: 13px;
    line-height: 18px;
    color: #ffe6c0 !important;

}

.footer-wrapper {

    border-top: 1px solid #ffe6c0 !important;
  background: #ffe6c0 !important;
padding: 50px 0 !important;

}





@media (max-width: 640px) {
.list-row {
    width: 100%;
    float: none;
    border: 1px solid #ccc;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    min-height: 570px;
}
}
.your-email .wpcf7-validates-as-email{ 
   background: #fff!important;
    border: 1px solid #ccc;
    padding: 0 15px;
    min-height: 37px;    
    width: 100%;}

#wpcf7-f6563-o1 .your-email .wpcf7-validates-as-email {
    background: #444!important;
    border: 1px solid #555;
    padding: 0 15px;
    min-height: 28px;
    width: 100%;
}

#wpcf7-f6563-o1 .wpcf7-submit{ margin:10px 0 0 0;}


.modal {
    z-index: 99;
    background: #0009;
}
.modal-backdrop {
    z-index: -9;
    background: none !important;
}
.modal-dialog {
    margin: 90px auto;
}
.btn-info {
background-color: #0065b2 !important;
border-color: #0065b2 !important;
}
.btn-info:hover {
background-color: #0065b2 !important;
border-color: #0065b2 !important;
}
.form-horizontal1 label{     margin: 0 !important;color: #fff;}
.form-horizontal1 .form-control{margin:0;}

.form-horizontal1 .form-group{    margin-bottom: 12px;}

.btn_callback{
clear: both;
    float: left;
    width: 28%;
    background: #ec1839;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #900b20;
    margin:0;
    color: #fff;
	padding: 10px 4px;
    font-weight: 600;
	    border-radius: 0;
}
.your-product select{width:100%;}

.form_section_request_cb{
    background: #0065b2;
    padding: 20px 30px 70px;
    border-radius:0px;
}
.form-horizontal1 .form-group select{height: 40px;}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child {
    background: #0065b2 !important;
}



li#menu-item-8779 {
    background: #0065b2 !important;
}
li#menu-item-8779 a {
    color: #fff !important;
}




.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child a span span{
    color: #fff !important;
}

div[id^="wpcf7-f6563-"] label{
    width: 47%;
    float: left;
    margin: 0 2% 0 0;
	font-weight:300;
	color:#ccc;
}
div[id^="wpcf7-f6563-"]
.your-email .wpcf7-validates-as-email {
    background: #444 !important;
    border: 1px solid #555;
    padding: 3px 0;
    min-height: 28px;
    width: 100%;
}
.wpcf7-submit{ margin:0;}

.your-product{}

.your-product .wpcf7-select{
    display: inline-block;
    font-weight: normal;
    margin: 0 10px;
	width:100%;
}
.contact-1-form{margin:20px 0 0 0;}
.contact-1-form .form-group{ 
    margin-bottom: 15px;
    overflow: hidden;

}
.contact-1-form .form-control{ width:100%;
    padding: 0 15px;
    font-size: 14px;
    color: #969ca7;
    border: 1px solid #cccccc;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: none;
	  height: 40px !important;
}

.contact-1-form .form-group label{ margin:0;}
.c1f label{width:100%;}
.c1f label select{width:100%;     margin: 0 !important; box-sizing: border-box; height: 40px !important; border: 1px solid #cccccc !important;}

.form-control22{
	width:100%;
    padding: 0 15px;
    font-size: 14px;
    color: #969ca7 !important;
    border: 1px solid #cccccc !important;
    background: #ffffff !important;
    border-radius: 3px !important;
    box-shadow: none;
	height:85px !important;}

.main-container.default-page .page-content .entry-content ul { margin: 0;
padding: 0;
}

.blg_pst .vc_gitem-post-data-source-post_title div{
    font-size:18px !important;
}

/*.tax-product_cat .shop-products.grid-view.row{
	display:none;
}*/

#home_banner_election {
	display:none;
}

.wpb_revslider_element .tp-rightarrow{
	display:none;
}
.wpb_revslider_element .tp-leftarrow{
display:none;
}

#header-menu .mega_main_menu_ul li.default_dropdown:hover ul.mega_dropdown{
/*display: block !important;*/
z-index: 9999 !important;
}
#container{
    z-index: 9 !important;
}

#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.current_page_item > .item_link > .link_content > .link_text{
color: #fff !important;
}

/*////////////////////////////////////////////// Custom CSS changes by SUMAN END ///////////////////////////////////*/


body.archive.tax-product_cat .page-content.section33{
    padding-top: 0px;
    background: #fff;
}

body.archive.tax-product_cat section.key_feature {
    display: table;
    width: 100%;
    background: #fff;
}

body.archive.tax-product_cat .main-container .category-image-desc{
    margin: 0px;
}
body.archive.tax-product_cat span.wpcf7-not-valid-tip {
    color: #d8d2d2;
}
body.archive.tax-product_cat .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    color: #fff;
}
.footer_section1 {
    background: #333;
}
.products_list li a {
    font-size: 14px;
    font-weight: normal;
    color: #ffe6c0;
    margin: 0;
    text-decoration: none;
    display: block;
}
body.archive.tax-product_cat div#archive-product section.key_feature{
    padding-bottom: 0px;
}
.row.icon_fst_sec .gimg_box {
    background: transparent;
    width: 200px;
    margin: 0 auto;
	padding: 30px;
    transition: transform .2s; /* Animation */
    height: 200px;
}

.row.icon_fst_sec .gimg_box:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.feature_box figure {
    width: 180px;
    margin: 0 auto;
	padding: 30px;
    transition: transform .2s; /* Animation */
    height: 180px;
}

.feature_box figure:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




.row.icon_fst_sec {
    margin-bottom: 50px;
}
.about_text_box.about_text_box_b {
    background: #0065b2;
    padding: 50px 56px 66px;
    border-radius: 5px;
}
.about_text_box.about_text_box_b .about_enquire_now {
    margin-top: 33px;
}
.banner_text a {
    color: #fff !important;
}
.g_enquire_nowmo.btn_2_desn a {
    width: auto;
    margin: 0 12px 0 0;
    padding: 8px 12px;
}
.banner6_text.padd_other_ad {
    padding: 37px 0;
}

.g_enquire_nowmo.btn_2_desn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.g_enquire_now7.sm_ap_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.g_enquire_now7.sm_ap_btn a {
    width: auto;
    padding: 5px 10px;
    margin: 3px 5px;
}
.banner7_text.bnr_7_txt {
    padding: 30px 0;
}
.srvs_call_and_whats_app a {
    margin-right: 15px;
    display: inline-block;
    padding: 8px 21px;
    background: #0065b2 !important;
    border-radius: 5px;
    color: #fff !important;
}
.srvs_call_and_whats_app {
    margin-top: 30px;
    display: flex;
}
.srvs_call_and_whats_app a span.whatsapp {
    background: transparent;
    color: #09c509;
    margin-right: 5px;
}
.srvs_call_and_whats_app a span.call {
    background: transparent;
    margin-right: 5px;
    color: #ffffff;
}
.support_and_services.rd_blog .new_features_btn a {
    max-width: 167px;
    width: 100%;
}
body.single-product.postid-15134 form.cart .quantity.buttons_added{
    display: none;
}

.label-tag {
    margin-top: 23px !important;
    color: #000;
    font-size: 13px;
}

table.thwepo-extra-options .leftside .label-tag {
    margin-top: 23px !important;
    color: #000;
    font-size: 13px;
}

.product-categories .cat-item-306{
    display: none;
}

body.single-product.postid-15134 .product_meta{
    display: none;
}
body.single-product.postid-15134 .single-product-sharing{
    display: none;
}

/*////////////////////////////////////////////// Custom CSS changes by SUMAN END ///////////////////////////////////*/
.single.single-product.postid-15134 .woocommerce-tabs, .single.single-product.postid-15134 .widget.related_products_widget{
    display: none !important;
}

.main-container .product-view .summary.single-product-info .product_meta {
  margin:0px !important;
}
.single.single-product.postid-15134 .product-view .summary.single-product-info .cart label {
    display: block;
    margin: 0;
}

.single.single-product.postid-15134 .product-view .summary.single-product-info .cart input#alg_open_price_15134 {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #dadada;
}
.single.single-product.postid-15134 .quantity.buttons_added {
    float: unset !important;
    display: block;
    margin-bottom: 15px !important;
}

.single.single-product.postid-15134 .quantity.buttons_added button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.single.single-product.postid-15134 button.single_add_to_cart_button.button.alt {
    display: block;
    float: unset !important;
    font-size: 0px;
    width: 129px;
    position: relative;
}
.single.single-product.postid-15134 button.single_add_to_cart_button.button.alt::after {
    display: block;
    content: "Pay Now";
    font-size: 14px;
    color: white;
    position: absolute;
    top: 0;
    right: 12px;
}
.single.single-product.postid-15134 .main-container .page-content{
    padding-top: 0px;
}

.single.single-product.postid-15134 .row-breadcrumb {
    margin-bottom: 40px;
}

body.error404 .page-404 {
    color: #fff;
    float: left;
    margin-top: 0 !important;
    padding-bottom: 0px;
    text-align: center;
    width: 100%;
    position: absolute !important;
    left: 0 !important;
    bottom: 150px !important;
}

body.error404 {
    background-color: #333 !important;
}

.single.single-product.postid-15134 .row-breadcrumb{
    display: none;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo{
    padding-top: 50px;
    max-width: 80%;
    margin:0 auto;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .single-product-image p{
color: #000 !important;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .single-product-image h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: 600;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .single-product-image h3{
    color: #000 !important;
    font-size: 22px;
    font-weight: 600;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info h1{
    margin:0 !important;
    display: none;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info {
    box-shadow: 6px 11px 24px 0 rgba(23,31,37,0.12);
    padding: 40px;
    background: white;
    border: 1px solid #eaeaea;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info .short-description p {
    font-size: 16px;
    color: #676565 !important;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 1.4;
}

.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin: 0px;
    flex-wrap: wrap;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table{
    margin-bottom: 10px;
}


.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple {
    border: none;
    flex: 1;
    width: 100%;
    min-width: 100%;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple {
    border: none;
    flex: 1;
    width: 100%;
    min-width: 100%;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart 
table.thwepo-extra-options.thwepo_simple tbody tr td{
 display: flex;
 align-items: center;
 border: none;
 justify-content: space-between;
}
.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart 
table.thwepo-extra-options.thwepo_simple tbody tr td label{
  margin:0px !important;
}
.opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple tbody tr td select#category {
    width: 62%;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #dedbdb;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #a5a2a2;
    margin: 0px;
}
.opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple tbody tr td label {
    margin: 0px !important;
    font-size: 15px;
    font-weight: 500;
    color: #585858;
}
.opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple 
tbody tr td .required {
   margin-right: 15px;
}

span.otpp {
    display: flex;
    min-width: 100%;
    align-items: center;
    position: relative;
}
span.otpp span.popfwc-currency-symbol {
    position: absolute;
    right: 267px;
}
span.otpp label{
     margin: 0px !important;
    font-size: 15px;
    font-weight: 500;
    color: #585858;
    min-width: 170px;
}
span.otpp input {
    margin: 0px !important;
    width: 100% !important;
    height: 38px;
    border-radius: 3px !important;
    border: 1px solid #dedbdb !important;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #a5a2a2;
    text-align: left !important;
    padding-left: 20px;
}
.single.single-product.postid-15134 .opennn_checkkk_outtt_prooo button.single_add_to_cart_button.button.alt {
    margin-left: auto;
    margin-top: 21px;
}

.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple tbody tr td.value.leftside {
    display: inline-table !important;
        width: 61%;
    margin: 0 !important;
    padding-right: 0;
}

.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple tbody tr td.label.leftside {
    display: inline-table !important;
    width: 170px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #585858;
}

.single.single-product.postid-15134 #product-15134 .opennn_checkkk_outtt_prooo .summary.entry-summary.single-product-info form.cart table.thwepo-extra-options.thwepo_simple tbody tr td.value.leftside textarea#note {
    width: 275px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #a5a2a2;
    border-radius: 3px !important;
    border: 1px solid #dedbdb !important;
    resize:none;
}
h1.opnn_hhh {
    font-weight: bold;
    margin: 0 0 38px;
    font-size: 24px;
    text-transform: uppercase;
    color: #343434;
    padding: 0 15px;
}
h1.opnn_hhh::after {
    content: "";
    display: block;
    width: 45px;
    height: 5px;
    background: #343434;
    margin-top: 12px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
}

.postid-15134 .home1 .menu_holder .menu_inner mega_main_menu_ul #menu-item-15235{display:none;}

.main-container.default-page .page-content .entry-content a.button {
    color: #fff !important;
}
.main-container .page-content .button:hover, .main-container .page-content .button.alt:hover, .main-container .page-content #submit:hover {
    background: #ec1738;
    color: #fff;
    text-shadow: none;
    border: 1px solid #ed2443;
}
.main-container .page-content .button:hover, .main-container .page-content .button.alt:hover, .main-container .page-content #submit:hover {
    background: #ec1738 !important;
    color: #fff;
    text-shadow: none;
    border: 1px solid #ec1738 !important;
}

.main-container .page-content .button:hover, .main-container .page-content .button.alt:hover, .main-container .page-content #submit:hover {
    background: #ec1738;
    color: #fff;
    text-shadow: none;
    border: 1px solid #ed2443;
}

/*02-12-2020*/
.vgwc-button-group {
    display: inline-block !important;
}
.vgwc-button-group div {
    margin: 0 !important;
}

.button.product_type_simple.add_to_cart_button, .button.product_type_simple {
    margin: 0 !important;
    height: 40px !important;
    display: flex !important;
    align-items: center;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: ;
}
.button.custom-button.quickview.quick-view, .button.custom-button {
    font-size: 12px !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #fff !important;
    background: #0065b2 !important;
    border:#0065b2 !important;
}
.button.custom-button {
    background: #ec1738 !important;
    border: none !important;
}
.button.custom-button:hover {
    color: #fff !important;
    border: none !important;
}
#wpcf7-f6541-p6542-o1 .form-control-career {
    max-width: 100% !important;
    width: 100% !important;
    border: 1px solid #c6bebe !important;
    min-height: 40px !important;
    padding: 10px !important;
    border-radius: 5px !important;
    font-family: 'Montserrat', sans-serif !important;
}
#wpcf7-f6541-p6542-o1 .wpcf7-submit {
    background: #0065b2 !important;
    margin: 0 0 0 0px !important;
    padding: 0px !important;
    border: none;
    border-radius: 3px !important;
    height: 48px !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    max-width: 187px !important;
    width: 100% !important;
}
.woocommerce-button.button.woocommerce-form-login__submit {
    max-width: 150px !important;
    width: 100% !important;
    height: 47px !important;
    background: #0065b2 !important;
    border: 1px solid #0065b2 !important;
    margin-top: 25px !important;
}
.woocommerce-LostPassword.lost_password a {
    display: block !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #0065b2 !important;
}

.top-bar a:hover {
    color: #fff !important;
}

.lost_reset_password .woocommerce-Button.button {
    max-width: 192px !important;
    width: 100% !important;
    height: 47px !important;
    background: #0065b2 !important;
    border: 1px solid #0065b2 !important;
    margin-top: 0px !important;
    text-align: center !important;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li .mega_dropdown > li > .item_link {
    padding: 0px !important;
}

.top-wrapper.active .header {
    padding: 15px 0 !important;
}

.shop-products.grid-view.row.owl-carousel.owl-theme .vgwc-text-block .button.product_type_simple.add_to_cart_button {
    font-size: 10px !important;
}
.shop-products.grid-view.row.owl-carousel.owl-theme .vgwc-text-block .button.custom-button.quickview.quick-view {
    padding: 0 12px;
    font-size: 10px !important;
    font-family: 'Montserrat', sans-serif !important;
    border: 1px solid #0065b2 !important;
}

.related_products_widget .owl-theme > .owl-controls > .owl-buttons, .upsells_products_widget .owl-theme > .owl-controls > .owl-buttons, .cross-carousel .owl-theme > .owl-controls > .owl-buttons {
    top: 15px !important;
}

.page-template-amazon_product_template .list-row {
    min-height: auto !important;
}
.page-template-amazon_product_template .list-row .button.product_type_simple {
    text-align: center !important;
    display: flex !important;
    height: 49px !important;
    align-items: center;
    justify-content: center;
    background: #0065b2 !important;
    border-color: #0065b2 !important;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
}
.page-template-amazon_product_template .list-row figure {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
}
/*responsive-css-start*/


@media (max-width: 1200px) {
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > .link_content > .link_text {
    font-size: 13px !important;
}
}

@media (max-width: 1024px) {

.address {
    min-height: 296px !important;
    margin: 0 10px 10px 0 !important;
}
.address3 {
    width: 46.6% !important;
    min-height: 400px !important;
}
.address2 {
    margin: 0 11px 11px 0 !important;
    width: 48% !important;
    min-height: 250px !important;
}
.ask_sec .form-group .form-control {
    height: 43px !important;
    border-radius: 5px !important;
    border: none !important;
    font-size: 13px;
    padding: 0 12px !important;
    margin: 0;
}
section.gtl_frm_call {
    padding: 40px 0;
    margin: 30px 0 0 0;
    background: #0065b2;
}
section.key_feature {
    padding: 30px 0px;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link > .link_content > .link_text {
    font-size: 13px !important;
}

/*02-12-2020*/
.layout-1 #header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link {
    padding: 8px 9px !important;
}
#header-menu #menu-item-15235 {
    margin-left: 0 !important;
}
.shop-products .first-sm {
    clear: unset !important;
}
/*02-12-2020*/
}

@media (max-width: 980px) {
.address3 {
    width: 100% !important;
}
.address2 {
    width: 47.6% !important;
    min-height: 280px !important;
    margin: 0 7px 7px 0 !important;
}
.address {
    width: 46.3% !important;
    min-height: 297px;
}

.address li {
    list-style: none;
    font-size: 12px;
}
.mobile-menu-container ul, .mobile-mega-menu ul {
    background: #404048 !important;
}


.mobile-menu-container ul li:last-child, .mobile-mega-menu ul li:last-child {
    border-bottom: 0 !important;
    background: #ff8d00 !important;
}

/*02-12-2020*/
.header {
    padding: 25px 0 !important;
}
.banner6_text {
    width: 55% !important;
}
#sp-logo .logo a {
    margin: 4px 0 !important;
}
.srvs_call_and_whats_app a {
    padding: 8px 8px !important;
}

.key_feature .row {
    display: flex !important;
    flex-wrap: wrap !important;
}
.key_feature .col-md-3 {
    width: 50% !important;
}
.your-email .wpcf7-validates-as-email {
    width: 100% !important;
}
/*02-12-2020*/
}

@media (max-width: 768px) {
.address3 {
    min-height: auto !important;
}
.address2 {
    min-height: 320px !important;
}
.banner_mobile {
    display: block !important;
}
.banner_desktop {
    display: none !important;
}
.banner4_text {
    left: 0 !important;
    width: 100% !important;
    padding: 95px 30px !important;
    top: 0 !important;
    height: 100% !important;
    background: #ffffffab !important;
}
.product_list_home li, .product_list_home2 li {
    margin: 10px 0 !important;
    font-size: 15px !important;
    line-height: 1.5 !important;
}
.g_enquire_nowc a, .g_enquire_now5 a, .g_enquire_nowmo.btn_2_desn a, .g_enquire_now7.sm_ap_btn a, .g_enquire_nowmc a, .g_enquire_now9 a {
    font-size: 14px !important;
    width: 100% !important;
    margin: 0px !important;
    max-width: 150px !important;
    padding: 10px 0 !important;
    display: block !important;
    min-width: 150px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}
.banner5_text, .banner6_text, .banner7_text.bnr_7_txt, .banner8_text, .banner9_text {
    width: 100% !important;
    padding: 75px 30px !important;
    margin: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 100% !important;
    text-align: left !important;
}
.banner6_text.padd_other_ad {
    padding: 146px 30px !important;
    background: #fff9 !important;
}
.banner5_text p, .banner4_text p, .banner6_text p, .banner7_text p, .banner8_text p, .banner9_text p {
    font-size: 15px !important;
    line-height: 1.5 !important;
}
.g_enquire_now7.sm_ap_btn {
    justify-content: unset !important;
}
.banner7_text.bnr_7_txt {
    padding: 128px 30px !important;
    background: #0000007d !important;
}
.banner8_text {
    background: #ffffff8f !important;
    padding:100px 30px !important;
}
.banner_mobile img {
    width: 100% !important;
}
.banner9_text {
    background: #15151575 !important;
}
.section9 {
    padding: 0 !important;
}
.products h2 {
    font-size: 22px !important;
}
}

@media (max-width: 767px) {

.row.icon_fst_sec {
    display: flex !important;
    flex-wrap: wrap !important;
} 
.row.icon_fst_sec .col-lg-3.col-md-3.col-sm-3.col-xs-12 {
    width: 50% !important;
}
.about_text_box.about_text_box_b {
    border-radius: 0 0 5px 5px !important;
}
.banner5_text, .banner6_text, .banner7_text.bnr_7_txt, .banner8_text, .banner9_text, .banner4_text{
    position: absolute !important;
}
.section5{
    padding: 0px !important;
}
.banner5_text h2 {
    color: #fff !important;
}
.gimg_box2 img {
    width: 100% !important;
}
.logo-footer a img {
    width: 180px !important;
    display: block !important;
    margin-bottom: 16px !important;
}
.decleration_pra {
    font-size: 13px !important;
    letter-spacing: 0.5px !important;
}

}



@media (max-width: 640px) {
.address3 {
    width: 100% !important;
}

.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
    width: 100% !important;
}

#user_pincode{padding: 0 10px 0 60px !important; width: 70% !important; }

/*02-12-2020*/
a.bfamazone {
    padding: 10px 9px !important;
}
.banner4_text {
    padding: 49px 30px !important;
}
.banner5_text{
    padding: 30px 30px !important;
}
.banner6_text.padd_other_ad {
    padding: 110px 30px !important;
}
.banner7_text.bnr_7_txt {
    padding: 46px 30px !important;
}
.banner8_text {
    padding: 44px 30px !important;
}
.banner9_text h2 {
    font-size: 22px !important;
}
.banner9_text {
    padding: 41px 30px !important;
}
.col-lg-3.col-md-3.col-sm-12.col-xs-12.products.fbox {
    margin-top: 20px !important;
}
.logo-footer a img {
    margin-bottom: 0px !important;
}
.products_list li a {
    font-size: 13px !important;
    letter-spacing: 0.5px !important;
}
.social_link {
    margin: 22px 0 0 0 !important;
}
.link_fp li {
    font-size: 14px !important;
    text-align: left !important;
}
.link_fp li a {
    font-size: 13px !important;
    font-weight: 400 !important;
    letter-spacing: 0.5px !important;
}
.g_text_box2 {
    min-height: auto !important;
}
.products h2 {
    font-weight: 500;
    letter-spacing: 0.5px !important;
}
.best_product h2 {
    font-size: 25px !important;
}
.about_text_box h2 {
    font-size: 22px !important;
}
.about_text_box p {
    font-size: 15px !important;
    line-height: 1.5 !important;
    letter-spacing: 0.5px !important;
}

.section3.s3_bg .g_text_box h2 {
    font-size: 15px !important;
}




}

@media (max-width: 480px) {
ul.top-bar-list {
    flex-wrap: wrap;
    justify-content: center;
}
.top-bar-list li a.bfamazone {
    margin-top: 12px;
}
.mbmenu-toggler span.title:after {
    line-height: 46px !important;
}
.bnr_static .banner_text{
    position: unset;
}
.bnr_static .banner_text h2 {
    font-size: 22px !important;
    text-align: left;
    color: #fff !important;
}
.bnr_static .banner_text p {
    text-align: left;
    line-height: 1.3;
    color: #fff !important;
}
.bnr_static .banner_text span {
    display: block;
    text-align: left;
    color: #fff !important;
}
.bnr_static .banner_text a {
    display: flex;
    align-items: center;
    justify-content: center;
    float: unset;
    margin-top: 15px;
}
.container_bg_a {
    padding: 25px 0;
    margin: 0 0 40px 0;
    background: #0065b2;
}
.best_product_text h2 {
    font-size: 25px !important;
}
.banner6_text.padd_other_ad {
    padding: 20px;
}
.g_enquire_nowmo.btn_2_desn {
    flex-wrap: wrap;
}
.g_enquire_nowmo.btn_2_desn a {
    margin: 12px 12px 0 0;
}
.banner7_text.bnr_7_txt {
    padding: 20px;
}
.section4 h2, .section5 h2, .section6 h2, .section7 h2, .section8 h2, .section9 h2, .section10 h2{
    font-size: 22px !important;
}
.mail_footer {
    margin: 0 0 22px 0;
}
.fbox2 .social_link {
    margin: 20px 0 5px 0;
}
.about_text_box.about_text_box_b {
    padding: 35px 30px 40px;
}
.address3 {
    width: 100%;
}

.frbt {
    font-size: 14px !important;
}

.address2 {
    min-height: auto !important;
    width: 100% !important;
}

.address {
    width: 100% !important;
    min-height: auto !important;
}
/*02-12-2020*/
.row.icon_fst_sec {
    margin-bottom: 25px !important;
}
.gimg_box:last-child {
    margin-bottom: 0 !important;
}
.banner5_text, .banner6_text, .banner7_text.bnr_7_txt, .banner8_text, .banner9_text, .banner4_text, .banner6_text.padd_other_ad {
    position: unset !important;
    padding: 30px 15px !important;
    background: #fff !important;
}

.banner5_text h2, .banner6_text h2, .banner7_text.bnr_7_txt h2, .banner8_text h2, .banner9_text h2, .banner4_text h2, .banner6_text.padd_other_ad h2{
    color: #0065b2 !important;
    margin-top: 0px !important;
}
.banner5_text p, .banner6_text p, .banner7_text.bnr_7_txt p, .banner8_text p, .banner9_text p, .banner4_text p, .banner6_text.padd_other_ad p{
    color: #4d4d4d !important;
}
.banner5_text h3, .banner6_text h3, .banner7_text.bnr_7_txt h3, .banner8_text h3, .banner9_text h3, .banner4_text h3, .banner6_text.padd_other_ad h3 {
    color: #0065b2 !important;
}
.product_list_home li, .product_list_home2 li {
    color: #4d4d4d !important;
}
.s9_bg {
    background: transparent !important;
}
.g_enquire_nowc a, .g_enquire_now5 a, .g_enquire_nowmo.btn_2_desn a, .g_enquire_now7.sm_ap_btn a, .g_enquire_nowmc a, .g_enquire_now9 a {
    background: #0065b2 !important;
    color: #fff !important;
}
.g_text_box2 h2, .g_text_box3 h2 {
    font-weight: 500 !important;
    font-size: 20px !important;
    letter-spacing: 0.5px !important;
    line-height: 1.3 !important;
}
.g_text_box2 h3 {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #0065b2 !important;
}
.srvs_call_and_whats_app a {
    padding: 8px 18px !important;
}
.top-bar-list li a.bfamazone {
    margin-top: 0 !important;
}
.top-bar-list li a {
    color: #fff !important;
}
.row.icon_fst_sec .gimg_box:hover {
    transform: scale(1.1) !important;
}
.products h2 {
    font-size: 20px !important;
}

section.key_feature {
    padding: 20px 0 30px 0 !important;
}
section.ask_sec {
    padding: 30px 0 !important;
}
.ask_sec h3 {
    font-size: 22px !important;
    margin-bottom: 18px !important;
}
.ask_sec p {
    font-size: 14px !important;
}
.wpcf7-form.init {
    margin-top: 30px !important;
}
input.gt_call_back {
    text-transform: uppercase;
    font-size: 16px !important;
    margin-top: 15px !important;
}
h2.same_heading {
    font-size: 22px !important;
}
.sme_p p {
    text-align: left !important;
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
}
#archive-product .term-description {
    margin-bottom: 0 !important;
}
.cstmmm_designnn_prodiii {
    padding: 0 15px !important;
}
.row.icon_fst_sec .gimg_box {
    width: 125px !important;
    padding: 8px !important;
    height: 125px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.section3.s3_bg {
    padding-top: 25px !important;
}

.default-page .entry-header h1.entry-title {
    font-size: 22px !important;
}

.default-page .entry-header h1.entry-title {
    font-size: 22px !important;
}
body{
    background: transparent !important;
}
.main-container .page-content .entry-content p {
    margin: 0 0 20px !important;
    text-align: left !important;
}
.main-container.default-page .page-content .entry-content .kf_heading a {
    color: #0065b2 !important;
    display: block !important;
    text-align: left !important;
    font-size: 18px !important;
    margin-bottom: 10px !important;
}
.csr-active {
    margin-bottom: 20px !important;
    text-align: left !important;
}
.feature_box figure {
    width: 125px !important;
    padding: 6px !important;
    transition: transform .2s;
    height: 125px !important;
}
.feature_box {
    margin: 10px 0 !important;
}
.enqu_a figcaption a {
    margin: 0 !important;
}
.enqu_a {
    overflow: hidden !important;
}
.cstmmm_designnn_prodiii p {
    color: #646361 !important;
    text-align: left !important;
    font-size: 15px !important;
    letter-spacing: 0.5px !important;
}
.products_list li {
    padding: 6px 0px !important;
    border-bottom: 1px solid #6666666b !important;
}
.col-lg-3.col-md-3.col-sm-12.col-xs-12.products.fbox {
    margin-top: 12px !important;
}
.social_link {
    margin: 13px 0 0 0 !important;
}
.mail_footer a {
    font-size: 13px !important;
    letter-spacing: 0.5px !important;
}
.link_fp li {
    padding: 9px 0 !important;
}
.g_text_box2 p, .g_text_box3 p {
    color: #4d4d4d !important;
}
/*.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
       max-width: 100% !important;
}*/
.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
    font-family: 'Montserrat', sans-serif !important;

}
    .woocommerce-form.woocommerce-form-login.login .input-text, .woocommerce-ResetPassword.lost_reset_password #user_login{
    border: 1px solid #ddd7d7 !important;
    background: #fff !important;
    padding: 13px 10px !important;
    min-height: auto !important;
    height: auto !important;
    border-radius: 5px !important;
    letter-spacing: 0.5px !important;
    color: #575555 !important;
    font-family: 'Montserrat', sans-serif !important;
     max-width: 100% !important;
}
.ask_sec .form-group .form-control {
    color: #919191 !important;
}
#loc_pinc .forminp {
    background: url(https://www.kutchina.com/wp-content/themes/vg-betashop/images/formbg1.png) no-repeat !important;
    width: 361px;
    height: 43px !important;
    border: none;
    float: left;
    padding: 0 0 0 65px !important;
    border: none !important;
    box-sizing: border-box;
    font-size: 15px;
    color: #fff;
    font-weight: lighter;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    letter-spacing: 0.5px !important;
}


.main-container.about-page .entry-title {
    font-size: 22px !important;
}
}

/*.main-container .product-view .summary.single-product-info .cart .single_add_to_cart_button{
    background: #ff8d00 !important;
}
.main-container .product-view .summary.single-product-info .cart .single_add_to_cart_button:hover{
    background: #26aafa !important;    
}*/


@media (max-width: 360px) {
#loc_but{
    border-radius: 0px 5px 5px 0px !important;
}

.frbt {
    width: 79px !important;
    height: 43px;
    font-size: 14px !important;
}

.srvs_call_and_whats_app a {
    padding: 8px 9px;
}


}

.product-view h2.yikes-custom-woo-tab-title {
    display: none;
}


/* FAQ Custom css*/
.hrf-entry h3.hrf-title {
    margin: 0 0 -80px 0;
}

.hrf-entry .hrf-content {
    margin: 54px 0 -70px 0;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.hrf-content p {
    margin: 0 0 0 0!important;
}

.hrf-content p{ margin:0 0 0 0!important;}

.hrf-title.close-faq {
    cursor: pointer;
    position: relative;
    z-index: 1000;
}
h3.hrf-title{
    margin: 0 0 -80px 0;
}

#quick_buy_15134_container {
    display: none;
}

.page-template-package_details_template a.added_to_cart.wc-forward {
    display: none;
}

.page-template-package_details_template .vgwc-product-price > .amount:last-child, .product-price > .amount:last-child, .compare-list .price > .amount:last-child, .price > .amount:last-child {

    display: none;
}

#mega_main_menu_ul1 li ul.mega_dropdown li ul.mega_dropdown li.drop_to_right a{
	background:none !important;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li:last-child:hover ul li a {
    background:none !important;
}

@media (max-width: 1920px) {
.mega_main_menu > .menu_holder > .menu_inner > ul > li#menu-item-15235:last-child {
    background: #ff8d00 !important;
    border-radius: 3px;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li#menu-item-15235:last-child a.item_link:after{
    border-width:0px !important;
}

.mega_main_menu > .menu_holder > .menu_inner > ul > li#menu-item-15235:last-child a.item_link{
	padding:8px 14px !important;
}

#mega_main_menu > .menu_holder > .menu_inner > ul > li#menu-item-15235:last-child > a{
    background: none !important;
}

#mega_main_menu > .menu_holder > .menu_inner > ul > li#menu-item-15235:last-child > a .link_content .link_text{
    color:#fff !important;
}
}

#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.default_dropdown > ul > li > .item_link > .link_content > .link_text {
  color: #818181 !important;
  line-height: 30px;
  font-size: 14px;
}

#header-menu #menu-item-15235 {
    margin-left: 13px;
}

.banner_pic img{
	width:100%;
}

.to-top {
    bottom: 75px !important;
}

.decleration_pra{
	margin-bottom:0px;
	color:#ffe6c0;
	padding-top:15px;
}

.footer_section1 .products_list{
	margin-bottom:0px ;
}
.quick_buy_container button.wc_quick_buy_button {
    display: none;
}